[2021-05-19 16:15] matttbe opened #195 "WARNING in sk_stream_kill_queues and inet_sock_destruct"
Similar to #172, I had this, without perf, with @pabeni's patches:

[code]

On top of yesterday's `export` branch with these 4 patches:

[code]

_Originally posted in https://github.com/multipath-tcp/mptcp_net-next/issues/172#issuecomment-844254432_

Also happening without `878282030ff0 mptcp: drop skb cache`, see #172

[2021-05-19 16:17] matttbe commented on #172
I just created #195 not to mix this with what https://github.com/multipath-tcp/mptcp_net-next/commit/e31f8077084df8ba1008bed6b03bbbb546f7b9f6 (`mptcp: fix sk_forward_memory corruption under memory pressure`) fixed.

[2021-05-19 16:44] matttbe commented on #193
@geliangtang: did you already look how far we are from a fullmesh one when using the current in-kernel PM with Netlink support?
By chance, do you have a list of what is missing?

[2021-05-19 16:58] #143 closed, assigned to dcaratti

[2021-05-21 12:25] matttbe commented on #192
When trying to reproduce #172 #192 #195 with:

[code]

I got:

[code]

[2021-05-23 12:29] Kenoko commented on #191
@matttbe
Sorry for asking you many time.
Could you please let me know how to make backup path?

[2021-05-23 12:43] VenkateswaranJ commented on #191
@Kenoko

Have you tried executing the command `ip mptcp add endpoint 192.168.20.2 dev enp0s9 backup` before starting the client & server? I mean based on your question I understand that you are executing the command on the client-side when the application is running?

[2021-05-23 13:47] Kenoko commented on #191
@VenkateswaranJ
Thank you for your support!
I executed this command before starting the application, however I couldn't make backup path.
I would like to know how to make active/standby structure.

@matttbe
Sorry, I shared incorrect tcpdump results. following is correct. so please check these tcpdump result.
The result of tcpdump

 **enp0s9 on client**

13:35:37.516946 IP 192.168.20.2.57007 > 192.

[2021-05-24 07:17] #176 closed, assigned to geliangtang

[2021-05-25 09:04] matttbe commented on #192
Using the same source code, I tried to get more details with `perf`:

[code]

But I don't have more details, I guess we didn't send RST :-/

[code]

Same with the `perf.data.old` file that refer to the previous test which passed with success

[code]

[2021-05-25 10:57] #192 closed, assigned to pabeni

[2021-05-25 19:36] darkwrat opened #196 "warn_bad_map on 5.12.0"
A proxy (shadowsocks ss-server) vps running 5.12.0 + patch from #178 (`mptcp: fix data stream corruption`) got the following splat after two weeks of uptime, inconsistent use and experimentation.
[code]

[2021-05-25 19:55] darkwrat commented on #196
Here is some nstat from the box.
[code]

[2021-05-26 08:55] matttbe commented on #195
Should be fixed thanks to @pabeni 's patch:

- 8ab3ae44f119: "squashed" in "mptcp: fix sk_forward_memory corruption
under memory pressure"
- 48d3c38d7829: tg:msg: update commit message
- Results: f80805721af4..9d8cf0870447

[2021-05-26 08:55] #195 closed, assigned to pabeni

[2021-05-26 09:37] matttbe commented on #191
Hi @Kenoko

Sorry, I was not available these last days (and I still have a lot of stuff to catch up).

Routes seem good.
From the traces you sent, there is no `backup` flag with the MP_JOIN on `enp0s9`. So indeed, there is an issue somewhere, either in the configuration or in the interpretation of the configuration.

I noticed that the command you sent was wrong: `ip mptcp add endpoint 192.168.20.

[2021-05-26 10:39] pabeni commented on #196
Hi,

Thank you for the report.

That patch entered DaveM '-net' tree and should land into vanilla soon (actually is quite strange it's taking so much, but that is a completely different problem ;)

whoops, looks like warn_bad_map() dumps the wrong info in one case, I'll send a patch. Anyhow the bug looks real.

We have a problem with tcp_add_backlog() which *could* cause the above. I'll send a pat

[2021-05-26 11:22] darkwrat commented on #196
Hi Paolo.

Yeah, I've been following it's fate, after the networking pull request gets through -- I'll move to corresponding 5.13-rcX from
rawhide-nodebug repo.

Thank you! I'm almost there with setting the thing up as a default gateway, so I'll stumble upon it sooner or later.

I've been using fq_codel+bbr lately, + one of the links is really lossy at times. Maybe I'll also try out the BBRv2 patc

[2021-05-27 04:14] Kenoko commented on #191
@matttbe Thank you for your reply despite your busy schedule.
Sorry I had a wrong copy-paste, and I paste the result `ip mptcp endpoint show`&`ip mptcp limits show` on client/server
__Clinet__

192.168.20.2 id 1 backup dev enp0s9
$ip mptcp limits show
add_addr_accepted 1 subflows 1

__Server__

192.168.40.2 id 1 signal dev enp0s9
$ip mptcp limits show
add_addr_accepted 1 subflows 1

However I coul

[2021-05-27 13:32] matttbe commented on #191
Strange, I will try to investigate more.

In theory, we should configure the client with:

    sudo ip mptcp endpoint add 192.168.20.2 dev enp0s9 subflow backup

(subflow is required)

And the server:

    sudo ip mptcp endpoint add 192.168.40.2 dev enp0s9 signal backup

I guess the order of the flags there should not change anything because all flags are sent to the kernel and read when needed bu

[2021-05-27 15:50] pabeni opened #197 "more mibs needed"
#196 showed more MIBs could help us get a better view of how MPTCP is peforming, specifically:

- bytes send
- DSS sent ???
- bytes retransmitted
more???

[2021-05-27 16:10] pabeni commented on #196
uhmmm... looks I was fooled. It seems that tcp_add_backlog() is safe.

I think the splat could be cause by legit traffic, when the peer falls back to TCP - we don't send infinite mapping - and the first plain TCP packet is coalesced by the TCP stack into the previous one carrying the DSS. Even this is quite hard to test. Possibly the right thing to to is convert the WARN_ONCE into a pr_warn()

[2021-05-27 16:45] matttbe commented on #192
@pabeni : I just managed to repro it, after a long time using this script on 3ebd090a8fbced052192198f1e95a5b0a3eb7c8f :

[code]

Here is the output:

[code]

And info from perf:

[code]

Should I open a new ticket?

Please tell me if you need more info, e.g. perf file + vmlinux :)

[2021-05-28 09:15] pabeni commented on #192
As I said it was either very good or very bad. Looks it's not the first option.

Yes, please: a different issues, as this is quite different: the TCP stack si sending the reset, as  tcp_child_process() return an error code. Likely related to:

TcpExtSyncookiesFailed          1                  0.0

(why the heck we have syncookie with a single client ?!?)

[2021-05-28 13:04] Kenoko commented on #191
@matttbe
Thank you for your checking!
I tried to make backup path on another diagram as below,but I couldn't do it. Could you please check following situation also?
![image](https://user-images.githubusercontent.com/83955735/119984216-192d6000-bffc-11eb-838c-fdec214fdfb2.png)

I executed `sudo ip mptcp endpoint add 192.168.20.2 dev enp0s9 subflow backup` on client as you mentioned.
I could see 'ba

[2021-05-28 16:53] matttbe commented on #191
@Kenoko when discussing about this bug at the last meeting, we were wondering if this issue has not been fixed in a more recent kernel. We remembered having fixed something around there.

By chance, could you try with a more recent kernel, e.g. 5.12?
e.g. built from https://kernel.ubuntu.com/~kernel-ppa/mainline/

[2021-05-28 20:31] darkwrat commented on #196
I've captured some splats -- on the client side this time. With
`mptcp: let warn_bad_map report relevant values`
`tcp: ensure that backlog coalescing don't break MPTCP DSS`
.. on top of 5.12.0

[code]

[2021-05-28 20:33] darkwrat commented on #196
And here are the counters from the client box.
[code]

[2021-05-29 04:34] Kenoko commented on #191
@matttbe

Thank you for your advice and support.I installed following kernels on client/server.
* 5.12.0-051200-generic
* 5.13.0-051300rc2-generic
* 5.12.0 (mptcp_net-next-export-20210430T165402)

I matched the kernel version between client and server and tried to make backup path. However the result was same as before.

the result is as below.

I could see 'backup flag' on enp0s9, however the tra

[2021-05-29 08:45] darkwrat commented on #196
The client box got stuck on me this morning, same boot as above. But I came prepared, here is dmesg (direct continuation from the [167849.044884] mark above).
[code]

[2021-05-29 10:17] matttbe opened #198 "selftests: connect: "poll timed out" (POLLERR/POLLNVAL) with syncookies"
When trying to repro #192, I found a similar issue.

This was done using this script on 3ebd090a8fbced052192198f1e95a5b0a3eb7c8f :

[code]

Here is the output:

[code]

And info from perf:

[code]

_Originally posted in https://github.com/multipath-tcp/mptcp_net-next/issues/192#issuecomment-849783156_

[2021-05-31 12:45] matttbe commented on #198
With these modifications:

[code]

I managed to reproduce it quicker:

[code]

Perf output:

[code]

[2021-05-31 16:13] matttbe commented on #191
Thank you for having checked that!

That's already better!
If now you see `backup` in the SYN+MP_JOIN in the packet traces, it means there was an issue in the Path Manager.

But if you see traffic over this interface while non backup path are still active, there is an issue on the packet scheduler side.

Mmh, maybe a similar issue in the PM is there for the server side if you don't see the backup

[2021-06-01 00:50] Kenoko commented on #191
@matttbe
Thank you for support!
I will wait for your checking

[2021-06-01 09:28] pabeni commented on #196
Hello,

Oh, this looks like an unrelated (meaning: different root cause) issue. Even if the bugged code is likely triggered by the warn bad_map above.

I'll file a different issue to track the problems independently.

[...]

You can drop this one, should not help.

Instead you can try pulling into your tree:

commit dea2b1ea9c705c5ba351a9174403fd83dbb68fc3
Author: Paolo Abeni <pabeni@redhat.com>
D

[2021-06-01 09:32] pabeni opened #199 "deadlock in subflow_error_report()"
Maxim reported:

[code]
It looks like we have a deadlock in subflow_error_report(): it tries to acquire the mptcp_data_lock(), but when called from __mptcp_move_skbs_from_subflow() -> mptcp_subflow_data_available, such lock is already held.

[2021-06-01 09:33] pabeni commented on #196
see #199

[2021-06-01 10:40] RuiCunhaM commented on #96
Hello,
this issue as already been fixed for Python 3.10+
https://github.com/python/cpython/pull/24946

[2021-06-01 13:40] matttbe commented on #96
Thx!

[2021-06-01 13:40] #96 closed, assigned to matttbe

[2021-06-04 15:47] pabeni opened #200 "fallback rx path is broken"
ok, it's almost as drastic as it sounds:

In fallback mode, tcp_rcv_established() we hit the fastpath/header prediction. Incoming data is usually enqueued via direct call to tcp_queue_rcv() and the mptcp_incoming_options() hook in tcp_data_queue() is usually not reached.

As a result, we could end-up delaying the writer wake-up or even stalling it completely.

That is somewhat perceivable even wit

[2021-06-04 20:06] #107 closed, assigned to nobody

[2021-06-04 20:31] #198 closed, assigned to nobody

[2021-06-04 20:37] #199 closed, assigned to pabeni

[2021-06-05 04:14] mjmartineau commented on #200
If the maintainers won't accept one more `unlikely()` branch on the fast path (hey, md5 gets a call in `tcp_v4_rcv()`), I don't know what option we have other than turning off header prediction. Can anything be plugged in elsewhere on the rx path that could nudge the MPTCP code?

[2021-06-05 07:33] matttbe opened #201 "Recent regression: selftests: connect: read: Resource temporarily unavailable"
The public CI detected this error starting from this job: https://cirrus-ci.com/task/6155769017008128 (debug kernel)

[code]

See: https://api.cirrus-ci.com/v1/artifact/task/6155769017008128/summary/summary.txt

When validating `export/20210604T203059`. This corresponds to the introduction of the patch: 48490d1c2717 (`selftests: mptcp: enable syncookie only in absence of reorders`).

This issue is

[2021-06-05 09:16] matttbe commented on #201
My CI also reported the issue with NS4 → NS2 and NS3 → NS2.

When trying locally, I can reproduce this error on top of `export/20210604T195755`, the one introducing 508f97cb7d94 (`mptcp: wake-up readers only for in sequence data`)

cc: @pabeni

[2021-06-07 13:32] matttbe commented on #197
Here is what was discussed at the last meeting:

      - "Partially" addressed by "mptcp: add MIB counter for invalid mapping"
      - but hard to cover everything
      - Still, we don't have indications about sent/received bytes for MPTCP connections:
          - or track segments/DSS
          - the receiver part is a bit more tricky: we might not be holding the MPTCP socket lock
          - tr

[2021-06-07 13:35] matttbe commented on #191
We quickly discussed about this issue at the last weekly meeting we have and something that should be checked is, when the backup flag is correctly set in the SYN, maybe the traffic we can see on this interface is only "reinjected" traffic. If the non backup link is lossy, we can have a lot of reinjections, see #177.

Is the non backup link lossy in your case? Is the backup link "fully used": is t

[2021-06-07 13:59] matttbe commented on #187
@fw-strlen if I'm not mistaken, this issue can be closed thanks to your patches:

- 480085ab2b4f: sock: expose so_timestamp options for mptcp
- 1dec92e1a886: sock: expose so_timestamping options for mptcp
- 1939fa553ab4: mptcp: sockopt: propagate timestamp request to subflows
- b31cc28dde50: mptcp: setsockopt: handle SOL_SOCKET in one place only
- e353d974b686: tcp: export timestamp helpers for mp

[2021-06-07 15:15] matttbe commented on #201
Fixed by @pabeni, thank you!

- b2427404975d: "squashed" in "mptcp: wake-up readers only for in
sequence data"
- Results: 3c5535f65726..e5d80c7af352

[2021-06-07 15:15] #201 closed, assigned to pabeni

[2021-06-07 17:24] dcaratti commented on #188
according to this test,

[code]
I think this ticket can be closed as-is. @matttbe correct?

[2021-06-07 17:55] matttbe commented on #188
@dcaratti good point, I missed that from: https://git.kernel.org/pub/scm/network/iproute2/iproute2-next.git/commit/?id=ff619e4fd3706f064a0325fcc70f811fb3027b85

Closing then :)

[2021-06-07 17:55] #188 closed, assigned to dcaratti

[2021-06-08 08:16] fw-strlen commented on #187
Agree, we can open new issues if needed, initial cmsg support was added by those commits, thus closing.

[2021-06-08 08:16] #187 closed, assigned to fw-strlen

[2021-06-08 08:38] matttbe opened #202 "Add sendmsg support for ancillary data"
#187 has added support for cmsg(3) to MPTCP receive path to support some specific options. We might want to do the same for the send path if we need to add MPTCP specific requirements (e.g. to enable something) or for IP, etc..

[2021-06-08 16:53] mjmartineau commented on #201
kbuild also picked this up in one build on Saturday. No failures since then.

[2021-06-10 11:05] Kenoko commented on #191
Thank you for your checking.
I checked non backup status, I think the link is normal.
I checked packet capture data on wire shark and there is no re-transmission.

[2021-06-11 09:18] matttbe opened #203 "PM: server: accept subflows"
With a simple setup, we can notice that no additional subflow is accepted by the server when the 'subflow' limit is set to 1.

Setup:

[code]

According to the doc, the subflow limit is only for additional subflows:

[code]

Here, we observe something different:

The client tries to create one addition subflow, that's good!
[code]

But it got rejected:
[code]

If I remove the second endpoint on th

[2021-06-11 10:12] matttbe commented on #191
I will need to check this in more details but with a simple setup, I can see a lot of traffic on the backup link:

Setup:
[code]

Utilisation:
[code]

Still, it looks like the backup link is only used to upload data of my bi-directional flow.

Be careful that here, we don't talk about TCP re-transmission but MPTCP re-injection: packets that were sent in one subflow but reinjected to another one.

[2021-06-11 14:47] matttbe commented on #183
This can be closed because these patches have been applied in our tree:

- 02acfcf0689f: mptcp: add sysctl allow_join_initial_addr_port
- cd1b6f6c2d8c: mptcp: add allow_join_id0 in mptcp_out_options
- ef3b48916d09: mptcp: add deny_join_id0 in mptcp_options_received
- 0704c54e490d: selftests: mptcp: add deny_join_id0 testcases
- Results: 1ba3eb627299..ae2f6282fc03

- de073c6ce650: "squashed" in "mp

[2021-06-11 14:47] #183 closed, assigned to geliangtang

[2021-06-14 16:39] pabeni opened #204 "wrong handling of 32bit ack wrap-around"
while testing interop. with mptcp.org, iperf3 tput goes to 0 after transferring a few GB from the net-next kernel to the .org one.

it looks the problem is bad handling of 32 bit ack wrap-around (.org sends 32 bit acks in the tested scenario)

[2021-06-15 00:43] mjmartineau opened #205 "Checksum interop problem with mptcp_trunk"
I did some tests with connections with checksums enabled, between the export branch and the multipath-tcp.org mptcp_trunk branch (v1 mode).

----
When the multipath-tcp.org kernel was listening, the connection would always fall back to TCP when the first data was sent by the upstream kernel. The multipath-tcp.org kernel was the first to fall back and stop sending MPTCP headers.

Wireshark doesn't

[2021-06-15 16:51] pabeni commented on #196
this should be addressed by the upstream commit:

commit 61e710227e97172355d5f150d5c78c64175d9fb2
Author: Paolo Abeni <pabeni@redhat.com>
Date:   Thu Jun 10 15:59:42 2021 -0700

    mptcp: do not warn on bad input from the network

[2021-06-15 16:51] #196 closed, assigned to pabeni

[2021-06-15 17:12] pabeni commented on #203
[...]

The above is buggy. Either subflow 2 on both ends or remove one of the endpoint: 'subflow 1' means at most a single subflow will be created. With the 2 specified endpoint, the client is asked to create 2 subflows, more or less in random order.

I get this behavior when using 'nc' for both the server and the client. This behavior is actually the correct/expected one, as 'nc' closes the liste

[2021-06-15 17:23] matttbe commented on #203
We should probably update the doc because it says the subflow limit is only for "additional" subflows. So if I want to have 2 subflows in total, I should set 1, no?

Mmh, that's a bit annoying for apps not build for MPTCP, no? :-/
I was using `mptcp_connect`

[2021-06-15 17:38] pabeni commented on #203
Sorry, I was not clear nor accurate. 'subflow 1' means at most a single _additional_ subflow will be created. The endpoint configuration attempts to create 2 _additional_ subflows.

Well, it depends on the specific app. Most [all?] applications accepting connections keep the listener socket open. If some want to enable mptcp on an unmodified application closing the listener socket after the first

[2021-06-15 17:41] pabeni commented on #205
@mjmartineau: this looks a mptcp.org bug???

[2021-06-15 19:17] mjmartineau commented on #205
@pabeni: Yes, I think so. Just wanted to get something recorded to share the pcap while figuring out the details of the problem.

[2021-06-16 14:58] pabeni commented on #191
[...]

[...]

The problem is that when the 'backup' flag is set, the flag is announced to the peer (that is: enforced in the opposite direction), but not set in the forward/egress direction. That is actually compliant with the RFC - the backup flag is a per direction feature - but very confusing.

There is a simple fix for this - setting the backup flag in both direction - but it will break active

[2021-06-16 15:06] matttbe commented on #191
If we tell the PM an endpoint has to be considered as backup, should it eventually ensure that the packet scheduler is also taking this into consideration even if the other peer didn't set the backup flag?

It is true that the backup flag is there to tell the other peer a path should be used as a backup one and it should use it only if there is no other non backup path available (still, not a _MUS

[2021-06-16 15:16] pabeni commented on #191
Right, the server is currently mirroring back the backup flag from ingress syn MPJ packet into the SYN-ACK reply.

But the client code is ignoring such bit - which is a bug, to be fixed.

The discussion about active backup still applies - when fixing such bug we additionally need a smarter in kernel PM.

[2021-06-16 15:39] matttbe commented on #128
From the last meeting (discussion with @mjmartineau & @pabeni )

    What about MPTCP connections without subflows:
    - the PM can still create/accept new connections later
    - the socket is in Established mode
    - if the subflow got reset individually?
    - Timeout?
    - Can be seen if there is a bug in the implementation
    - (MP)TCP keep alive?
    - Maybe best to keep the responsibili

[2021-06-17 09:36] pabeni opened #206 "MPTCP-level retransmission strategy is probably too aggressive."
in #196 Maxim reported several stats acquired in MPTCP transparent proxy deployment.

The number of MPTCP-level retransmission looks patologically high:

MPTcpExtMPTCPRetrans            249559             0.0
[...]
MPTcpExtOFOQueueTail            275929             0.0
MPTcpExtOFOQueue                283950             0.0
MPTcpExtOFOMerge                262221             0.0

because is comparab

[2021-06-17 10:37] pabeni opened #207 "better subflow closing/cleanup"
Currently the PM allows closing live subflows when deleting endpoints and or receinving a rm_addr option.

When such events happen the relevant subflow may have pending data in the write queue and/or in rtx queue. The pending data in the write queue has never been really transmitted to the peer, and likely even the data in the rtx queue never reached the other end - as the relevant link has gone d

[2021-06-17 10:51] pabeni opened #208 "better handing of ssk memory pressure in the TX path"
__mptcp_push_pending() and __mptcp_subflow_push_pending() allocate some fwd memory at the subflow level, for the pushed skbs and their contents - either via __mptcp_alloc_tx_skb() or mptcp_sendmsg_frag().

When such memory schedule fails, both __mptcp_push_pending() and __mptcp_subflow_push_pending() silently terminate, and the mptcp protocol will try to push again the data only on later sendmsg()

[2021-06-17 13:21] #204 closed, assigned to pabeni

[2021-06-17 13:25] #120 closed, assigned to nobody

[2021-06-17 16:33] matttbe opened #209 "Quicker use of backup subflows"
The RFC mentions that backup subflows should be used only if there is no other non backup subflows.

As discussed at the last meeting, the path manager could decide to close subflows if they are considered as defunct. (#207 is then required)

Another way is to mark subflows as defunct and let the packets scheduler to use backup subflow if needed.

We could imagine marking a subflow as defunct if n

[2021-06-17 16:48] matttbe opened #210 "Accept new subflows when the listening socket is closed or bind to one IP?"
For the moment, we don't accept new subflows even if the PM is configured to accept more except if the connection is done to a new endpoint with port (inconsistency?)

Note that (only few?) apps close the listening socket to accept only one connection. Maybe it is an exception?

Also some apps bind on one specific IP: then it is not OK to establish subflows to another endpoint. Maybe a wrong confi

[2021-06-18 14:28] matttbe commented on #210
Also, it can be interesting to document how to dimension the SYN backlog size if this is taken into consideration for new subflows (SYN+MP_JOIN)

[2021-06-18 14:32] matttbe commented on #209
It looks like this should be done by the link layer, not the transport one: it could be transient.

[2021-06-19 07:03] #56 closed, assigned to nobody

[2021-06-21 17:54] pabeni opened #211 "mptcp connection stalls when mptcp retransmission are disabled"
while experimenting with a tentative fix for #191, I noticed that an mptcp connections with a single subflow on a lossy link, can stalls if mptcp-level retransmissions are disabled (by hard/hackish) patch.

It looks like there are 2 underlaying issues:
- we send 0win probes only if mptcp_push_pending() && friends are invoked with no win space avail. If the "last" mptcp_push_pending fills completel

[2021-06-21 19:30] sdntechforum opened #212 "MPTCP v5.13 kernel compilation Fail to load/boot"
Hi All,

I have successfully complied the v5.13 kernel and set this to default. Please see the logs below. However when I reboot the device, I.  get the error -  ../grub-core/loader/efi/limux.c:119:can't allocate initrd
Then Kernel Panic ad just sits there. Any suggestions how can I load new kernel to boot.

##################
[asingh47@snuc-desktop x86_64]$ ls -l
total 1139208
-rw-rw-r--. 1 asing

[2021-06-23 14:40] matttbe commented on #212
Hi Amit,

Thank you for using MPTCP but I'm not sure we will be able to help you here as this error is not related to MPTCP.

From what I see, the 'initrd' is somehow too big. The RPM you have produced are huge, no? Almost 1GB from what I see.
Is it because all kernel options have been enabled?
In this case, I guess you need "a lot" of resources to start it. If you use a VM, you can re-dimension i

[2021-06-23 14:40] #212 closed, assigned to nobody

[2021-06-23 22:10] mjmartineau commented on #205
I think it's better to track this in multipath-tcp/mptcp#427, I'll add more information there.

[2021-06-23 22:10] #205 closed, assigned to nobody

[2021-06-24 16:02] #200 closed, assigned to pabeni

[2021-06-29 07:47] pabeni opened #213 "add MPTCP man page"
we currently lack a centralized hub/starting point for upstream documentation.

man 7 mptcp

could be possibly a good starting point.

It should describe briefly the protocol features link the relevant RFC, document the sysctl/proc interface, the sockopt() status,  the subflow creation/configuration and link to ip-mptcp man page

[2021-07-01 15:31] matttbe commented on #213
HowTo: https://www.kernel.org/doc/man-pages/

[2021-07-06 12:45] lebron89wu opened #214 "MPTCPv0.95 can't send package with URG"
Hi MPTCP team

We used mptcp to send urgent messages, and no URG flag was found in the captured messages. Check the code, the comment says "MPTCP urgent data is not yet supported", **so I want to ask why we can't send urgent data and whether we can make mptcp send urgent data?**

Thanks!

kernel/common/net/ipv4/tcp_input.c
/* This is the 'fast' part of urgent handling. */
_static void tcp_urg(stru

[2021-07-06 13:21] matttbe opened #215 "TCP Urgent pointer and MPTCP"
The RFC states:

https://www.rfc-editor.org/rfc/rfc8684.html#section-3.3.1-9

I guess we should at least check we don't have issues when receiving "Urgent data" on a subflow with Packetdrill.
And we properly react when checksum is set by ignoring the request.

[2021-07-07 21:08] #211 closed, assigned to pabeni

[2021-07-08 08:40] geliangtang commented on #193
@matttbe: Hi Matt, the fullmesh path manager patches are nearly ready. I'll send out the first version next week.

[2021-07-08 16:14] matttbe commented on #215
From the last meeting:

      - at least to make sure we don't have issue:
          - if from userspace we request it
          - if we receive one from the other side
          - Maybe something to check with packetdrill
      - URG point is "deprecated": probably we don't need to support it but best to make sure we don't have issue
      - (probably more "urgent" stuff to do with packetdrill)

[2021-07-12 17:02] matttbe commented on #189
Everything has been merged!
- https://github.com/the-tcpdump-group/tcpdump/pull/918
- https://gitlab.com/wireshark/wireshark/-/merge_requests/2995

Thanks!

[2021-07-12 17:02] #189 closed, assigned to dcaratti

[2021-07-15 08:43] geliangtang opened #216 "The infinite mapping support: kernel side"
Split from #52 "MP_FAIL support", to deal with the single subflow case MP_FAIL.

As defined in RFC8684, 3.7 Fallback:

https://www.rfc-editor.org/rfc/rfc8684.html#section-3.7-11

---------------------

**TODO list**
- [x] Improvements around the tests for patch 8/8:
  - [x] Comment around the TC command
  - [x] Add 'tcp_flags 0x10/0xff'
  - [x] Comment around the parsing (example of what you are p

[2021-07-16 10:01] #191 closed, assigned to matttbe

[2021-07-16 10:01] #207 closed, assigned to nobody

[2021-07-20 10:58] matttbe opened #217 "Support `IP_TRANSPARENT` and `IP_FREEBIND` (TProxy use-case)"
As report on https://github.com/multipath-tcp/mptcp/issues/427#issuecomment-873621896 , `IP_TRANSPARENT` is currently not supported with MPTCP.

[code]

[2021-07-22 16:15] matttbe opened #218 "Add support for MPTCP_INFO, similar to TCP_INFO"
Can be inspired by the feature from mptcp.org:
- http://multipath-tcp.org/pmwiki.php/Users/ConfigureMPTCP
- https://github.com/multipath-tcp/mptcp/commit/0b4d84dffa2635be03b970eaa97007f8ac6e3216
- https://github.com/multipath-tcp/mptcp/blob/mptcp_v0.95/include/uapi/linux/tcp.h#L284

[2021-07-22 16:15] matttbe commented on #218
Florian already shared a first RFC on the ML: https://patchwork.kernel.org/project/mptcp/patch/20210722150154.10608-1-fw@strlen.de/

[2021-07-28 12:34] matttbe commented on #15
Can be closed thanks to @pabeni 's series:
- 9030cfa001f6: "squashed" (with conflicts) in "mptcp: move drop_other_suboptions check under pm lock"
- ef6b13c8bbad: mptcp: optimize out option generation
- 7547285ef776: mptcp: shrink mptcp_out_options struct

[2021-07-28 12:34] #15 closed, assigned to nobody

[2021-07-28 23:39] mjmartineau commented on #52
[mp_join-01-ns1-0-D2LlXf.pcap.gz](https://github.com/multipath-tcp/mptcp_net-next/files/6896964/mp_join-01-ns1-0-D2LlXf.pcap.gz)

Attached pcap (running v6 patch set with @geliangtang test code) shows:

1. The checksum failure is detected, a packet is sent with MP_FAIL.
However, the packet also has data payload and no DSS option.

2. The peer receives MP_FAIL, and echoes back. But it sends two TCP

[2021-07-29 15:24] cpaasch opened #219 "[syzkaller] divide error in tcp_write_xmit"
[code]

HEAD:
ab492b0cda37 ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20210811T054647) (6 days ago) <Matthieu Baerts>
ae04382d2db0 ("DO-NOT-MERGE: mptcp: add CI support")  (6 days ago) <Matthieu Baerts>
41cdd20cf8d3 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (6 days ago) <Paolo Abeni>
b48a74dab069 ("DO-NOT-MERGE: git markup: features other trees")  (6 days ago) <Matt

[2021-07-29 20:48] dcaratti opened #220 "support for setsockopt(SOL_IP)"
add kernel support for `setsockopt(SOL_IP)`, since `mptcp_supported_sockopt()` [returns](https://elixir.bootlin.com/linux/v5.14-rc3/source/net/mptcp/sockopt.c#L409) `true` but then nobody [handles](https://elixir.bootlin.com/linux/v5.14-rc3/source/net/mptcp/sockopt.c#L612) `SOL_IP` in `mptcp_setsockopt()`.

implement support for IP_TOS and assess  the correct behavior using packetdrill

[2021-07-29 20:49] dcaratti commented on #220
@spoorva is working on this

[2021-07-30 09:44] pabeni commented on #219
@martineau: I can exclude this could be cause by:

 mptcp: optimize out option generation
or
 mptcp: move drop_other_suboptions check under pm lock

@cpaasch: if you are able somehow trigger this issue, can you please try the following debug patch:
[code]

[2021-08-03 16:00] matttbe commented on #193
Can be closed thanks to Geliang's patches:

- 8235745392a1: mptcp: drop flags and ifindex arguments
- 31e4fdaf9c0b: mptcp: remote addresses fullmesh
- 6ad65bd12896: mptcp: local addresses fullmesh
- 3faae7f56182: selftests: mptcp: set and print the fullmesh flag
- ee6f6d4a5b48: selftests: mptcp: add fullmesh testcases
- 68e72848611e: selftests: mptcp: delete uncontinuous removing ids
- Results: d5

[2021-08-03 16:00] #193 closed, assigned to geliangtang

[2021-08-04 08:31] matttbe opened #221 "selftests: join: "backup flow used, multi links fail" is unstable"
Here is what my CI just reported with the latest export branch and a debug kernel:

`ack`, `echo` and `stale` have failed:

[code]

Could it be a timing issue?

[2021-08-04 08:55] matttbe commented on #221
I got a similar issue with the previous build with the export branch from yesterday evening (same MPTCP code as today):

[code]

[2021-08-04 08:57] matttbe commented on #221
Yet another one:

[code]

[2021-08-04 09:59] matttbe commented on #220
@spoorva : please assign yourself on this ticket once you joined mptcp-upstream-devs team.

[2021-08-04 10:02] matttbe commented on #52
Can be closed thanks to @geliangtang 's patches now in our tree:

- 6bf0897526b8: mptcp: MP_FAIL suboption sending
- 913f5ee5f5e8: mptcp: MP_FAIL suboption receiving
- cce924a902eb: mptcp: send out MP_FAIL when data checksum fails
- e14356532033: mptcp: add the mibs for MP_FAIL
- 77405167d756: selftests: mptcp: add MP_FAIL mibs check
- Results: 7706daf6fd74..d2d5ed438884

[2021-08-04 10:02] #52 closed, assigned to geliangtang

[2021-08-04 12:11] matttbe commented on #221
and another one:

[code]

[2021-08-04 18:03] matttbe commented on #206
Can be closed thanks to Paolo's patches from last week:

12375127  [v2,mptcp-next,8/8] selftests: mptcp: add testcase for active-back
12375125  [v2,mptcp-next,7/8] mptcp: backup flag from incoming MPJ ack option
12375121  [v2,mptcp-next,6/8] mptcp: add mibs for stale subflows processing
12375123  [v2,mptcp-next,5/8] mptcp: faster active backup recovery
12375119  [v2,mptcp-next,4/8] mptcp: cleanup

[2021-08-04 18:03] #206 closed, assigned to pabeni

[2021-08-04 18:05] matttbe commented on #42
Indeed. What's left to be done is the receive path which is "less urgent" (the structure is not used in all TCP packets)

[2021-08-04 18:11] matttbe opened #222 "Netlink event API: add SUBFLOW_CREATED event"
For the moment, there is no event when a subflow has been created, only when it has been established.

If we have this situation:
- the userspace PM creates a subflow -- when the command will be available, see #186 -- without specifying the src port/address.
- the subflow is never established, e.g. SYN are dropped
- the userspace is not able to destroy the subflow -- again, when the command will b

[2021-08-04 23:46] mjmartineau opened #223 "[syzkaller] Memory leak in mptcp_nl_cmd_add_addr"
[code]

Config: [config.txt](https://github.com/multipath-tcp/mptcp_net-next/files/6934922/config.txt)
Reproducer: [repro.cprog.gz](https://github.com/multipath-tcp/mptcp_net-next/files/6934952/repro.cprog.gz) [repro.prog.gz](https://github.com/multipath-tcp/mptcp_net-next/files/6934953/repro.prog.gz)

[2021-08-05 18:42] matttbe commented on #219
@mjmartineau : By chance, do you have his syskaller issue on your side as well?
Because Christoph will not be able to look at that this week.

[2021-08-05 20:30] mjmartineau commented on #219
@matttbe I've never seen this one in my syzkaller setup

[2021-08-06 10:13] matttbe commented on #219
@mjmartineau  Thank you for having looked! Probably a different syzkaller config!

[2021-08-10 17:22] pabeni commented on #221
there are 2 problems:
- if the file sent by the client is not big enough -  relevantly bigger than the max cwin value, the link usage will be "random" because a full cwin could be rejnected at link failure time
- since we always clear the mptcp option for add_addr, on established connection, we can clear MPJ ACK opt and break the MPJ handshake

[2021-08-11 07:15] matttbe opened #224 "support for `setsockopt(TCP_INQ)`"
For more details about `TCP_INQ`: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=b75eba76d3d72e2374fac999926dafef2997edd2

I don't think this sockopt is heavily used but feel free to comment here if it is needed.

[2021-08-11 10:30] fw-strlen commented on #222
We could suppress SF_CLOSED for subflows that were never announced.
I think that for purpose of 'canceling' a subflow connect request it would make more sense to me to support
the NLM_F_ECHO flag in the 'create' api so that mptcpd learns some identifier that it can use to
terminate the connection request when it sends the appropriate create command.

[2021-08-11 14:05] matttbe commented on #222
Indeed. For me, receiving an event for an unknown subflow is not a big deal: anyway the userspace app has to manage this case in case events are lost, the app is restarted, etc.

Good point, I didn't think about that!
Will the advantage be that only the creator of the subflow will get the notification?
From what I see; the creator will not have to "block" so it seems good.

I was thinking about a

[2021-08-11 14:33] matttbe opened #225 "selftests: join: "remove subflows and signal" is unstable"
With a debug kernel, with and without [Paolo's patches](https://patchwork.kernel.org/project/mptcp/list/?series=529751); I have this error:

[code]

[2021-08-11 14:34] matttbe commented on #221
Thank you for your analysis! (and your [patches](https://patchwork.kernel.org/project/mptcp/list/?series=529751))

When trying to reproduce this error locally, I hit another issue, see #225.

[2021-08-12 06:54] matttbe commented on #221
Reported issues are now fixed thanks to Paolo's patches:

- 3b6b8c96b67c: "squashed" patch 1/2 in "selftests: mptcp: add testcase for active-back"
- Results: e41bc27ecfa9..c636d849945e

- 32c3e4d50806: "squashed" patch 2/2 in "mptcp: move drop_other_suboptions check under pm lock"
- Results: c636d849945e..3e7443d82746

@pabeni Do you prefer to keep the issue #221 open or should we open a new one?

[2021-08-12 14:20] matttbe commented on #221
the patch 32c3e4d seems causing a regression in packetdrill tests (`add_addr4_port_client.pkt` & v6):
- an ADD_ADDR is sent by the server after the 3WHS
- the client now replies by a dup ACK: the 3rd-ACK is retransmitted.

See: [issue-221-no-echo.zip](https://github.com/multipath-tcp/mptcp_net-next/files/6976093/issue-221-no-echo.zip)

It is unclear what should be the reaction of the client if we

[2021-08-12 15:08] cpaasch commented on #219
I have no reproducer for this issue and up to now it has only happened once. So, seems pretty rare or it has disappeared.

[2021-08-13 16:43] matttbe opened #226 "selftests: `mptcp_join.sh -l`: copyfd_io_poll: poll timed out error"
When working on a fix for #221, @pabeni found another issue:

[code]

The root cause seems to be here:

[code]

From Paolo;

[2021-08-13 17:52] RuiCunhaM commented on #190
Hi!
So I noticed this issue when doing some tests, and I was about to submit a fix for Wireshark, but I'm in doubt about the best designation for the flag. From the RFC I was going with "No more Subflows", but reading this issue and the

part I am no longer sure what is the most intuitive designation.
Ideas in which one is the best?

[2021-08-16 10:32] matttbe commented on #190
Hi @RuiCunhaM

Thank you for looking at that.

Good point, indeed this option is not clear. When a host set this flag in the MP_CAPABLE option, it means "_do NOT send an additional subflow request to this source IP and port_":

I don't know how many words we can have here but it is not easy to only use a few words while still having a clear explanation :)
Maybe: _No more subflows on initial addr/p

[2021-08-16 13:04] RuiCunhaM commented on #190
Hi @matttbe, thanks for answering.

To be honest in Wireshark there is a decent amount of room to work with, so I believe your suggestion fits perfectly. I definitely agree that saying "initial addr/port" it's important to reflect what is stated in the RFC.

In TCPDump however, now that I also looked at it, they seem to be a bit more conservative, so it will be a bit more difficult to fully descri

[2021-08-16 13:24] matttbe commented on #190
Great, let's try this then!

Yes, I was thinking about that too. We might have to mention a very few words I guess,  something like `C flag` or just `C`.

[2021-08-16 13:37] RuiCunhaM commented on #190
https://gitlab.com/wireshark/wireshark/-/merge_requests/3890

Probably, I don't think we can get a way with much more than that.

[2021-08-16 13:50] matttbe commented on #190
Thanks!

I hope you don't mind if I assign this task to you not to have someone else working on it (even if I hope people read comments before starting implementing something ;-) )

[2021-08-16 14:01] RuiCunhaM commented on #190
Haha no problem at all

[2021-08-18 07:02] matttbe commented on #221
Now that an extra patch has been added:

- 3c39f1cc7dcb: mptcp: full fully established support after ADD_ADDR

We can close this ticket.

[2021-08-18 07:02] #221 closed, assigned to pabeni

[2021-08-18 07:04] matttbe commented on #223
Can be closed thanks to @pabeni and @geliangtang 's analysis and work (and reviewed by @mjmartineau ):

- bbffcd9faae3: mptcp: fix memory leak on address flush
- Results: a5b32fb5c3ca..55f3937bfef4

[2021-08-18 07:04] #223 closed, assigned to geliangtang

[2021-08-18 19:18] matttbe commented on #218
Can be closed thanks to Florian's patches:

- d6eeba5de1d0: mptcp: add new mptcp_fill_diag helper
- d21d692880d0: mptcp: add MPTCP_INFO getsockopt
- b3b5ec766eea: mptcp: add MPTCP_TCPINFO getsockopt support
- efd9c3320c75: mptcp: add MPTCP_SUBFLOW_ADDRS getsockopt support
- f8d31bf4060d: selftests: mptcp: add mptcp getsockopt test cases
- Results: e2ce4b28903e..ab36a40efeaf ( export/20210818T19172

[2021-08-18 19:18] #218 closed, assigned to fw-strlen

[2021-08-18 22:53] RuiCunhaM commented on #190
Everything has been merged:

TCPDump: https://github.com/the-tcpdump-group/tcpdump/pull/934

Wireshark: https://gitlab.com/wireshark/wireshark/-/merge_requests/3890

I think this can be closed.

[2021-08-19 10:06] matttbe commented on #190
Great, thank you, it looks good!

Do not hesitate if you see any missing features or issues ;-)

[2021-08-19 10:06] #190 closed, assigned to RuiCunhaM

[2021-08-19 15:23] mjmartineau commented on #219
syzkaller just found something that might be similar, has happened 3 times:

[code]

Kernel code: export/20210817T164404

[2021-08-19 15:30] mjmartineau commented on #219
@pabeni Earliest `__tcp_select_divide()` error was 8 August, stack traces are the same all three times.

[2021-08-20 08:06] matttbe commented on #42
"Sadly", this #42 ticket can be closed thanks to @pabeni 's patches:

- 43bb18ab33aa: mptcp: do not set unconditionally csum_reqd on incoming opt
- a232edf92729: mptcp: better binary layout for mptcp_options_received
- 8b88edd207eb: mptcp: consolidate in_opt sub-options fields in a bitmask
- 2cea5d97a2ff: mptcp: optimize the input options processing
- Results: 720da4811476..6d620b4d8c2b

Builds an

[2021-08-20 08:06] #42 closed, assigned to pabeni

[2021-08-20 14:33] pabeni commented on #219
@mjmartineau: could you please try if the following patch solve the issue:
[code]

[2021-08-20 18:11] mjmartineau commented on #219
@pabeni Do you still want me to try the min ~MTU~ MSS patch above, or is [your patch on the mailing list](https://patchwork.kernel.org/project/mptcp/patch/286de8f451b32f60e75d3b8bcc4df515e186b930.1629481305.git.pabeni@redhat.com/) the better one to be testing now?

[2021-08-23 08:00] matttbe opened #227 "selftests: `simult_flows`: hit `WARN_ON_ONCE(!mpext)`"
Probably caused by 5d8855f6a71f ("mptcp: fix possible divide by zero", cc @pabeni ), my CI reported a `WARN` was emitted when running `simult_flows` with a non debug kernel:

[code]

We hit this `WARN` in `mptcp_sendmsg_frag()`: https://github.com/multipath-tcp/mptcp_net-next/blob/1c685f648ffc4939208bbab84c1601eb9a29de52/net/mptcp/protocol.c#L1361-L1365

[2021-08-23 08:02] matttbe commented on #227
Confirmed by the public CI: https://cirrus-ci.com/task/4780580043751424
https://api.cirrus-ci.com/v1/artifact/task/4780580043751424/summary/summary.txt

[2021-08-23 08:45] pabeni commented on #227
yep, that is caused by the leak fix attempt.

Either:

[code]
or:
[code]
should address the issue. The first option is safer, but removes the allocation benefit brought by the culprit commit.
The second option is prone to at least a race: if sysctl_max_skb_frags is reduced between the newly introduced test and the following tcp_build_frag() call, the warn can still happen. But it also preserver th

[2021-08-23 08:52] matttbe commented on #227
@pabeni: Thank you for the very quick reply!

I can try to reproduce the issue locally and check if your patches address the issue.
I guess the second one is better. Worst case, we have a warn, right?

[2021-08-23 09:24] matttbe commented on #227
@pabeni I have some issues with the second patch:

[code]

[2021-08-23 11:05] pabeni commented on #219
I think there are different root causes/issues coming into place here. The posted patch should address a real issue, but not related to any of the call trace reported here. The change proposed here could possibly address the root cause for the issue/backtrace reported by you. So I kindly ask you to run syzkaller on the above. I don't think the patch posted on the ML will affect your case.

[2021-08-23 13:22] matttbe commented on #227
Please note that the tests are running in a loop for a bit of time on my side with the first patch without issue.

[2021-08-23 14:18] pabeni commented on #227
uhm... the 2nd patch was a bit rough. It needs a little more changes. This version:

[code]
should be better - at least does not splat here after a few iterations.

[2021-08-23 16:02] matttbe commented on #227
@pabeni: thank you for this new version. It looks better indeed!

After 18 attempts, one test failed but I guess I was just unlucky:

[code]

[2021-08-23 17:01] matttbe commented on #227
I did 85 more iterations without issues so I guess I was just unlucky here.

[2021-08-23 17:05] matttbe commented on #209
@pabeni no objection for me to close this ticket? :)

[2021-08-23 23:55] mjmartineau commented on #219
@pabeni Ok, running the above changes with current 2021-08-23 export branch. Syzkaller didn't catch any more divide-by-zero errors running with 2f9bf3d80ffe7f23896df4ed9848358eb84f1e73 `mptcp: fix possible divide by zero` over the weekend.

[2021-08-24 07:39] pabeni commented on #209
implemented by:

ff5a0b421cb2 mptcp: faster active backup recovery

[2021-08-24 07:39] #209 closed, assigned to nobody

[2021-08-24 07:43] pabeni commented on #227
[code]
This is really an instance of issue #137, and a quite unlucky one, since we are off by only 2ms ;)

[2021-08-24 16:08] somnathjena2011 opened #228 "dmesg giving wrong output regarding MPTCP"
I was configuring a new linux kernel 5.6.9 from my Ubuntu 20.04 linux kernel 5.11.0-27-generic.
On doing **dmesg | grep MPTCP** in **5.11.0-27-generic**, following was the output:
[    1.084739] MPTCP token hash table entries: 4096 (order: 4, 98304 bytes, linear)

On doing **dmesg | grep MPTCP** in **5.6.9**, following the output was NULL

Here are the **configurations regarding MPTCP in 5.11.0-27

[2021-08-24 16:33] matttbe commented on #227
Fixed thanks to Paolo's patches:

- 56344a303b57: "squashed" in "mptcp: fix possible divide by zero"
- fa7fdd39cdd2: tg:msg: update commit message after squash-to patch
- Results: e4be38126ede..d9f4bc9e6463

Builds and tests have ran:

https://cirrus-ci.com/github/multipath-tcp/mptcp_net-next/export/20210824T100358
https://github.com/multipath-tcp/mptcp_net-next/actions/workflows/build-validation.

[2021-08-24 16:33] #227 closed, assigned to pabeni

[2021-08-24 16:41] matttbe commented on #228
Hello,

First, be careful that there are two major MPTCP implementation in the Linux kernel: https://github.com/multipath-tcp/mptcp_net-next/wiki#upstream-vs-out-of-tree-implementations

Here you are using the upstream implementation and reporting an issue on the 'out-of-tree' project.
I'm going to move this to the other project.

[2021-08-24 16:43] matttbe commented on #228
I'm not sure to understand your question.

MPTCP in the upstream kernel is still under development: https://github.com/multipath-tcp/mptcp_net-next/wiki#changelog
Some features have been added later like the token hash table.
If you don't see it in your v5.6 kernel, it doesn't mean MPTCP is not available. There are other ways to check MPTCP is available: https://developers.redhat.com/blog/2020/08/

[2021-08-24 16:47] fw-strlen commented on #226
Looks like at least following sequence leads to hang:
1. mptcp_pm_nl_subflow_chk_stale() -> __mptcp_retransmit_pending_data -> sets rtx_head->data_ready = 0
2. mptcp_pm_nl_subflow_chk_stale -> __mptcp_push_pending() -> makes no more progress
3. next retrans event makes no progress either since info.limit will be 0.

I'm testing with this change:

[code]

... it appears to greatly reduce the poll t

[2021-08-24 17:03] somnathjena2011 commented on #228
Thanks very much for the clarification. I checked using the sysctl command
and think MPTCP is enabled.
You can close it now.

On Tue, 24 Aug 2021 at 22:13, Matthieu Baerts ***@***.***>
wrote:

[2021-08-25 07:54] matttbe commented on #226
@fw-strlen thank you for looking at that, it looks great!
Do you mind if I assign you to this issue? (not to have multiple people looking at it, just in case :) )

[2021-08-25 08:00] matttbe commented on #228
:+1:

One last thing before closing this ticket: MPTCP on a v5.6 has very limited features. It was enough to start getting some apps ready but not sure there is an interest to use MPTCP with only one subflow :)
https://github.com/multipath-tcp/mptcp_net-next/wiki#changelog

[2021-08-25 08:00] #228 closed, assigned to matttbe

[2021-08-25 13:45] pabeni commented on #226
[code]
If we want to limit the retransmit to the already xmittted data, I think something alike the following should do:

[code]

I'm also wondering if there is real need to enforce the above constraint. If not, we could always set

`     info->limit = dfrag->data_len;`

regardless of msk->recovery

[2021-08-25 14:28] matttbe commented on #226
I think my CI just managed to reproduce this issue with a non debug kernel. I'm sharing the output just in case:

[code]

What is "funny" is that all items are marked as `[ ok ]` :)

[2021-08-25 14:33] pabeni commented on #226
[...]

The problem, I think, is that in this case the stale/recover mismatch (stale - recover != 2) happens in the opposite direction, and currently we do such check only in one netns.

[2021-08-25 16:43] mjmartineau commented on #219
Saw the same syzkaller error twice last night - tag export/20210824T164010 (43e735f7eccb151acc4dc85d0cfc6fb970ddd50d) plus @pabeni's suggestion above. Exactly the same stack trace.

[2021-08-25 17:31] mjmartineau commented on #219
I think the error I'm seeing might be happening when the PM tries to send an ADD_ADDR before a subflow is fully initialized. `mptcp_pm_nl_addr_send_ack()` grabs the first subflow off of conn_list and calls `tcp_send_ack()` on it without checking the connection state.

Might be only a mptcp-next thing after adding fullmesh? I'll likely split this in to a separate bug.

[2021-08-25 22:24] mjmartineau opened #229 "[syzkaller] divide error in __tcp_select_window - path manager"
syzkaller has found a recurring crash:

[code]

It appears that this is due to `mptcp_pm_nl_addr_send_ack()` not checking the subflow socket state before using `tcp_send_ack()`.

This was previously discussed in the comments for #219, but appears to be an entirely separate problem.

[2021-08-25 22:26] mjmartineau commented on #219
Separating the `mptcp_pm_nl_addr_send_ack()` error in to a new issue, #229

[2021-08-26 00:59] mjmartineau commented on #229
Proposed patch (thanks @pabeni):

https://lore.kernel.org/mptcp/20210826004601.196834-1-mathew.j.martineau@linux.intel.com/

[2021-08-26 13:46] matttbe commented on #219
This #219 issue should be fixed thanks to patches from Paolo:
- 5d8855f6a71f: mptcp: fix possible divide by zero
- Results: 84fc11b83a29..653135eedf64
- 56344a303b57: "squashed" in "mptcp: fix possible divide by zero"
- Results: e4be38126ede..d9f4bc9e6463

Builds and tests:
- https://cirrus-ci.com/github/multipath-tcp/mptcp_net-next/export/20210824T100358
- https://github.com/multipath-tcp/mptcp_n

[2021-08-26 13:46] #219 closed, assigned to nobody

[2021-08-26 18:21] #229 closed, assigned to mjmartineau

[2021-08-31 19:41] matttbe commented on #137
@pabeni Here are some captures  [captures.zip](https://github.com/multipath-tcp/mptcp_net-next/files/7086407/captures.zip)

For this output (I stripped tcpdump's output, no packets have been dropped by kernel):

[code]

Do you also need capture when "everything is OK"?

EDIT: this was with a "debug" kernel.

[2021-09-04 08:55] matttbe opened #230 "selftests: mptcp_connect: poll timed_out"
With the latest version from the export branch -- `export/20210904T080009`: including recent changes to remove `tcp_tx_skb_cache` -- the public CI complains that there is a new issue with `mptcp_connect` selftest when using a kernel with a debug config:

[code]

More details: https://cirrus-ci.com/task/6713884468838400

cc: @pabeni

[2021-09-11 05:56] #226 closed, assigned to fw-strlen

[2021-09-16 14:36] fw-strlen commented on #186
The mptcp_trunk command types needed for this are:
MPTCP_CMD_ANNOUNCE = 4,
MPTCP_CMD_REMOVE = 5,
MPTCP_CMD_SUB_CREATE = 8,
MPTCP_CMD_SUB_DESTROY = 9,

Unfortunately, ANNOUNCE/REMOVE conflict with
MPTCP_PM_CMD_FLUSH_ADDRS and MPTCP_PM_CMD_SET_LIMITS.
CREATE/DESTROY work because those index numbers are still available.

One way would be to overload these two and make their behaviour dependant on the

[2021-09-21 00:03] mjmartineau opened #231 "Static analysis - possible NULL dereference in mptcp_get_sub_addrs()"
As reported on the mptcp and netdev mailing lists by @rtg-canonical:

[code]

This may be a false positive by the static checker. The main question is whether `sk_fullsock()` can ever return NULL in this part of the code. For this to happen, the subflow would have to be on the `msk->conn_list` even though a subflow disconnect was initiated locally. This doesn't look like it's expected, but need to

[2021-09-21 19:16] mjmartineau commented on #186
@fw-strlen: Any thoughts on "option 4": keep the symbolic command names and attributes, and use different index numbers for everything upstream.

I had been thinking we were not concerned about binary compatibility with the fork, just reusing the API design.

[2021-09-23 15:13] mjmartineau commented on #186
Maybe my option 4 is what @fw-strlen was saying with option 1, other than the exact names - so a chance that we're in agreement there

[2021-09-23 15:26] fw-strlen commented on #186
Would create failing/oddly-acting binary in ase package is built with the 'wrong' headers.
If thats okay, then sure, this could be done.

I thought it was cleaner to re-do everything, the API would look pretty similar though.

[2021-09-25 01:09] sdntechforum opened #232 "Kernel Compilation failed"
Hi All,

Kernel compilation is failing with following error -

error: 'EM_RISCV' undeclared (first use in this function); did you mean 'EM_CRIS'?

Anyone seen this before ?

Thanks,
Amit

[2021-09-25 13:29] sdntechforum commented on #232
Can someone please suggest a working code in mptcp_net_next branch and how to download that ? I am looking to run mPTCP version 1 only.

[2021-09-25 14:35] dcaratti commented on #232
hello @sdntechforum can you try appying  [upstream commit fe7118f4742f ](https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/commit/?h=next-20210924&id=fe7118f4742f8c26e532c63bb498283b73e24d7d) ? that should fix your error.

[2021-09-30 14:55] pabeni commented on #231
I double checked the relevant code paths and I think !np is not a possible condition in mptcp_get_sub_addrs().

Additionally, the address returned to user-space is zeroed at the beginning of such function, and I think that silencing the static checker is cheap and good, so Tim's patch looks correct to me:

https://marc.info/?l=linux-netdev&m=163215255522383&w=2

I would simply add a WARN_ON_ONCE()

[2021-09-30 16:11] spoorva opened #233 "Receiver key overwritten in a packet with mpc+data"
when creating an outbound packet with mpc and data set, it was observed that the receiver key's value is not set when checksum checking is enabled. This could be due to restructuring of struct mptcp_out_options .

[2021-09-30 16:35] matttbe commented on #232
The upstream commit is in [Linus' tree](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/scripts/sorttable.c?id=d09c38726c78effaf910a1e3f31e247b5b031d56) and I expect to be very soon in net-next, probably tomorrow in our `export` branch.
Because it is not related to MPTCP, I guess we can close this issue.

Commit: d09c38726c78effaf910a1e3f31e247b5b031d56

[2021-09-30 16:35] #232 closed, assigned to nobody

[2021-09-30 16:38] matttbe commented on #230
The public CI no longer reported this issue. Last occurrence was on the 9th of September.

Probably similar to #226 then.

[2021-09-30 16:38] #230 closed, assigned to nobody

[2021-09-30 16:45] matttbe commented on #194
At a previous meeting, we decided to close this ticket. A Round-Robin packet scheduler has no real use-case. The only benefit is that it is easy to check everything is working as expected.

In other words, it can be useful to implement a RR scheduler in BPF (#75) to demonstrate it works. Probably best to close this ticket to avoid confusions.

[2021-09-30 16:45] #194 closed, assigned to geliangtang

[2021-09-30 16:56] matttbe commented on #186
@mjmartineau raised a point at the last meeting: for ADD_ADDR, we need to handle ECHO ones

- for the moment, we only handle the retransmission of one ADD_ADDR:
  - either we have a new events to tell the userspace when to send the next one (when the echo has been received)
  - or the userspace is in charge of the retransmissions
  - or we keep a list of ADD_ADDR to retransmit (can be done as a se

[2021-10-01 00:28] geliangtang commented on #75
Hi Matt, I just assigned this issue to myself. I'll dry to implement the Round-robin scheduler using BPF.

[2021-10-01 18:41] spoorva opened #234 "Packetdrill: Support MPC+DATA+checksum error"
Packetdrill throws a "bad outbound TCP options" error when an outbound packet contains mpc+datalen. The data length field shows up "unknown length" in the actual packet.

[2021-10-01 20:37] pabeni commented on #233
Indeed! this is very likely caused by:

[code]

After that commit rcvr_key share the same memory of ext_copy inside the out options struct. mpc+data uses both rcvr_key and ext_copy. With no csum, the only ext_copy field used is data_len, and that last does not overlap with any MPC data. With csum enabled, we additionally touch data_seq, subflow_seq and the csum itself, corrupting the key value.

A

[2021-10-07 10:16] matttbe commented on #75
(PS: I don't know if notifications are sent when I move items in Github Project but just in case: I'm moving all assigned tickets from "Future" to "Next". It doesn't mean it has to be implemented for the next version, just easier for the tracking to generate a changelog ;-) )

[2021-10-13 16:00] matttbe opened #235 "PM: create new subflow after one got closed"
It looks interesting to have the in-kernel PM checking if we need to create a new subflow once one has been closed.

A few reasons for that:
- maybe other subflows didn't get created in the past because we were at the limit (`subflows_max`)
- maybe the subflow can be re-established if it has been closed due to an error, after a NAT timeout
- (maybe we want to retry later, e.g. we got a RST and we

[2021-10-14 12:16] #231 closed, assigned to mjmartineau

[2021-10-19 23:11] mjmartineau commented on #216
Regarding mailing list review at https://lore.kernel.org/mptcp/cover.1634531093.git.geliang.tang@suse.com/ here's the relevant pcap:

[mp_join-01-ns1-0-nxL4ZI.pcap.gz](https://github.com/multipath-tcp/mptcp_net-next/files/7377105/mp_join-01-ns1-0-nxL4ZI.pcap.gz)

[2021-10-20 09:15] dcaratti commented on #234
the problem is, packetdrill does not support MPC+DATA+checksum at all. I'm working on extending the current code to support it

[2021-10-20 16:48] matttbe opened #236 "Review supported sockopts list"
It seems to be a big limitation for existing applications built on top of TCP not to have some sockopts implemented.

We should probably review the list and:
- prioritise which ones need to be implemented first
- maybe change some sockopt from one category to another one, e.g. "ignored", "blacklisted", etc.

[2021-10-20 17:08] spoorva commented on #220
Adding the packetdrill test for the above here -

    --tolerance_usecs=100000
    `../common/defaults.sh`

    +0    `../common/client.sh`

    +0.0    socket(..., SOCK_STREAM, IPPROTO_MPTCP) = 7
    +0.0    setsockopt(7, SOL_IP, IP_TOS, [4], 4) = 0
    //+0.200  getsockopt(7, SOL_IP, IP_TOS, [4], [4]) = 0

    +0.0  fcntl(7, F_GETFL) = 0x2 (flags O_RDWR)
    +0.0  fcntl(7, F_SETFL, O_RDWR|O_NONB

[2021-10-21 06:46] matttbe commented on #220
FYI, the CI found some issues with the last patch you sent:
- https://cirrus-ci.com/task/5316374168862720
- https://cirrus-ci.com/task/6442274075705344

[2021-10-25 14:24] vandit86 opened #237 "can't create backup path"
Hello,
I try to create a backup path but with no success, i.e. mptcp **always** use two available paths.
Will appreciate any suggestion..

kernel version : 5.14.0
ip utility, iproute2-5.14.0
![topo](https://user-images.githubusercontent.com/16361531/138710724-c99826df-cb37-4340-83f6-58d92cbaa332.png)

n1 :
[code]
n4 (server) :
[code]

n1:
[code]
n4 (server)
[code]

[code]

Also, the backup flag is

[2021-10-25 14:46] matttbe commented on #237
Hi @vandit86 ,

Thank you for this bug report!

Do you think you could re-do this experiment with a 5.15 kernel (or ideally with our `export` branch)?
Some improvements have been done around the use of the backup flag (_Packet scheduler improvements (especially with backup subflows)_). It will also help debugging the issue if you have this dev version.

[2021-10-25 14:47] matttbe commented on #237
(For Github tracking: Possibly linked to #191 )

[2021-10-25 14:53] pabeni commented on #237
It looks there are a few problems leading to the above behavior:
- the ADD_ADDR sub-option does not carry (per-rfc) the backup flag
- the signaled address received by the client is processed before any local endpoint (as per kernel implementation)
- the client creates only a single subflow (as per user configuration). Such subflow is a non backup one due to the above.

The solution should be remov

[2021-10-25 15:24] vandit86 commented on #237
Thank you for the quick answers! I will try switch to newer kernel and test mptcp.. I'm not so experienced working with kernel, thus it might take some time before I give you feedback.

[2021-10-25 16:00] spoorva commented on #220
Looking into it.

[2021-10-25 16:42] vandit86 commented on #237
Hi @pabeni.
Thanks for the quick answer.

Here is like Add Address looks on first path  ( i.e. server send **ADD_ADDR** request to client, and no backup flag is set)
[code]

Sorry, I don't understand your suggestion. If I remove "signal" flag from server endpoint, how the client will know to create new subflow, ? i.e., no ADD_ADDR will be sent, thus no subflow will be created..  Am I right ??

Cli

[2021-10-25 17:25] pabeni commented on #237
No.

The client creates additional subflows are created if:
- receives one or more ADD_ADDR options
_or_
- there is a 'subflow' endpoint configured on the client side.

Note the above is a simplification of the actual rules used, as mptcp limits are also taken in account, etc... The relevant part is that client side 'subflow' endpoints are sufficient for additional subflows creation. The client wi

[2021-10-25 17:46] vandit86 commented on #237
Thank you for explanation, @pabeni !

I configure routing of topology  as you suggests (also removing "endpoints" from server and adding one endpoint on client with `ip mptcp endpoint add 15.0.0.2 dev eth1 subflow backup`, leaving just subflow limits on both sides) and **backup flag** actually appears in dump. However, mptcp is continuing to "split" traffic through two available subflows,  ignorin

[2021-10-26 16:26] pabeni commented on #237
That is indeed a bug, fixed with the upstream commit 0460ce229f5b19f501124adf1485176fbfc8f1c2 present in Linux v5.15-rc1and newer. Please try the most up2date kernel, thanks!

[2021-10-27 19:05] #233 closed, assigned to dcaratti

[2021-10-28 11:31] matttbe commented on #220
@spoorva before closing this ticket, may you create a PR to add your new test script in our packetdrill repo please?

[2021-10-28 16:59] matttbe commented on #237
So as a conclusion, if I'm not mistaken, it looks like no modification is needed in the kernel code but probably best to improve the ip-mptcp man page or other doc related to that.

[2021-10-28 17:01] matttbe commented on #234
I suggest to convert this as a "new feature": we need to support MPC+DATA+checksum. Please tell me if it is not OK!

[2021-10-28 17:25] #220 closed, assigned to nobody

[2021-10-28 20:00] spoorva opened #238 "Packetdrill: Add coverage for setsockopt(SOL_IP, IP_TOS)"
Since issue #220 has been resolved, this packetdrill test provides coverage for setsockopt(SOL_IP, IP_TOS) and assesses it's behavior.

[2021-10-31 20:19] vandit86 commented on #237
Thank you, @matttbe @pabeni .
It seems that backup path works well with Linux kernel v5.15.0-rc7.  I think this issue **can be closed**.
As I understand, there is no way to create a sublfow in _backup_ mode after client receives  **ADD-ADDR** from server. The _endpoint_ should be pre-configured as _backup_ on the client before any mptcp session starts??

[2021-11-01 21:40] mjmartineau opened #239 "[syzkaller] general protection fault in inet_csk_accept (called by mptcp_accept)"
Syzkaller (with CONFIG_PREEMPT in the target kernel) found the following. One occurrence, no reproducer, tag `export/20211028T172544` https://github.com/multipath-tcp/mptcp_net-next/commit/267276196f68c6347becd881381195009e31e634

[code]

Config: [syz.config.gz](https://github.com/multipath-tcp/mptcp_net-next/files/7456213/syz.config.gz)
Full syzkaller log: [syz.log.gz](https://github.com/multipat

[2021-11-02 10:16] matttbe commented on #217
Support added by @fw-strlen, thanks!

- 509d313fffc4: mptcp: sockopt: add SOL_IP freebind & transparent options
- fe37d7b3122b: selftests: mptcp: add tproxy test case
- Results: d271a2e8d559..4538021f6a78

[2021-11-02 10:16] #217 closed, assigned to fw-strlen

[2021-11-03 15:23] pabeni commented on #239
Note that offset 0x18 correspond to socket_wq.wait.lock.key offset inside struct socket_wq
This is likely caused by msk->sk_wq being NULL. Likely the first subflow was orphaned before reaching here.

The above acquires the listening TCP socket lock and check its status (TCP_LISTEN), but not for the sk being orphaned. Plain TCP socket can't reach there as orphans, but mptcp subflow possibly can, ev

[2021-11-03 15:53] pabeni commented on #239
it looks like we have a possible race triggering the above:

[code]
Note: the above can happen even with no preemption enabled, I think, but is even much more unlikely.

[2021-11-04 11:38] pabeni commented on #239
Dumb me, the above can't happen: close(msk) will call into sock_release() -> ... -> mptcp_close() only after the struct socket/ inode refcnt goes to 0. In the above scenario, only after accept() completes.

Still looking for the real root cause

[2021-11-04 14:04] #137 closed, assigned to pabeni

[2021-11-04 16:04] RuiCunhaM opened #240 "Infinite retransmission on the first failed packet"
Hello!
When doing some tests I stumble on a somewhat weird behavior, that I can't understand if it's a bug or a intended behavior.

I conducted the test in the following network topology:

![topo](https://user-images.githubusercontent.com/37049313/140346249-917a47e7-2f52-40e0-952f-9abf4c9a3382.png)

On host2 I have a simple message server and on host1 a message client. After establishing a connect

[2021-11-04 17:29] mjmartineau commented on #240
@RuiCunhaM, it sounds like you are seeing TCP-level retransmission on the blue link and this is intended behavior. In short, a MPTCP-level ACK of your sent data on the upper subflow does not affect TCP-level retransmissions on the lower subflow.

To understand this, it helps to think of the upper and lower subflows as completely separate TCP connections. When your blue link goes to 100% packet los

[2021-11-05 09:50] matttbe commented on #240
Thanks Mat for the good description!

Like any TCP connection in this situation, it should stop at some points:
- Either because it has reached the retransmission's limit: see [tcp_retries2 sysctl](https://www.kernel.org/doc/Documentation/networking/ip-sysctl.txt)
- or because it has reached a timeout: Netfliter (e.g. ConnTrack) or userspace configuration.

Does this answer your question? Can we c

[2021-11-05 10:09] RuiCunhaM commented on #240
I see...My mistake was assuming that a MPTCP-level ACK could also affect the TCP-level. But obviously this is probably not possible in the upstream implementation since MPTCP cannot interfere with the TCP-level.
Anyways thank you very much for the explanation.

Yes it does, thank you.

[2021-11-05 10:09] #240 closed, assigned to nobody

[2021-11-05 10:12] pabeni commented on #237
Indeed subflows created in response to incoming ADD_ADDR will always be non backup. We could improve the scenario with an additional PM netlink setting, that will allow configuring the backup status for such subflows.

I'm not sure about the better way to expose this to user-space. A dummy, default (0.0.0.0) endpoint that will match only incoming ADD_ADDR ?!? Also I'm wondering if that should be i

[2021-11-05 10:49] matttbe commented on #240
The main reason is that MPTCP is an extension to TCP and we cannot "break" TCP: intermediate hosts will see each subflow as an independent TCP connection. It means that if a packet is lost, it needs to be retransmitted otherwise when the link will be up again, you will have a "whole" and an intermediate "smart" host could close the connection.

[2021-11-05 12:01] matttbe commented on #237
I don't think we need to modify the RFC: both the client and sender can add the backup in the MPJ. So when the ADD_ADDR is received, the client can add the backup flag if the endpoint it is using has this flag. Same on the server side, no?

Eventually, there could be an option to create new subflow using the initial IP with the backup flag. But here too, we could create an endpoint with the same I

[2021-11-05 13:09] matttbe commented on #216
(I just updated the TODO list in the initial message. Feel free to check points when done and/or add new one ;-) )

**TODO list**
- [ ] Drop more data from the receive queue c.f. discussions with Mat and Christoph on the ML on v7
- [ ] Improvements around the tests for patch 8/8:
  - [ ] Comment around the TC command
  - [ ] Add 'tcp_flags 0x10/0xff'
  - [ ] Comment around the parsing (example of

[2021-11-05 17:23] mjmartineau commented on #237
@pabeni: I agree with @matttbe, at the protocol level both peers have the ability to set the backup bit during the MP_JOIN handshake so there's no need to change the advertisement.

When sending MP_JOIN in response to an ADD_ADDR, the backup bit and choice of local endpoint seem to be closely coupled. For example, if the new subflow and existing subflows are on the same interface for the MP_JOIN s

[2021-11-05 17:42] mjmartineau commented on #237
Regarding my proposal to use existing endpoint information, I think it falls within the scope of the `ip mptcp endpoint` documentation:

[code]

[2021-11-07 20:04] vandit86 commented on #237
ok, regarding the same topology showed above:
Server (n4) is configured to advertise additional address, and when the client receives ADD_ADDR, the PM of the client creates subflow (MP_JOIN) with Backup flag disabled.. Always.. And there is no way to set new subflow as _backup_ for client.

[code]

Please, can you show me how to do this with _ip mptcp_ configuration tool .. Or using **mptcpd** PM

[2021-11-08 16:54] matttbe commented on #237
If I'm not mistaken, it is currently not possible to do that with 'ip'.
It should "soon" be possible to do that with mptcpd but #186 needs to be implemented first.

[2021-11-08 18:39] #238 closed, assigned to nobody

[2021-11-18 13:46] joaomeira26 opened #241 "Force fallback to TCP"
Hello,

Is it possible to force an arbitrary MPTCP connection to fallback to TCP from the userspace, for example using NETLINK?

[2021-11-18 14:08] VenkateswaranJ commented on #241
Hello,

Mptcp connection will fall back to TCP on the below scenarios.

1. Any of the hosts (server or client) is not Mptcp capable.
2. If there is any buggy middlebox in your network that remove or change the Mptcp option in the TCP packet header.

Currently, you can't force an active MPTCP connection to TCP fallback via Netlink command.

[2021-11-18 14:17] joaomeira26 commented on #241
Are there any plans to support it in the future or it's out of the scope?

[2021-11-18 14:25] VenkateswaranJ commented on #241
Current Netlink command implementation only focus on managing Mptcp connection (create subflow, destroy subflow etc.,)
You can have a look here https://github.com/multipath-tcp/mptcp_net-next/issues/186

But can you share your use case for this? Why do you want to force an active Mptcp Connection to TCP in the middle of communication?

[2021-11-18 14:38] joaomeira26 commented on #241
Actually it wouldn't be in the middle of a communication but rather when a MPTCP connection is created or established.

Basically I want to force fallback to TCP if a MPTCP connection was created/established for some interface that I don't want to use MPTCP (for example the interface is connected to an unprotected/untrusted network) or if I don't trust the other side to use MPTCP.

[2021-11-18 14:54] VenkateswaranJ commented on #241
Sorry for misunderstanding your question. So if you know that untrusted interface beforehand then I would suggest you create a [TCP socket](https://github.com/multipath-tcp/mptcp_net-next/wiki#:~:text=You%20app%20should%20create%20socket%20with%20IPPROTO_MPTCP%20proto%20(socket(AF_INET%2C%20SOCK_STREAM%2C%20IPPROTO_MPTCP)%3B).) to initiate a connection to that interface instead of an MPTCP socket.

[2021-11-18 15:09] joaomeira26 commented on #241
This is not for a software/application to use MPTCP but for a daemon/mptcpd plugin that would control the use of MPTCP on the system (for example, if any application on the system tried to use MPTCP through an untrusted interface it would force it to TCP).

I see, but could it work if the packets were intercepted with Netfilter and altered to be simply TCP?

[2021-11-18 15:20] matttbe commented on #241
Hello,

I don't think we should do some policy management via the Path Manager.

With Netfilter, you can drop TCP options. Would it not be OK for you?
I don't know if we can do something "similar" with other "security" features implemented in the kernel..

[2021-11-18 15:23] VenkateswaranJ commented on #241
Hmm, Mptcpd daemon can't do that. It can only manage active mptcp connection (like create/destroy subflow, announce/remove IP etc., ). It's not possible to make any changes at the mptcp connection level.

Yepp you can do that. I even tried it sometime before for testing, it will fall back to infinite mapping.

Also check this issue: https://github.com/multipath-tcp/mptcp/issues/420

[code]

[2021-11-18 16:05] matttbe commented on #59
Dmytro Shytyi is working on that.

[2021-11-18 22:27] joaomeira26 commented on #241
As I never used Netfilter I was looking if there was already something more easy and direct since there are events for MPTCP communication creation and establishment. At the same time, queuing all IPv4 and IPv6 packets just to modify those which are MPTCP and from/to an untrusted/unprotected interface seems a little too much for a simple Mptcpd plugin for example. But is always something that I ca

[2021-11-19 14:56] matttbe commented on #241
With IPTables for example, you can match MPTCP traffic with `-p tcp --tcp-option 30`. Then you can use `TCPOPTSTRIP` target to strip MPTCP option. Additionally, you can restrict to one interface and only to SYN. For example:

    iptables -w -t filter -A OUTPUT -o eth0 -p tcp --tcp-option 30 --tcp-flags SYN,ACK SYN -j TCPOPTSTRIP --strip-options 30

(same with `ip6tables`, similar with nftables or

[2021-11-19 15:21] joaomeira26 commented on #241
Interesting I didn't know about that, it's probably the best solution.
Now I just have to learn how to do that in C.

With what you said it makes a lot of sense

Thank you both.

[2021-11-19 15:21] #241 closed, assigned to matttbe

[2021-11-19 16:08] #224 closed, assigned to fw-strlen

[2021-11-20 17:01] pgreenland opened #242 "Unexpected subflow management behaviour, following endpoint add after subflow failure"
Hi,

Follow on from initial discussion on the mailing list: [Original Mailing List Email](https://lore.kernel.org/mptcp/EF21766C-4DF4-4F06-8076-16391C7D56D5@quantulum.co.uk/).

If we add and remove endpoint addresses, everything appears to work well, subflows are connected and disconnected as expected.

However if a subflow fails, for example due to reception of a TCP RST from an upstream network

[2021-11-20 17:15] pgreenland commented on #235
Follow on from initial discussion on the mailing list: [Original Mailing List Email](https://lore.kernel.org/mptcp/EF21766C-4DF4-4F06-8076-16391C7D56D5@quantulum.co.uk/), see extract below covering issue description.

Our current use case for MPTCP is relative simple. We have a limited number of connections originating from a client embedded system, destined for a server on the internet. The clien

[2021-11-27 09:35] matttbe commented on #18
From Paolo:

Indeed, it is probably enough and I'm not sure net maintainers will be OK for us modifying the socket syscall (or maybe?).
Anyway if someone thinks it is needed, feel free to comment here.

Thank you for looking at these old tickets.

[2021-11-27 09:35] #18 closed, assigned to nobody

[2021-11-29 16:23] matttbe opened #243 "sockopt: support TCP_CORK and TCP_NODELAY"
This is important to cover proxy use-cases.

@darkwrat already sent patches and packetdrill tests.

[2021-11-29 16:26] #243 closed, assigned to nobody

[2021-11-29 16:27] matttbe commented on #243
Patches are now in our tree:

- 46bc37d252e9: tcp: expose __tcp_sock_set_cork and __tcp_sock_set_nodelay
- 6d902bda5f72: mptcp: expose mptcp_check_and_set_pending
- 54c2d9725869: mptcp: support TCP_CORK and TCP_NODELAY
- Results: 2cb2e25a2eea..ca3b812b57ae

[2021-11-30 18:08] darkwrat opened #244 "Deadlock in mptcp_sockopt_sync_all()"
Looks like `__mptcp_push_pending` can call `mptcp_sockopt_sync_all` through `mptcp_flush_join_list` while holding the subflow socket lock. Then, `__mptcp_sockopt_sync` tries to lock the subflow socket for itself, hence the deadlock.

Could you please advise me on a proper fix if I got the root cause correctly? Should I work on a way to reproduce the issue?

I believe that cork/nodelay patches have

[2021-11-30 18:36] fw-strlen commented on #244
I'd switch to  __mptcp_push_pending() to __mptcp_flush_join_list().

[2021-12-01 09:49] pabeni commented on #244
On Tue, Nov 30, 2021 at 7:36 PM Florian Westphal ***@***.***>
wrote:

Indeed that should work!

Probably out of scope here, but I'm wondering if we should try to remove
(most) mptcp_flush_join_list() and friends replacing:

      list_add_tail(&subflow->node, &msk->join_list)

with something alike:

     mptcp_data_lock();
     if (!sock_owned_by_user(sk)) {
           list_add(&subflow->node, &ms

[2021-12-01 21:19] darkwrat commented on #244
Hi Florian, thank you for the suggestion, I've done just that and sent a patch to the list.

[2021-12-02 10:40] matttbe opened #245 "Packetdrill: Injected ADD_ADDR echo doesn't have the right info"
We noticed that when looking closer at receive_fastclose_with_rst_v4.pkt test, we can see that the injected ADD_ADDR echo has no IP and a wrong ID:

`<add_address addr[saddr1] addr_echo,  dss dack4=1 nocs>` causes this: (packetdrill & tcpdump view)

[code]

If I'm not mistaken, @dcaratti is already working on that.

[2021-12-02 14:34] matttbe opened #246 "Netlink PM events: add one attribute about the connection type (connect/accept)"
The userspace PM might want to react differently for servers and clients apps.

It is not "nice" to retrieve this info via other channel while it could be useful and easy to add in a new NL attribute.

Linked to https://github.com/multipath-tcp/mptcp/issues/451

[2021-12-02 14:58] matttbe commented on #237
This has been done by @pabeni https://lore.kernel.org/all/247b8dfb7254d4a1fb435b5efa756cea989b62cb.1637922870.git.pabeni@redhat.com/

[2021-12-02 14:58] #237 closed, assigned to nobody

[2021-12-02 17:38] matttbe commented on #239
Syzkaller had new reproducer, nothing wrong found by looking at the code, syzkaller didn't hit this issue again: we can close this ticket for now and re-open it if something new is reported.

[2021-12-02 17:38] #239 closed, assigned to pabeni

[2021-12-02 17:50] #244 closed, assigned to nobody

[2021-12-07 22:48] teto opened #247 "see mptcp options when running iperf locally"
I would like to capture some MPTCP traffic locally (I've `sysctl net.mptcp.enabled = 1`), yet when I run an iperf3 transfer localhost, I dont see any MPTCP option in the TCP headers (capturling localhost with wireshark 3.4.9). I run  5.15.4. The out of tree linux mptcp multipath-tcp.org/ had some code to disable mptcp on localhost (and I had patched it to run my tests). Is it the same with net-nex

[2021-12-08 10:35] matttbe opened #248 "packetdrill: more tests failing due to packets arriving later than expected"
My CI reported this error twice in a row:

    # dss_fin_retrans_close_wait.pkt:17: error handling packet: timing error: expected outbound packet at 0.010053 sec but happened at 0.299989 sec; tolerance 0.200000 sec

The public CI didn't report this error recently but similar ones:

    # dss_fin_retrans_close_wait.pkt:28: error handling packet: timing error: expected outbound packet at 0.840860 se

[2021-12-08 13:33] matttbe commented on #247
Hi Matthieu,

What did you do to have IPerf3 creating an MPTCP socket? I guess you noticed your app has to create a specific MPTCP socket and not a regular TCP one. (Linked to [How to use MPTCP?](https://github.com/multipath-tcp/mptcp_net-next/wiki#how-to-use-mptcp) section in our wiki.)

When you use your modified/ld_preloaded IPerf3 with other interface, is it OK?

[2021-12-09 18:27] teto commented on #247
thanks again mattt for helping me ;)
arf I had completely missed the wiki info thanks. I run both client and server with `mptcpize` like `mptcpize iperf -s` yet wireshark still showed a TCP only transfer. Could anyone confirm whether they had success with mptcpize and iperf3 ?

I haven't tested https://github.com/pabeni/mptcp-tools.git yet but that would be my next try.

I might take a stab at htt

[2021-12-10 10:24] vandit86 commented on #247
Hello,
_`mptcpize`_ does not work for me either. I use [this wrapper from wiki](https://github.com/pabeni/mptcp-tools/tree/master/use_mptcp) to generate mptcp traffic.

[2021-12-10 10:37] matttbe commented on #247
The best would be to use this patched version of IPerf: https://github.com/esnet/iperf/pull/1166

If it works, please mention that on the IPerf PR, not sure why it has not been merged yet.

[2021-12-10 14:46] pabeni commented on #247
On Thu, Dec 9, 2021 at 7:27 PM Matthieu Coudron ***@***.***>
wrote:

Note that you must use the 'mptcpize' on both sides, e.g.:

mptcpize iperf -s
mptcpize iperf -c 127.0.0.1

Current mptcpize is known to work well with iperf3. If it's not working for
you, please provide the 'strace' traces for both the client and the server,
e.g.:

strace -f -o out.server mptcpize iperf -s &
strace -f -o out.clie

[2021-12-10 15:37] pabeni commented on #65
this is addressed via:

commit e8a5f5decf1e844b99b15bc4c3d37e9359531451
Author: Paolo Abeni <pabeni@redhat.com>
Date:   Thu Dec 9 05:48:40 2021 +0000

    mptcp: full disconnect implementation

[2021-12-10 15:37] #65 closed, assigned to nobody

[2021-12-10 15:41] teto commented on #247
with the patched iperf I can make it work thanks, I will give a try at mptcpize again but I had launched it for both client and server as well.

[2021-12-10 16:43] pabeni commented on #247
Note that you need a recent version of the tool, specifically containing the commit:

commit 5633f08e35552295b2f9414ff32ca4e8e081b2f2
Author: Paolo Abeni <paolo.abeni@gmail.com>
Date:   Tue Oct 12 19:24:33 2021 +0200

    mptcpize: force MPTCP usage for IPPROTO_IP, too (#159)

No released version contain the above yet: you must use the current git snapshot.

[2021-12-10 17:25] teto commented on #247
ha that must have been it, I was using 0.8.
I've tried with the master version of mptcpd and with vanilla iperf3 I get:
[code]
while truing to connect with
[code]
Should I set cap_net_admin or some specific capability ? I've tried with `sudo result/bin/mptcpize run iperf3 -s ` with the same effect.

[2021-12-13 10:39] matttbe commented on #247
Is there an option for IPerf not to use NODELAY?
If not, maybe the easiest is to use a v5.16 kernel (or our `export` branch).

[2021-12-13 11:12] matttbe commented on #248
More samples from this WE:

Build 311:

[code]

Build 312:

[code]

Please note that all the others tests on my CI are passing, only these packetdrill tests are failing which is suspect.

[2021-12-13 11:26] eackkk opened #249 "Compilation problem with a 4.14.y kernel"
Hi, does mptcp support arm64 architecture? I downloaded the mptcp code incorporated into linux 4.14.* and tried to compile it into aarch64 architecture, but I found that there is no in the .config file:
CONFIG_MPTCP=y
CONFIG_INET_MPTCP_DIAG=y
CONFIG_MPTCP_IPV6=y
only:
CONFIG_DEFAULT_MPTCP_PM="default"
There are a small number of mptcp related strings in the compiled vmlinux, but I am not sure whet

[2021-12-13 11:28] eackkk commented on #249
When I compile menuconfig with arm64, no MPTCP related options are found

[2021-12-13 13:47] matttbe commented on #249
Hi,

As detailed in our [Wiki](https://github.com/multipath-tcp/mptcp_net-next/wiki#changelog), MPTCP is only supported in the mainline Linux since v5.6 (with very limited features).

If you want to have MPTCP support on your 4.14 kernel and you cannot easily upgrade to the v5.15 one, you can modify your kernel using patches from this out-of-tree project: https://github.com/multipath-tcp/mptcp

[2021-12-13 13:48] matttbe commented on #249
Because I don't think we can do anything to help here with kernels older than v5.6, I hope you don't mind if I close this ticket.

[2021-12-13 13:48] #249 closed, assigned to nobody

[2021-12-13 15:55] matttbe commented on #248
Please note that in my VM, I was able to reproduce it but after almost 300 attempts... Maybe an issue linked to my CI?

[2021-12-13 20:18] mjmartineau opened #250 "[syzkaller] Use-after-free in subflow_state_change"
Syzkaller reports a UAF in [__subflow_state_change()](https://github.com/multipath-tcp/mptcp_net-next/blob/fefe23ffeba5f26099705e4a27ca1893ddb3116d/net/mptcp/subflow.c#L1600)

Export branch, tag [export/20211209T054821](https://github.com/multipath-tcp/mptcp_net-next/releases/tag/export%2F20211209T054821)

[code]
config: [syz.config.gz](https://github.com/multipath-tcp/mptcp_net-next/files/7706721

[2021-12-13 20:58] teto commented on #247
there is a `-N`. For some reason I've installed mptcpize and I dont see the `unable to set TCP/SCTP NODELAY` error anymore but iperf3 doesn't create an mptcp session either. For now I am happy with using @pabeni's fork so closing this. Thanks all for the help.

[2021-12-13 20:58] #247 closed, assigned to nobody

[2021-12-15 10:41] vandit86 opened #251 "The best way to analyse MPTCPv1 performance? [QUESTION]"
I've been experimenting with MPTCPv0 (out-of-tree) and MPTCPv1 (upstream (RFC 8684)) for a while now.
However, I can't find a good application layer analysis tool for the upstream MPTCP protocol. All existing tools are not suitable for MPTCPv1, since the upstream version is not compatible with MPTCPv0.  For now, I keep using the same set of standard tools to analyse MPTCPv1 performance, like Wires

[2021-12-16 13:26] RuiCunhaM commented on #251
Hi! Just for curiosity, why exactly do you find that Wireshark does not translate perfectly the upstream/v1 version of the protocol? I ask this because it is what I've been using also, and so far I haven't seem to have find anything wrong, I wonder if I missed something.

[2021-12-16 15:15] matttbe commented on #235
This has been fixed in our export branch thanks to the modifications done by @pabeni:

- 7dff646b6956: mptcp: fix per socket endpoint accounting
- b3b313667f76: mptcp: clean-up MPJ option writing
- 93ddc71f0055: mptcp: keep track of local endpoint still available foreach msk
- b3adca806c71: mptcp: do not block subflows creation on errors
- 0f4945b51e44: selftests: mptcp: add tests for subflow crea

[2021-12-16 15:15] #235 closed, assigned to pabeni

[2021-12-16 15:15] matttbe commented on #242
This has been fixed in our export branch thanks to the modifications done by @pabeni:

- 7dff646b6956: mptcp: fix per socket endpoint accounting
- b3b313667f76: mptcp: clean-up MPJ option writing
- 93ddc71f0055: mptcp: keep track of local endpoint still available foreach msk
- b3adca806c71: mptcp: do not block subflows creation on errors
- 0f4945b51e44: selftests: mptcp: add tests for subflow crea

[2021-12-16 15:15] #242 closed, assigned to pabeni

[2021-12-16 15:18] matttbe commented on #251
Hello,

If you compile 'mptcp_v0.96' branch in the out-of-tree version, you can turn on a sysctl to use MPTCPv1.

Latest version of Wireshark should properly interpret MPTCPv1. If not, there is a bug :)

tcptrace has never been MPTCP aware.

Indeed but for the moment, the configuration is quite simple: there is one path-manager that can be modified with `ip mptcp` (there is a dedicated man page),

[2021-12-16 16:37] matttbe commented on #158
kernel and iproute2 patches have been sent upstream

[2021-12-16 16:37] #158 closed, assigned to dcaratti

[2021-12-17 12:25] vandit86 commented on #251
@RuiCunhaM. Actually, I was confused by the _Data Sequence Number_(DSN), in the way it represented on Wireshark for upstream version. There are tree different fields: _tcp.options.mptcp.rawdataseqno, mptcp.dsn, mptcp.dss.dsn_. For out-of-tree protocol version, I looked only on _mptcp.dsn_ (second DSN column on image) and it was "nice" increasing relative number..,  but I guess for upstream version

[2021-12-17 12:49] vandit86 commented on #251
@matttbe ,

I've been experimenting  with 5.15.0-rc7 kernel from the _export_ branch from this (mptcp_net-next) repo.

As I'm understand, MPTCPv1 implement BLEST-like packet scheduler and the coupled congestion control??

Thanks,

[2021-12-17 13:50] matttbe commented on #251
@vandit86 I think we are talking about different things:
- MPTCPv1 is the protocol defined in [RFC8684](https://www.rfc-editor.org/rfc/rfc8684.html)
- MPTCPv0: [RFC6824](https://www.rfc-editor.org/rfc/rfc6824.html) (deprecated by MPTCPv1)

There are two major implementations of MPTCP in the Linux kernel:
- an out-of-tree implementation (fork), aka mptcp.org: https://github.com/multipath-tcp/mptcp

[2021-12-17 15:28] vandit86 commented on #251
Ok, now everithing is much clearer to me then before. Thank you Matthieu @matttbe for explanation)
I switch from the older kernel to upstreme version in order to make exepriments with MPTCPv1. Now i see that I could compile 'mptcp_v0.96' branch in the out-of-tree version (kernel 5.4) and switch to version 1 by sysctl instead. (I guess..).

Furthermore, as far as I understand, currently out-of-tree

[2021-12-17 15:32] matttbe commented on #251
Great!

No, `ip mptcp` is specific to the Upstream implementation.

I hope you don't mind if I close this ticket.

For what you saw with Wireshark, it looks like a bug on their side if it cannot properly track the DSN. Maybe best to open a bug report there. (But because it might be specific to MPTCPv1, maybe someone else has to look at that → maybe good to also open a new dedicated ticket in this

[2021-12-17 15:32] #251 closed, assigned to nobody

[2021-12-31 08:13] geliangtang commented on #216
Mat's comments about the infinite mapping on Oct 22 2021:

-----

For "infinite mapping fallback", there seem to be two separate parts of
fallback to keep track of:

  * Transmit fallback: This peer has sent an infinite mapping already
    (after receiving an MP_FAIL) and should not send any new MPTCP options.

  * Receive fallback: This peer has received an infinite mapping, and will
    ignore M

[2022-01-05 16:39] mjmartineau opened #252 "[syzkaller] WARNING in page_counter_cancel"
Andrew Morton noted an mptcp-related report by syzbot (incorrectly attributed to the mm subsystem):

https://lore.kernel.org/mptcp/00000000000083950e05d4ccaf75@google.com/T/#m30e702b6441359de0f5f1e079f173b4ca19ca908

As Michal Hocko notes:

[code]

This was detected in Linus' tree.

[2022-01-05 17:03] matttbe commented on #250
Please note that in our tree we have a fix for the "export branch":

- 494ff5ec1dd6: "squashed" in "mptcp: cleanup MPJ subflow list handling"
- Results: cabf1e05f011..82c91858f45c

But we still have an issue in -net and we still need a dedicated patch for that:

I didn't close issues/250 for this reason.

Assigning @pabeni on this one because I thought you were looking at a patch for this one but

[2022-01-06 11:44] #252 closed, assigned to mjmartineau

[2022-01-13 18:12] pabeni opened #253 "high number of unneeded retransmissions in bulk transfer"
comparing MPTCP single subflow bulk transfer performances to plain TCP, a large number of TCP-level retransmissions happen in the MPTCP case:

[code]

That is sever orders of magnitude more than plain TCP in the same scenario:

[code]
The retransmissions are fast retransmit ones:

[code]

perf probes show that the code triggering the fast retransmit is:

[code]
in tcp_ack(), due to 'flag' being 0x

[2022-01-14 13:31] vandit86 commented on #253
Don't know if my comment is relevant, but I observed some similar behaviour with _**iperf3**_ when the bandwidth is not limited ( param _-b_ is not set). Many retransmissions in the end of the connection.
However, with the  **_iperf_**, the MPTCP works as expected.
kernel 5.15-rc7

[2022-01-14 18:24] pabeni commented on #253
Double checking with pcap traces, the dup acks are have unmodified MPTCP-level ack seq, too. In all the inspected samples they contains a new sack block

[2022-01-17 15:34] pabeni commented on #253
sack (and thus retransmission) are caused by actual drop at the NIX RX queue level:
[code]
the following workaround is effective in my setup:

[code]

The default RX ring size is 1024 on such NIC. Still the burstiness introduced by MPTCP looks excessive ?!?

[2022-01-17 16:58] matttbe commented on #253
Very interesting! Thank you for looking at that!

Why MPTCP subflow would be more bursty than plain TCP ones?

[2022-01-18 14:50] pabeni commented on #253
I don't have a clear picture. The main differences is that with MPTCP, subflow processing - that is, the plain TCP stack - does not use the socket backlog and always happens in BH processing. Since the host is under heavy load, BH processing happens in ksoftirqd context, and there is some latency between the ksoftirqd scheduling and the moment ksoftirqd actually runs that depends on the process sc

[2022-01-21 09:48] pabeni commented on #253
as per above comments, this is not really an MPTCP issue - possibly something to be aware of for high speed setup

[2022-01-21 09:48] #253 closed, assigned to pabeni

[2022-01-21 09:49] pabeni commented on #250
as per public meeting discussion, this is probably not worthy a stable-only patch.

[2022-01-21 09:49] #250 closed, assigned to pabeni

[2022-01-21 15:40] matttbe commented on #253
Thank you for closing the issue!
I just added a note about that at the end of https://github.com/multipath-tcp/mptcp_net-next/wiki

[2022-01-21 16:55] matttbe opened #254 "selftests: join: `signal invalid addresses` is unstable"
On my side, using https://github.com/multipath-tcp/mptcp-upstream-virtme-docker and:

[code]

... it is quite easy to reproduce it.

When I isolate this specific test to run only this one, I cannot reproduce it.
But when running `mptcp_join.sh -s`, it is quite easy:

[code]

Capture:
[mp_join-06-ns1-0-SGfe8N.pcap.gz](https://github.com/multipath-tcp/mptcp_net-next/files/7915337/mp_join-06-ns1-0-SG

[2022-01-21 17:01] matttbe commented on #254
Here is a capture when the test is OK:
[mp_join-06-ns1-0-aIqOIG-OK.pcap.gz](https://github.com/multipath-tcp/mptcp_net-next/files/7915393/mp_join-06-ns1-0-aIqOIG-OK.pcap.gz)

Also here, the last Echo ADD-ADDR is sent after an MPJ (33th packet)

[2022-01-21 18:38] matttbe commented on #254
As pointed by @pabeni on IRC: be careful with the previous output: it looks like the test after `signal invalid addresses` has no name, hence the corruption with nstat → we can see ADD_ADDR and ECHO in both the client and server.

[2022-01-21 18:38] matttbe commented on #254
In some cases, TCP Pure ACK might not reach the MPTCP stack even if it contains new MPTCP signalling. As mentioned by @pabeni on IRC, we can have that if the relevant socket is a in "post-established" status (half-closing)

This selftest seems to proove that:

[code]

Here, a "return" was added after `signal invalid addresses` test.

Please also note that this test was running with `echo "file net

[2022-01-24 04:29] geliangtang opened #255 "selftests: connect: checksum failed"
I got the checksum failures when runing the command

    # ./mptcp_connect.sh -C

It seems easy to reproduce.

Here I attached the kernel log and pcap files.

[61ee2768-fvDu6X-ns1-ns2-MPTCP-MPTCP-10007.tar.gz](https://github.com/multipath-tcp/mptcp_net-next/files/7922634/61ee2768-fvDu6X-ns1-ns2-MPTCP-MPTCP-10007.tar.gz)

[2022-01-26 09:23] matttbe opened #256 "BUG: KASAN: use-after-free in inet_twsk_kill (net/ipv4/inet_timewait_sock.c:46)"
Both my CI (Tessares) and the public CI (Cirrus) have reported this issue after the last sync with net-next:

[code]

and:

[code]

It doesn't look like it is directly linked to MPTCP.

[2022-01-26 10:23] matttbe commented on #256
Reproduced on top of net-next, running `mptcp_connect.sh` selftest with a "debug" kernel:

[code]

[code]

[2022-01-26 16:04] matttbe commented on #256
As suggested by @pabeni , here is the issue reproduced without using MPTCP:

[code]

On top of the current net-next (ab14f1802cfb ("net: Adjust sk_gso_max_size once when set")) running `./mptcp_connect.sh -tt` with this patch:

[code]

[2022-01-26 19:53] mjmartineau commented on #256
Eric posted his fix:

https://patchwork.kernel.org/project/netdevbpf/patch/20220126180714.845362-1-eric.dumazet@gmail.com/

[2022-01-27 10:28] matttbe commented on #256
This patch is now in the export branch and the bug seems to be gone now!
(Also tested (and reported) by @pabeni)

[2022-01-27 10:28] #256 closed, assigned to nobody

[2022-01-27 17:37] matttbe commented on #255
From the last meeting we just had:

- @pabeni tried to reproduce the issue but he was not able to.
- @geliangtang: was there anything else applied on top of the export branch?

[2022-01-27 17:39] matttbe commented on #171
This patch has been applied: https://patchwork.kernel.org/project/netdevbpf/patch/59ec6f5ba44972ef5e7e400f5333852084ff0087.1642262155.git.geliang.tang@suse.com/

[2022-01-27 17:39] #171 closed, assigned to geliangtang

[2022-01-28 04:32] geliangtang commented on #255
@matttbe @pabeni

I reproduced this issue just using the export branch, no other patch applied.

I used a loop to run mptcp_connect.sh:

And monitor the kernel log to check if the checksum failures happened:

[2022-01-28 14:29] matttbe commented on #254
@pabeni here is a trace with the issue when using the "slow" mode thanks to your patch:

[mp_join-07-ns1-0-moG7wT.pcap.gz](https://github.com/multipath-tcp/mptcp_net-next/files/7959351/mp_join-07-ns1-0-moG7wT.pcap.gz)

The patch:

[code]

[2022-01-31 09:52] matttbe opened #257 "selftests: `mptcp_join.sh`: "multi subflows, fair usage on close" is unstable"
Hello,

I just noticed my CI was complaining about another test from `mptcp_join.sh`: 5 recent jobs mentioned issues with this `multi subflows, fair usage on close` test.

[code]

It started on the 26th of Jan 2022. It was OK on the 27th but not the other days. Happening with both a debug and a non debug kernel.
The last patches specific to MPTCP have been applied on the 20th. This build and the t

[2022-01-31 09:58] matttbe opened #258 "selftests: `diag.sh` is regularly failing"
This test is regularly failing with the public CI:

[code]

or

[code]

https://cirrus-ci.com/task/4773535892635648

I don't have such issue with Tessares' CI.

[2022-02-01 11:16] #245 closed, assigned to dcaratti

[2022-02-05 10:32] #258 closed, assigned to nobody

[2022-02-05 10:36] #257 closed, assigned to nobody

[2022-02-08 00:11] mjmartineau opened #259 "[syzkaller] UBSAN: shift-out-of-bounds in net/mptcp/protocol.c"
Syzkaller & UBSAN found an issue where a large number of retransmits caused an invalid timer_ival:

[code]

The code around protocol.c:470:
[code]

Export branch, tag [export/20220204T054625](https://github.com/multipath-tcp/mptcp_net-next/releases/tag/export%2F20220204T054625)

Full syzkaller log: [log-ubsan.gz](https://github.com/multipath-tcp/mptcp_net-next/files/8019534/log-ubsan.gz)
Kernel co

[2022-02-08 00:14] mjmartineau commented on #259
We did discuss this function before merging the code: https://lore.kernel.org/mptcp/a3685615-f9d7-933-fd5a-6d253acf42@linux.intel.com/

One option is to go back to the original proposal (with a comment to explain the constraints on `retransmits`):

[code]

[2022-02-08 09:12] pabeni commented on #259
or possibly:

 	u32 retransmits = min(icsk->icsk_retransmits, ilog2(TCP_RTO_MAX / TCP_RTO_MIN));
        mptcp_sk(sk)->timer_ival = TCP_RTO_MIN << retransmits;

[2022-02-09 13:21] #254 closed, assigned to pabeni

[2022-02-11 10:37] matttbe opened #260 "selftests: mptcp_connect: `Unexpected revents: POLLERR/POLLNVAL(19)`"
The public CI reported this issue with `mptcp_connect.sh` a few times, always with a debug kernel config:

[code]

For more details:

- https://cirrus-ci.com/task/6348125144088576
- https://cirrus-ci.com/task/6565756707012608
- https://cirrus-ci.com/task/5501584690905088
- https://cirrus-ci.com/task/6734301743022080
- https://cirrus-ci.com/task/6064315366113280

[2022-02-11 20:26] matttbe commented on #260
As requested by @pabeni, I managed to reproduced the issue locally:

[code]

And here are the .pcap:

[6206bbe8-8QQd4g-ns1-ns1-MPTCP-TCP-10.0.1.1-10001-connector.pcap.gz](https://github.com/multipath-tcp/mptcp_net-next/files/8051400/6206bbe8-8QQd4g-ns1-ns1-MPTCP-TCP-10.0.1.1-10001-connector.pcap.gz)
[6206bbe8-8QQd4g-ns1-ns1-MPTCP-TCP-10.0.1.1-10001-listener.pcap.gz](https://github.com/multipath-tc

[2022-02-15 09:54] #255 closed, assigned to nobody

[2022-02-16 09:15] geliangtang opened #261 "MP_FAIL echo and retrans"
Split from #216

Add MP_FAIL echo support and add MP_FAIL retrans support.

[2022-02-19 17:17] matttbe commented on #225
Should be fixed thanks to Paolo's patches:

- 1c0e3277fab9: mptcp: more careful RM_ADDR generation
- 1908304713ea: mptcp: introduce implicit endpoints
- 25124126a6c0: mptcp: strict local address ID selection
- 7532760df8bc: selftests: mptcp: add implicit endpoint test case
  - With minor modifications (missing local + help usage)
  - https://paste.opendev.org/show/812824
- Results: 78bc7e06c12d..7

[2022-02-19 17:17] #225 closed, assigned to pabeni

[2022-02-19 17:21] #260 closed, assigned to pabeni

[2022-02-19 17:36] #259 closed, assigned to mjmartineau

[2022-02-21 08:58] matttbe opened #262 "selftests: join: getting more RM_ADDR than expected"
Similar to issue #225, recently fixed by @pabeni, some tests fail because too many RM_ADDR have been found, e.g.

[code]

Pcap: [mp_join-01-ns1-mp9qHD.pcap.gz](https://github.com/multipath-tcp/mptcp_net-next/files/8107760/mp_join-01-ns1-mp9qHD.pcap.gz)

The public CI found issues with `flush subflows and signal with port` 3 times in a row:
- https://cirrus-ci.com/task/5329956958896128
- https://ci

[2022-02-21 09:04] matttbe opened #263 "selftests: join: missing MP_JOINs but ADD_ADDR OK with `multiple flows, signal, link failure`"
Without a debug kernel:

[code]

Found by the public CI:
- https://api.cirrus-ci.com/v1/artifact/task/4869699606413312/summary/summary.txt
- https://cirrus-ci.com/task/4869699606413312

[2022-02-21 14:37] matttbe commented on #262
Assigning Paolo on this task as he already has a fix for that :)

[2022-02-22 11:01] matttbe commented on #262
Fixed thank to Paolo's patch:

- 939b82e97af4: Squash-to: "mptcp: more careful RM_ADDR generation"
- Results: ffd93449fa08..489fdaf33250

[2022-02-22 11:01] #262 closed, assigned to pabeni

[2022-03-02 19:12] dcaratti commented on #248
just happened happened also in my VM, on the same test cases.

[2022-03-03 17:42] matttbe commented on #263
Seen only once on the public CI. Can be closed and even re-opened if the issue can be reproduced

[2022-03-03 17:42] #263 closed, assigned to nobody

[2022-03-07 12:45] matttbe opened #264 "selftests: diag: failing on the public CI with the new debug.config"
Recently, the public CI is using a slightly different kconfig in debug mode, see: https://github.com/multipath-tcp/mptcp-upstream-virtme-docker/commit/d599eb44fe6185cf6ebec8f35af4e5ae3f992d71

It looks like diag.sh selftests is now often failing, e.g.:

[code]

https://api.cirrus-ci.com/v1/artifact/task/6140706417803264/summary/summary.txt

[code]

https://api.cirrus-ci.com/v1/artifact/task/462373

[2022-03-07 12:47] matttbe commented on #264
Could we wait more than one second in the new `wait_` functions in diag.sh?

[2022-03-10 17:23] matttbe commented on #264
Discussed at the last meeting:

      - waiting longer (increasing the timeout) should help, to be tested
      - may be good to:
          - have two timeouts:
              - after the first one, we emit a warning (e.g. 1sec)
              - after the second one, we mark the test as failed (e.g. 10sec) and we don't continue
            → it would help understanding what's wrong.

[2022-03-17 17:03] matttbe commented on #203
From @mjmartineau

So closing this ticket. Progress can be followed on: https://github.com/intel/mptcpd/issues/223

[2022-03-17 17:03] #203 closed, assigned to kmaloor

[2022-03-17 23:13] kmaloor commented on #210
@matttbe  Don't the userspace PM changes address this issue?

[2022-03-18 09:52] matttbe commented on #210
@kmaloor : thanks for the message!

I think we could even have closed it before as it is very similar to #203 (and not very well described :) ).

[2022-03-18 09:52] #210 closed, assigned to nobody

[2022-03-18 10:54] pabeni opened #265 "self-tests #94 && #95 failing"
running in a loop:

while ./mptcp_join.sh 94 95; do : ; done

I see sporadic failures - VM with 3 vCPUs, debug build.

[code]
Note: the bad outout:

[code]
is due to old/buggy tc version, does not affect the tests themself - e.g. I see the failure even with a recent tc version/without the above bash splat

[2022-03-19 13:03] geliangtang commented on #265
A kernel log is attached.

[repeat-log-32245-204.dmesg.txt](https://github.com/multipath-tcp/mptcp_net-next/files/8309261/repeat-log-32245-204.dmesg.txt)

[2022-03-24 14:05] matttbe commented on #264
I cannot reproduce it locally :(

I can still increase the timeout to see if it improves stuff on the Public CI but not sure how to validate that

[2022-03-31 13:52] matttbe commented on #265
From the last meeting:

      - It looks like we got 2 checksum failures on 2 different failures:
          - it triggers 2 checksum failures → 2 MP Fail
          - if it is the case, could we make sure we only "break" one subflow?
          - but we should because the 'iptables' rule should mark only one packet (can be one packet before TSO)
          - so only one packet should be corrupted on

[2022-03-31 13:56] matttbe opened #266 "Packetdrill: add MP_FAIL coverage"
Linked to #216 and #261: it would be good to add Packetdrill coverage, to validate MP_FAIL are properly sent when needed and properly interpreted.

[2022-03-31 13:58] matttbe commented on #261
Remaining tasks:
- pakcetdrill support: #266
- drop data: #216

[2022-03-31 13:58] #261 closed, assigned to geliangtang

[2022-03-31 15:04] matttbe commented on #163
These patches from Florian closes this issue:

New patches for t/upstream:
- 0432b1c61654: mptcp: diag: switch to context structure
- ba9e26b62530: mptcp: remove locking in mptcp_diag_fill_info
- b433728093dd: mptcp: listen diag dump support
- a9cc2c58bf79: selftests/mptcp: add diag listen tests
- Results: ccc95f7c14d9..3b82e3d7eed2 (export)

[2022-03-31 15:04] #163 closed, assigned to fw-strlen

[2022-04-02 11:00] #246 closed, assigned to kmaloor

[2022-04-16 00:19] mjmartineau opened #267 "Kmemleak report with mptcp_connect"
Selftests are reporting a memory leak, reproducible with tag `export/20220415T162900` and `mptcp_connect.sh mmap`:

[code]

The test itself passes.

[2022-04-18 22:37] mjmartineau commented on #267
After some more experiments, this is most easily reproducible with the `userspace_pm.sh` script. After adding some more debug output, the PIDs in the kmemleak reports match with the `mptcp_connect` processes run by the userspace script. If the test subfunctions are commented out (so only the make_connection setup functions run, along with cleanup), there is no leak.

Still trying to narrow down th

[2022-04-19 21:56] mjmartineau commented on #267
Bug is due to missing `sock_put()`s on the msks returned by `mptcp_token_get_sock()` in the userspace PM code. Patches incoming.

[2022-04-21 07:35] matttbe commented on #267
Fixed thanks to @kmaloor and @mjmartineau

New patches for t/upstream:
- b5427dca0016: "squashed" patch 1/3 in "mptcp: netlink: Add MPTCP_PM_CMD_ANNOUNCE"
- 93a0837b24aa: "squashed" patch 2/3 in "mptcp: netlink: Add MPTCP_PM_CMD_REMOVE"
- 1cfb03d21837: "squashed" patch 3/3 in "mptcp: netlink: allow userspace-driven subflow establishment"
- Results: 8001d7b9c400..1e2cdcf7b0cc (export)

[2022-04-21 07:35] #267 closed, assigned to mjmartineau

[2022-04-21 14:08] matttbe opened #268 "kmemleak: suspected mem leak in msr_build_context()"
The CI reports this issues and it can reproduce it all the time:

[code]

After investigation on my side, [`git bisect` reports](https://github.com/multipath-tcp/mptcp_net-next/files/8531651/kmemleak-cpu-sched-bisect.log.txt) the issue has been introduced by e2a1256b17b1 ("x86/speculation: Restore speculation related MSRs during S3 resume"). Reverting this commit indeed helps.

It looks like a fal

[2022-04-21 15:27] matttbe commented on #186
Can be closed now thanks to @kmaloor patches:

New patches for t/upstream:
- c2dcdbadfac0: mptcp: allow ADD_ADDR reissuance by userspace PMs
- 26c71440e307: mptcp: handle local addrs announced by userspace PMs
- 5a865082c99a: mptcp: read attributes of addr entries managed by userspace PMs
- 899ec4b7d092: mptcp: netlink: split mptcp_pm_parse_addr into two functions
- 37d4d520025a: mptcp: netlink: A

[2022-04-21 15:27] #186 closed, assigned to kmaloor, mjmartineau

[2022-04-21 16:46] #268 closed, assigned to matttbe

[2022-04-22 15:08] matttbe commented on #268
Regarding the final patch, after the analysis from @mjmartineau and the confirmation from one maintainer, a different approach is going to be taken:

https://lore.kernel.org/linux-pm/20220421161520.401946-1-matthieu.baerts@tessares.net/

New proposed patch:

[code]

[2022-04-25 11:50] matttbe opened #269 "Allow having a mix of v4/v6 subflows for the same socket"
It is important to support MPTCP connections with some subflows in v6 and others in v4. But so far, MPTCP does not yet support mixed IPv6 and IPv4 endpoints for the same socket.

Some use-cases:
- Using IPv4 and IPv6 only networks
- Some paths behind different in v4 and v6
- Having only one links with both v4 and v6 where paths to reach the end server are different or using one or the other as a f

[2022-04-27 08:25] matttbe opened #270 "KASAN: use-after-free in dst_destroy (net/core/dst.c:118)"
It looks like a new issue has been spot by KASAN. It has been detected by both the [public CI](https://cirrus-ci.com/task/6502615964975104) and the one at Tessares with the latest export tag (`export/20220427T055600`) after a sync with upstream. I guess it is due to a bug upstream.

[code]

https://api.cirrus-ci.com/v1/artifact/task/6502615964975104/summary/summary.txt

[2022-04-27 08:28] matttbe commented on #270
Here is the call trace seen by Tessares CI:

[code]

[2022-04-28 00:00] candrews opened #271 "TCP_DEFER_ACCEPT socket option is not supported"
It appears that MPTCP in the kernel doesn't support the TCP_DEFER_ACCEPT socket option.

When starting apache 2 httpd with `LD_PRELOAD=/usr/lib64/mptcpize/libmptcpwrap.so` (which is provided by https://github.com/intel/mptcpd), this error is logged at startup:
[code]
For http, the warning can be ignored as far as I can tell.

However, there are other applications that will fail if this socket opti

[2022-05-01 10:43] rezapoorzare1 opened #272 "MPTCP is enabled but not working"
Hello there,

first of all, thank you o much for the great protocol.

I have installed mptcp in Ubuntu 22 and, sysctl net.mptcp.enabled is returning 1, but I can not see mptcp in uname -a, and in the net/mptcp folder threre are only five files. What can be wrong? Would you please help me.

Thanks a lot

[2022-05-02 02:09] geliangtang commented on #48
"Kernel: send MP_FASTCLOSE" has done by Paolo's commit f284c0c77321 ("mptcp: implement fastclose xmit path").
And a self test for incoming and outgoing FASTCLOSE has added by Geliang's commit 01542c9bf9ab ("selftests: mptcp: add fastclose testcase").

[2022-05-02 07:49] pabeni commented on #272
Reading the above I suspect you are referring to the documentation of some legacy/out-of-tree MPTCP implementation. Please be sure to have a look at:

https://github.com/multipath-tcp/mptcp_net-next/wiki#how-to-use-mptcp

for general guidance on how to use MPTCP.

Note that:
- the MPTCP can be enabled regardless of 'mptcp' string being present into the uname info. What is relevant is the kernel ve

[2022-05-02 10:58] rezapoorzare1 commented on #272
Thanks a lot for your answer

The way I am doing the procedure is this:

I have upgraded the kernel to 5.17.5-051705-generic

I have downloaded the package from: https://github.com/multipath-tcp/mptcp_net-next

I did the menuconfig then make to compile the 4.19.234 mptcp kernel, it the procedure right until here?

Thanks a lot

[2022-05-02 12:36] VenkateswaranJ commented on #272
There are two different implementations of MPTCP
1. https://github.com/multipath-tcp/mptcp (out-of-tree)
    You can use this implementation by patching the Linux kernel via apt or rpm or manually (as described here https://multipath-tcp.org/pmwiki.php/Users/HowToInstallMPTCP?). Once you patched the kernel then you will see the **mptcp** string in `uname -a`
Note: This implementation only supports

[2022-05-02 12:41] rezapoorzare1 commented on #272
Thanks you so much.
I almost know all of the mentioned, just one question:
how to patch upstream mptcp to the kernel after downloading?

Thanks a lot

[2022-05-02 13:01] VenkateswaranJ commented on #272
Hmm, I don't understand why you want to patch the upstream kernel as it already has mptcp implementation. If you want the latest upstream kernel mptcp changes then just directly build the kernel from [export branch](https://github.com/multipath-tcp/mptcp_net-next/tree/export)

Here is some example of how you can build the kernel in Debian and generate deb files to install https://wiki.debian.org/B

[2022-05-02 13:11] rezapoorzare1 commented on #272
Thank you for the clarification.
My mistake was that I was thinking like MPTCP V0, upstream is not included in the kernel.

Sorry another question, does the upstream one support different congestion controls like LIA, OLIA, ..., if yes, how to change between the them in this version?

Thanks a lot

[2022-05-02 14:09] VenkateswaranJ commented on #272
Sorry! I'm not sure about you can do that in the upstream kernel. Hope someone else could clarify this.

[2022-05-02 14:55] pabeni commented on #272
The available CCAs are those provided by the stock TCP implementation (no MPTCP-specific CCA is available). You can select the relevant CCA either via the net.ipv4.tcp_congestion_control sysctl or via the TCP_CONGESTION socket option.

Please consider joining the #MPTCP IRC channel on libera net for this kind of questions.

[2022-05-02 14:56] rezapoorzare1 commented on #272
Thanks a lot for your time and response.

So, to conclude, There are two mptcp implementations, one based on RFC 6824, which needs kernel compilation, and can manipulated by using sysctl command in term of schedulers and congestion control mechanisms.
The other one is based on RFC 8684, which is included in the new kernels and does not need compilation and is ready to be deployed (am I right), but

[2022-05-02 15:25] pabeni commented on #272
You should additionally ensuring the relevant application is using MPTCP - the 3rd bullet on https://github.com/multipath-tcp/mptcp_net-next/wiki#how-to-use-mptcp.

Then you likely want to really configure and use multiple paths - the 5th bullet in the same list. This last part is likely the more complex one - and we likely need to expand the available documentation. Again feel free to join the IR

[2022-05-02 20:35] matttbe commented on #265
@pabeni recently sent a new patch:

New patches for t/upstream:
- b841c3f765af: net/sched: act_pedit: really ensure the skb is writable
- Results: 2767792d035c..8ae619c5e009 (export)

New patches for t/upstream-net:
- b841c3f765af: net/sched: act_pedit: really ensure the skb is writable
- Results: eefc441cb5ab..8b01b4ca3343 (export-net)

I quote:

I guess we leave this ticket opens to have a fix f

[2022-05-02 20:53] matttbe commented on #270
I didn't find an easy way to reproduce it but it looks like it is linked to 68822bdf76f10c3dc80609d4e2cdc1e847429086: if I revert this commit, I can no longer reproduce the use-after-free when I run:

[code]

If I run only the last one or just the test 19/20, I don't have the issue.

But should be fixed with [783d108dd71d97e4cac5fe8ce70ca43ed7dc7bb7](https://git.kernel.org/pub/scm/linux/kernel/git

[2022-05-03 11:06] matttbe commented on #270
It seems we no longer have this issue, probably thanks to 783d108dd71d97e4cac5fe8ce70ca43ed7dc7bb7 commit.

[2022-05-03 11:06] #270 closed, assigned to matttbe

[2022-05-03 13:56] rezapoorzare1 commented on #272
Thank you so much for your detailed explanation.
I think I have done all parts"

The output of grep:
CONFIG_MPTCP=y
CONFIG_INET_MPTCP_DIAG=m
CONFIG_MPTCP_IPV6=y

The output of sysctl net.mptcp.enabled
net.mptcp.enabled = 1

I have done the routing and the outputs are correct.

Now I want to download files from http://multipath-tcp.org/snapshots/ to see whether Wireshark traces mptcp or not.

I hav

[2022-05-03 14:10] pabeni commented on #272
That will fail, as the server only supports mptcp v0, while the upstream kernel only support v1 - for good reasons.

Hopefully the ip-mptcp man page should explain the above:

https://man7.org/linux/man-pages/man8/ip-mptcp.8.html

Some more info here:

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/9-beta/html/configuring_and_managing_networking/getting-started-with-multipa

[2022-05-03 14:21] rezapoorzare1 commented on #272
Thanks a lot.

Which servers support this version, so connecting to them will show mptcp in wireshark?

[2022-05-04 02:13] geliangtang commented on #265
The old tc version bad outout issue is fixed by my commit 2770b28b85fb ("selftests: mptcp: fix a mp_fail test warning").

[2022-05-04 08:25] rezapoorzare1 commented on #272
I have checked the subflows by the following command and can see the subflows are established, correct?
How can I test the mptcp? Which servers support the upstream one?

ip mptcp endpoint show
fe80::cb4c:1cde:6094:9609 id 1 dev wlp0s20f3
10.164.148.82 id 2 dev wlp0s20f3
fe80::f09e:d89b:1201:d65b id 3 dev enp0s31f6
10.181.120.151 id 4 dev enp0s31f6

Thanks a lot

[2022-05-04 10:33] rezapoorzare1 commented on #272
and sorry one more question, how can we change the schedulers in the upstream version? For example, from default to round-robin and vice verca.

Thanks a lot

[2022-05-04 16:37] matttbe commented on #272
We still need to put in place public test servers. I don't know any public one you can use.

But you can easily install `mptcpize` on Ubuntu 22.04 and run an IPerf server as described there: https://www.tombarbette.be/mptcp-on-windows-with-wsl2/

There is only one packets scheduler in v5.15 kernel. It is being developed, see #75.

[2022-05-04 16:46] matttbe commented on #48
The remaining point is:

I guess I should better create a new ticket, right?

[2022-05-04 16:48] matttbe opened #273 "Packetdrill: test outgoing MP_FASTCLOSE"
Linked to #48: this is supported by the kernel, there are selftests but no Packetdrill tests for outgoing MP_FASTCLOSE.

[2022-05-04 16:48] matttbe commented on #48
Done: #273

[2022-05-04 16:48] #48 closed, assigned to nobody

[2022-05-05 07:56] rezapoorzare1 commented on #272
Thanks a lot for your answer.
I appreciate the time you spend clearing stuff for me.

[2022-05-05 08:08] matttbe opened #274 "selftests: `mptcp_join.sh`: `delete and re-add` test is regularly failing"
The new test (`104 delete and re-add`) is regularly failing on the public CI and Tessares' one, e.g.

[code]
(without a debug kernel)
https://api.cirrus-ci.com/v1/artifact/task/5992746505732096/summary/summary.txt

or

[code]
(with a debug kernel)
https://api.cirrus-ci.com/v1/artifact/task/5429796552310784/summary/summary.txt

Note that the patch introducing this new test has not been upstreamed y

[2022-05-05 08:13] matttbe commented on #272
Great!
I think we can close this ticket, right?

[2022-05-05 08:13] #272 closed, assigned to nobody

[2022-05-06 07:23] matttbe commented on #274
@pabeni suggested this patch:

[code]

It seems helping! On my side, it was easy to reproduce the issue before the patch with a debug kernel config. With the patch, this test ran 1667 times without issues.

Thanks!

[2022-05-06 10:22] matttbe commented on #274
@pabeni: do you mind if I already apply this patch so we avoid errors when validating other patches? :)

[2022-05-06 16:19] pabeni commented on #274
@matttbe: please go ahead...

[2022-05-06 17:27] matttbe commented on #274
Thank you!
Just applied in our tree:

- b195639989ab: "squashed" in "selftests: mptcp: add subflow limits test-cases"
- Results: ffee67422349..825394fc0bc5 (export)
- Results: a2c76d73f38a..ca8b19c6d86b (export-net)

Builds and tests are now in progress:

https://cirrus-ci.com/github/multipath-tcp/mptcp_net-next/export/20220506T172517
https://github.com/multipath-tcp/mptcp_net-next/actions/workflo

[2022-05-06 17:27] #274 closed, assigned to pabeni

[2022-05-06 19:17] #271 closed, assigned to fw-strlen

[2022-05-09 15:49] pabeni commented on #265
IMHO we are good, all the relevant fixes are in the export branch and I do not see failure anymore

[2022-05-09 15:49] #265 closed, assigned to nobody

[2022-05-09 15:54] pabeni opened #275 "csum: bad encoding"
the current encoding of the csum field in the MPTCP DSS option is wrong: the __sum value is converted to BE, inverting the byte order on LE arches, which is not expected.

@darkwrat confirmed the above causes interoperability issues between hosts with different endianess.

The solution is problematic WRT backward compatibility, but we don't have many options

[2022-05-12 19:26] ossama-othman opened #276 "<linux/mptcp.h> conflict with <netinet/in.h> in C library"
Including `<linux/mptcp.h>` before the C library `<netinet/in.h>` header causes symbol redefinition errors at compile-time due to duplicate declarations and definitions in the `<linux/in.h>` header included by `<linux/mptcp.h>`.

The following simple code may be used to reproduce the compile-time errors:
[code]
[code]

[2022-05-12 19:27] ossama-othman commented on #276
The following patch addresses the problem by forcing `<netinet/in.h>` to be included before `<linux/in.h>` so that the C library compatibility in `<linux/libc-compat.h>` is enabled when including `<linux/mptcp.h>` in user space code:

[code]

[2022-05-16 21:46] mjmartineau commented on #275
Some context from the mailing list:

Patch fixing little-endian csum byte order: https://lore.kernel.org/mptcp/595f104803a212df58db6d20f84947325b33a9d6.1652196378.git.pabeni@redhat.com/

Patch allowing fallback instead of connection reset on first checksum failure: https://lore.kernel.org/mptcp/20220511235137.431538-1-mathew.j.martineau@linux.intel.com/

Both of those are in the export-net branch

[2022-05-17 17:43] mjmartineau commented on #275
I also confirmed interop of the fixed code with the mptcp_trunk kernel, both running on little-endian machines.

[2022-05-19 16:26] matttbe commented on #275
Patches have been applied in our tree and already in -net (soon in Linus' tree)

[2022-05-19 16:26] #275 closed, assigned to nobody

[2022-05-20 14:45] matttbe opened #277 "selftests: warning in net/core/skbuff.c:775 kfree_skb_reason"
This has also been reported by the public CI twice, each time *without* a debug kernel config: https://cirrus-ci.com/task/5443925702868992?logs=test#L8982=

I managed to reproduce it on my side by running the mmap test in a loop (after 17 and 66 times):

[code]

[2022-05-20 14:48] matttbe opened #278 "selftests: WARNING: possible circular locking dependency detected: `sk_stream_wait_memory` vs `__mptcp_push_pending`"
Reported by the public CI with a debug kernel config (needed to get that kind of warning): https://cirrus-ci.com/task/6286897658986496?logs=test#L8070-L8739

[code]

[2022-05-20 15:06] pabeni commented on #278
this looks like being caused by the patches under CI !?!

[code]

AFAICS the above means that __mptcp_push_pending() did not release the subflow socket lock before completing, which is very bogus and AFAICS impossible with the current code available on the export branch

[2022-05-20 15:10] pabeni commented on #277
I guess/hope this is fixed by:

https://patchwork.kernel.org/project/netdevbpf/patch/20220520021347.2270207-1-kuba@kernel.org/

in any case this does not look like an MPTCP-specific issue

[2022-05-20 15:11] matttbe commented on #278
@pabeni oops, sorry yes, it was on top on @geliangtang 's patches: [patchew/cover.1653033459.git.geliang.tang@suse.com](https://github.com/multipath-tcp/mptcp_net-next/commits/patchew/cover.1653033459.git.geliang.tang@suse.com)

Sorry, I missed that, will double check next time!

I suppose Geliang will look at that as part of his BPF work. I can close this ticket then :)

[2022-05-20 15:11] #278 closed, assigned to nobody

[2022-05-20 15:14] matttbe commented on #277
Indeed, looks like it is linked to that! Thank you for having checked!

I can do some iterations with @kuba-moo 's patch before closing this ticket.

[2022-05-20 16:43] matttbe commented on #277
Indeed, it looks like this patch fixes the issue.

Now in our tree:

New patches for t/upstream:
- c0180ccb0d3a: tcp_ipv6: set the drop_reason in the right place
- Results: 2c8d8c95a8e5..a21e30228e85 (export)

[2022-05-20 16:43] #277 closed, assigned to nobody

[2022-05-30 14:43] matttbe commented on #216
the packetdrill part will be done as part of #266

[2022-05-30 14:43] #216 closed, assigned to geliangtang

[2022-05-31 22:04] mjmartineau opened #279 "[syzkaller] Warning in icsk_get_port"
Syzkaller is frequently hitting a warning in `icsk_get_port()`

This has already been reported by syzbot (sometimes with `mptcp_listen()` in the stack trace, but also using other callers), so it appears to be a broader issue, and continues to be encountered by syzbot on net-next. More context:

https://lore.kernel.org/netdev/0000000000003f33bc05dfaf44fe@google.com/
https://syzkaller.appspot.com/bu

[2022-05-31 22:41] mjmartineau commented on #279
Apparently there's an invisible fix:

https://lore.kernel.org/netdev/CANn89i+pg8guF+XeOngSMa4vUD81g=u-pCBpi0Yp2WB9PQZvdg@mail.gmail.com/

(I saw some other mailing list context that something mysterious is going on with vger/patchwork not seeing messages from this sender).

[2022-06-01 21:27] mjmartineau commented on #279
I've started syzkaller with this proposed fix applied:

https://patchwork.kernel.org/project/netdevbpf/list/?series=646663

[2022-06-02 15:04] matttbe commented on #276
The patch has been applied in our tree (and sent to net-next)

- 334cee2f9c14: mptcp: fix conflict with <netinet/in.h>
- Results: c1baa3aff794..bbf8496f889f (export)

[2022-06-02 15:04] #276 closed, assigned to nobody

[2022-06-03 17:39] mjmartineau commented on #279
Still reproduced the warning with the v1 fix. It only happened once over two days. Attaching logs:

[syzkaller-log-mptcp.gz](https://github.com/multipath-tcp/mptcp_net-next/files/8834520/syzkaller-log-mptcp.gz)
[syzkaller-report-mptcp.gz](https://github.com/multipath-tcp/mptcp_net-next/files/8834521/syzkaller-report-mptcp.gz)

Kernel code is a merge of the [export/2F20220526T055531](https://github

[2022-06-05 13:45] hansomesong opened #280 "support of ndiffport"
Hi Folks,

I would like to know if the upstream implementation of MPTCP supports ndiffport mode, in which we can set up a series of different subflows specified by ndiffport, across the same pair of ip address between end hosts. The motivation behind this question is that we would like to leverage the power of SDN, allocating n different transmission paths between a pair of single-homed end hosts.

[2022-06-07 13:10] matttbe commented on #280
Hi @hansomesong

The current implementation doesn't support ndiffport as the one present in the out-of-tree implementations where the clients create additional sublfows on a different without any interaction with the end server.

But it is possible to get something similar with the new MPTCP Upstream implementation:
- Either you use the in-kernel path-manager on the server side to announce the sam

[2022-06-07 15:32] matttbe opened #281 "selftests: join: `Infinite map` (95) is failing with a debug kernel: userspace error"
This test `Infinite map` (95) is failing most of the time with a debug kernel.

The validation is OK but the issue is with the userspace stopping with different errors, e.g.
- `write: Connection reset by peer`
- `Unexpected revents: POLLERR/POLLNVAL(18)`

[code]
From: https://api.cirrus-ci.com/v1/artifact/task/6642174098931712/summary/summary.txt

or from Tessares CI:

[code]

[2022-06-07 15:53] matttbe opened #282 "selftests: `simult_flows`: failing with debug kernel: transfer slower than expected"
Due to the nature of the test, it can be unstable with a debug kernel, e.g.

- On top of export-net:

[code]

https://api.cirrus-ci.com/v1/artifact/task/5633473514831872/summary/summary.txt

- On top of export:

[code]

https://api.cirrus-ci.com/v1/artifact/task/6227682844213248/summary/summary.txt

Does it make sense to run it with a debug kernel config?

[2022-06-08 02:10] geliangtang commented on #281
Matt, I'll look at this issue.

[2022-06-08 08:50] matttbe commented on #281
@geliangtang thank you for that!

I ran a `git bisect` last night and it also confirms the issue has been introduced by the commit you mention in your patch: d9fb797046c5 (`mptcp: Do not traverse the subflow connection list without lock`)

[code]

[2022-06-08 15:30] matttbe commented on #281
@geliangtang thank you for the new patch! I tested the v3: it ran 85 times without issues.

On the 86th attempts, I got:

[code]

But here we didn't receive the infinite map. I guess it has been lost, just unlucky, no?

[2022-06-09 15:00] #281 closed, assigned to geliangtang

[2022-06-10 20:41] mjmartineau commented on #279
Another warning after another week;

[report-warn-2.gz](https://github.com/multipath-tcp/mptcp_net-next/files/8882167/report-warn-2.gz)
[log-warn-2.gz](https://github.com/multipath-tcp/mptcp_net-next/files/8882168/log-warn-2.gz)

This time, the warning was triggered on a regular TCP socket.

[2022-06-10 23:38] mjmartineau opened #283 "Cleanup following TCP changes to forward allocation"
There's a pending upstream series that modifies forward memory allocation to better handle systems with large numbers of TCP connections:

https://lore.kernel.org/netdev/20220609063412.2205738-1-eric.dumazet@gmail.com/

Eric specifically requested one change on the MPTCP side:

`- Removal of SK_RECLAIM_CHUNK and SK_RECLAIM_THRESHOLD
   is left to MPTCP maintainers as a follow up.`

Some other chan

[2022-06-15 14:05] celevra opened #284 "combine to WAN's via two Wiregate Connections"
Hi,

i try to combine two DSL Connections to one high speed connection.
I have one ISP with 200Mbit and a second one with 200Mbit
my Linux VM has one IP and connects to on vps with 1Gbit.
It connects two wireguard instances. In my local firewall is rule that one port connection is routet through isp1 and the second port connection is routed through isp2

in my linux system i got these interfaces:

[2022-06-16 08:22] pabeni commented on #282
I think it's nice to run the data transfer code with multiple subflows  and kasan for a significant amount of data, and this is the main self-test provider for such scenario. Can we somehow tune (say, add 300ms or the like) the expected run-time depending on the running kernel?

[2022-06-16 21:06] daire-byrne opened #285 "PM: in-kernel: support for MPC prio exchange"
The MP_CAPABLE handshake doesn't have room to include the backup frags (no priority information can be passed along during the MPC handshake). In other words, to have the initial subflow set as "backup", it is then required to send a dedicated `MP_PRIO` message after the establishment of the connection.

The in-kernel PM should be able to do that. `MPTCP_PM_CMD_SET_FLAGS` netlink command needs to

[2022-06-16 22:47] mjmartineau commented on #285
I think the mailing list you're looking for is mptcp@lists.linux.dev, but no problem submitting the issue here.

Which version of the kernel are you using?

The way you're trying to force data on to specific subflows is exactly what the 'backup' flag addresses for endpoints handled by the in-kernel path manager. If you were trying to make any subflow other than the initial one (ID = 0) be the non-

[2022-06-16 23:31] mjmartineau opened #286 "Make MPTCP_PM_CMD_SET_FLAGS usable with the userspace PM"
The userspace PM doesn't have a way to send MP_PRIO commands.

When looking at #285, I thought maybe the userspace PM could help with setting MP_PRIO on subflow 0. But the current code only looks up entries in the in-kernel PM `local_addr_list`, so it's not usable for userspace-PM-managed connections.

I suggest we modify `MPTCP_PM_CMD_SET_FLAGS` to allow sending MP_PRIO updates for userspace PM c

[2022-06-17 03:07] geliangtang commented on #286
@mjmartineau Mat, I don't know whether Kishen will complete this issue. If no one is looking at this yet, I'm willing to do it. If so, please assign this issue to me, and I'll try to finish it in the near future. Thanks.

[2022-06-17 08:42] daire-byrne commented on #285
Thanks Mat, I'll subscribe to the mailing list as I'm bound to have more annoying questions as I go along.

I am currently using the v5.17.6 kernel with the RHEL 8.5 toolset. But I can easily use v5.18+ too.

I did also play around with setting the connection endpoints to be backup but as you say, it seems like that currently has no effect when you initiate the connection on them. I have also been

[2022-06-17 18:37] mjmartineau commented on #286
@geliangtang I did check with @kmaloor yesterday and he does have time to look at this. So, I'll assign it and set the 'bug' label since this is something we overlooked with the userspace PM series.

[2022-06-20 16:33] matttbe commented on #264
This issue should be fixed thanks to @pabeni's patch:

New patches for t/upstream-net:
- 718b9e36a088: selftests: mptcp: more stable diag tests
- Results: bd3a280300a4..2500388fcff9 (export-net)

New patches for t/upstream:
- 718b9e36a088: selftests: mptcp: more stable diag tests
- Results: f267d3bf87de..1445c5fa4907 (export)

Builds and tests are now in progress:

https://cirrus-ci.com/github/mul

[2022-06-20 16:33] #264 closed, assigned to pabeni

[2022-06-20 16:38] matttbe commented on #282
Should be fixed thanks to @pabeni's patch:

New patches for t/upstream:
- 87eefff9e9e8: selftests: mptcp: tweak simult_flows for debug kernels
- Results: 1445c5fa4907..065936dc9f58 (export)

Builds and tests are now in progress:

https://cirrus-ci.com/github/multipath-tcp/mptcp_net-next/export/20220620T163537
https://github.com/multipath-tcp/mptcp_net-next/actions/workflows/build-validation.yml?qu

[2022-06-20 16:38] #282 closed, assigned to pabeni

[2022-06-22 21:08] matttbe commented on #283
Can be closed thanks to @pabeni's patches:

- 37c90ab38feb: mptcp: never fetch fwd memory from the subflow
- b6e446432fd3: mptcp: drop SK_RECLAIM_* macros
- 31d82b289435: mptcp: refine memory scheduling
- fcc809e3a1d4: net: remove SK_RECLAIM_THRESHOLD and SK_RECLAIM_CHUNK
- Results: d99676bfce76..8346c4604d29 (export)

[2022-06-22 21:08] #283 closed, assigned to pabeni

[2022-06-23 13:29] matttbe commented on #285
Hello,

@mjmartineau can we consider this story as a duplicated of #286 ? Or is it not enough to add `MPTCP_PM_CMD_SET_FLAGS` support?

[2022-06-23 13:32] matttbe commented on #280
Hi @hansomesong

Do you mind if I close this story?
Or are the proposed solutions not OK for you?
Feel free to re-open it if not.

Do not hesitate to create a PR or an issue to have "ndiffport" support in [mptcpd](https://github.com/intel/mptcpd).

[2022-06-23 13:32] #280 closed, assigned to nobody

[2022-06-23 13:45] matttbe commented on #284
Hi @celevra

The configuration looks OK, just one question and one comment:

Applications have to specify they want to use MPTCP. Did you modify scp and sshd to create MPTCP sockets instead of "plain" TCP ones? Or did you use `mptcpize` to do that?

(For `mptcpize` you can find an example there: https://www.tessares.net/mptcp-proxy-setup-at-home-easier-now/ )

For the `ip mptcp endpoint`, you need

[2022-06-23 14:59] matttbe opened #287 "selftests: `mptcp_join.sh`: `userspace pm add & remove address`: WARNING `sock_owned_by_me()` in `mptcp_sched_get_send()`"
A warning in `sock_owned_by_me()` from `mptcp_sched_get_send()`:

[code]

Also visible on the public CI: https://cirrus-ci.com/task/5527759874162688?logs=test#L8372=

[2022-06-23 15:41] mjmartineau commented on #279
Patches causing this upstream have been reverted

[2022-06-23 15:41] #279 closed, assigned to mjmartineau

[2022-06-23 19:13] mjmartineau commented on #285
@matttbe: I opened #286 to cover userspace PM MP_PRIO functionality. I think this issue (285) is still relevant for in-kernel PM changes to accommodate priority changes on the initial subflow.

[2022-06-23 21:36] mjmartineau commented on #286
The attributes I requested for this command turn out to be too limiting: they only allow changing the subflow priority for all subflows using a specific local endpoint. After looking at the mptcpd code for setting subflow priority that uses the multipath-tcp.org netlink API, I think the attributes for  `MPTCP_PM_CMD_SET_FLAGS` should be:

- `MPTCP_ATTR_TOKEN`
- `MPTCP_PM_ATTR_ADDR` (local endpoint

[2022-06-24 07:41] pabeni commented on #285
More discussion on this topic following the latest public mtg:
as the MP_CAPABLE handshake ignores the backup frags (no priority information can be passed along during the MPC handshake), modify the `MPTCP_PM_CMD_SET_FLAGS` netlink command to handle subflow ID 0 would not be enough.

Additionally we need to update the in-kernel path manager to let it apply such setting.

A possible implementation

[2022-06-27 08:37] matttbe commented on #287
Also visible in CI's last build: https://cirrus-ci.com/task/5299236957847552?logs=test#L9293

@geliangtang could it be linked to the modifications at the end of the export branch, e.g. 136b4bc7e65b6 (_mptcp: add get_subflow wrappers_) and parent ones?

[2022-06-28 16:03] #287 closed, assigned to pabeni

[2022-06-30 09:09] matttbe commented on #284
Hi @celevra

Did you have a chance to look at my previous comment?

Note that if you use `mptcpize` (or similar), maybe this is due to the way the server is behaving by closing the listening socket and not allowing new subflows to be created, similar to issue #203.

[2022-06-30 10:12] celevra commented on #284
thank you for your response.
I'm actually on holidays and had no chance, i will look in it in around 7 days, thank you!

[2022-06-30 17:46] #286 closed, assigned to kmaloor

[2022-06-30 21:51] mjmartineau opened #288 "[syzkaller] memory leak in __netlink_create"
I'm not sure if this is a MPTCP issue or elsewhere in the net code, but logging the issue here to capture logs.

Three times over the last two weeks, syzkaller has captured "memory leak in __netlink_create" issues. Here's the log from the most recent:

[code]

While the last commands before the memleak dumps show TUN-related calls, the memleak information says the allocations were about 28 seconds

[2022-06-30 21:52] mjmartineau commented on #288
@pabeni, here are the logs for the syzkaller issue we discussed earlier today.

[2022-07-07 11:41] matttbe commented on #285
This can be closed thanks to @pabeni 's patches, thanks!

New patches for t/upstream:
- 063213e73149: mptcp: introduce and use mptcp_pm_send_ack()
- 69bc499efccb: mptcp: address lookup improvements
- 0417a959d55e: mptcp: allow the in kernel PM to set MPC subflow priority
- 084ba8b4dc1a: mptcp: more accurate MPC endpoint tracking
- 267566754670: selftests: mptcp: add MPC backup tests
- Results: c47

[2022-07-07 11:41] #285 closed, assigned to pabeni

[2022-07-07 15:25] pabeni opened #289 "mptcp: audit comments for non inclusive language"
there are a bunch of comments still using old terminology for the msk socket, we should apply

sed -e 's/master/main/'

to all mptcp comments

[2022-07-07 16:07] matttbe opened #290 "Not possible to `connect()` after a disconnect for a passive socket"
@pabeni reported that it is not possible to do a `connect()` after a disconnect for a passive socket.

It fails because the passive MPTCP socket -- created after an `accept()` -- has the `struct socket` missing for the first subflow.

A solution would be to allocate new `struct socket` at the disconnect time but then unexpected errors might happen, e.g. ENOMEM. Quite unexpected at the disconnect t

[2022-07-07 23:43] mjmartineau commented on #288
This reproduced again with tag `export/20220705T055100`. There is no access to the MPTCP generic netlink API in the full log, so it does not seem to be MPTCP-related.

[log-20220707.gz](https://github.com/multipath-tcp/mptcp_net-next/files/9067894/log-20220707.gz)
[report-20220707.gz](https://github.com/multipath-tcp/mptcp_net-next/files/9067895/report-20220707.gz)

[2022-07-11 15:43] phi-nguyendp opened #291 "[syzkaller] memory leak in inet6_create"
[code]

When sk_common_release calls mptcp_destroy() directly, the subflow will not be freed. The issue disappears when I move the code to clear subflow into the mptcp_destroy().

[code]
seem like another memory leak about `inet_create ` reported by syzkaller caused by this one too. I wonder why the code to clear subflow is not place in mptcp_destroy() ?

[2022-07-11 16:07] matttbe commented on #291
Hi @ita93

Thank you for the bug report!

By chance, did Syzkaller generate a reproducer? May you share it + the kernel config please?
And which base were you using? 3abc3ae553c7ed73365b385b9a4cffc5176aae45 ?

[2022-07-11 16:15] phi-nguyendp commented on #291
the syzkaller link is https://syzkaller.appspot.com/bug?id=9623d77a6280008dc6f9d85261fbdf16090a35e2.
for inet_create: https://syzkaller.appspot.com/bug?id=51444eda196873d80079986de45a6af9c316f516
I used the latest commit from linux-next for testing, I see that these two bugs have been around here for a long time, however.

[2022-07-12 13:36] matttbe commented on #284
Hi @celevra

Did you now have a chance to look at this issue?

[2022-07-13 07:17] celevra commented on #284
@matttbe the tutorial at tessares was exactly what i was looking for
Thank you very much, it is working now as expected :-)

[2022-07-13 07:17] #284 closed, assigned to matttbe

[2022-07-15 10:45] pabeni commented on #291
I see, the eBPF program is causing a failure after struct sock allocation. That was not foreseen at when the mptcp socket cleanup was designed.

The ebpf bits fooled us.

Note that at this point is better moving the subflow cleanup in mptcp_destroy_common() so that:
- we can remove some duplicate code in mptcp_disconnect()
- we can cover even a different leak scenario, where additional subflows ar

[2022-07-15 19:02] phi-nguyendp commented on #291
Hi @pabeni the tags you used in the email look good to me, thank you.

[2022-07-19 04:05] wangliang2 opened #292 "Can't boot after installing the kernel"
Hello, Im trying to do some work based on the latest published kernel with mptcp(5.19 rc6+）, I compiled and installed the kernel in ubuntu Desktop 22.04 LTS, but it failed to boot with the following notification:

missing modules (cat /proc/modules; ls /dev)
ALERT! UUID=XXX dose not exist Dropping to a shell

I tried to change the uuid to /dev/sda3 and many other methods, but didn't work. Have any

[2022-07-20 09:35] #292 closed, assigned to nobody

[2022-07-20 21:09] matttbe commented on #291
A fix from @pabeni is now in our tree (fixes for -net):

New patches for t/upstream-net:
- 4b5a18b64fca: mptcp: move subflow cleanup in mptcp_destroy_common()
- Results: b0fec3f01957..7023536b34d1 (export-net)

New patches for t/upstream:
- 4b5a18b64fca: mptcp: move subflow cleanup in mptcp_destroy_common()
- Results: fc8aa8591c3b..04e53d6af29a (export)

Tests are now in progress:

https://cirrus-

[2022-07-20 21:09] #291 closed, assigned to pabeni

[2022-07-21 23:35] ossama-othman commented on #280
Mat is currently working on a ndiffports plugin for mptcpd.  See intel/mptcpd#248.

[2022-07-28 15:31] matttbe commented on #59
Note: @dmytroshytyi and @bhesmans are working on that.

[2022-07-28 20:34] mjmartineau commented on #288
Two more instances of this memory leak on 2022-07-15 and 2022-07-20.

Syzbot (https://syzkaller.appspot.com/upstream/) does not appear to have hit this issue.

[2022-07-29 07:23] pabeni commented on #288
A couple of notes:
- the leaked data is struct sk_security_struct, and apparently only that. It's quite surprising that apparently no paired 'struct sock' is leaked too
- the leaked objects are allocated ~30 before the report/splat, so the relevant syzcaller programs are not included into the report.

[2022-07-29 23:50] dmytroshytyi commented on #59
You could find some info on this subject here: [https://dmytro.shytyi.net/mptcp-fast-open-in-linux-kernel/](https://dmytro.shytyi.net/mptcp-fast-open-in-linux-kernel/)

Link to the patch v4.
Changelog
PDF presentation-report.
pcap file.

[2022-08-05 23:58] mjmartineau commented on #288
I've observed a couple more instances of this leak: 2022-07-29 and 2022-08-04.

Here's the .config for anyone interested: [syz-config.gz](https://github.com/multipath-tcp/mptcp_net-next/files/9274013/syz-config.gz)

[2022-08-10 15:32] matttbe commented on #288
@mjmartineau : do you want to send a message to netdev ML (with netlink maintainers?) and/or close this ticket as it doesn't seem to be related to MPTCP?

[2022-08-10 21:58] mjmartineau commented on #288
I'll go ahead and close this, and track separately.

[2022-08-10 21:58] #288 closed, assigned to mjmartineau

[2022-08-17 09:05] nsdyoshi opened #293 "fail to create a subflow when a listen socket is closed"
Hello,
I wrote a bit tricky code that closes a listen socket after it accepts an MPTCP connection.
Then, I've noticed that we cannot establish subflows when a listen socket is closed.
But, I am wondering if this is a correct behavior.

Because the mptcp connection is already established, I think the listen socket should not affect subflow creations.
Is this  intended?

[2022-08-17 10:52] matttbe commented on #293
Hi @nsdyoshi

This is the expected behaviour.

There were quite a bit of discussions about that and even patches to change this behaviour, see: https://github.com/multipath-tcp/mptcp_net-next/issues/203#issuecomment-1071095112

But due to technical issues, we prefer to let the userspace managing this, see https://github.com/intel/mptcpd/issues/223 .

Would it be OK if your application does somethi

[2022-08-18 08:40] nsdyoshi commented on #293
Hi @matttbe Thank you so much for your quick response.

I've tried with listen(sock, 0) after close(), but it didn't work.
But, this is not what we want anyway.

I've checked https://github.com/intel/mptcpd/issues/223 . I am guessing that we might be able to have a work around if we use userspace path manager. If so, I will try it.

[2022-08-18 08:54] matttbe commented on #293
I wonder if it is not due to issue #290.
But if your `fd` has been `close()`, I thought it would not be an issue to re-create the `socket()`, `bind()` and `listen()` without being affected by #290.

[intel/mptcpd#223](https://github.com/intel/mptcpd/issues/223) issue has not been implemented yet but it is planned (I don't have the details about that).

**EDIT**: an early implementation seems avail

[2022-08-18 14:41] fw-strlen commented on #181
One solution would be to prevent the transition of the subflow socket to the timewait state (i.e. the tw_sock mini-state) if there is an outstanding data_fin ack. I'll send a test case and RFC patch to the ML shortly.

[2022-08-18 14:57] matttbe opened #294 "Clear way for userspace to know if the connection fell back to TCP"
A userspace program might want to know if an MPTCP connection fell back to TCP.
If the subflows are managed by a daemon, the userspace program might just want to know that: maybe another IP can be used, etc.

This could be done with a new dedicated `getsockopt(SOL_MPTCP, MPTCP_STATUS)`.

It could be possible to guess that using `MPTCP_INFO` but the userspace will get the same `EOPNOTSUPP` (in v6:

[2022-08-18 22:23] daire-byrne opened #295 "mptcpize, rsyncd & connection tear down (hangs)?"
Hi,

We have been using mptcp to do a bunch of bulk rsync transfers between hosts of late, and have been using the rsync daemon at one end (rather than ssh). This starts an "rsync --daemon" process and spawns a new one for every incoming client connection (mptcpize run rsync -av hostB::/blah/ /blah/").

We have added the LD_PRELOAD environment into the rsyncd.service (override) file to enable mptc

[2022-08-19 08:48] nsdyoshi commented on #293
I think I was not clear enough, Sorry... When we close socket, we can re-create socket, then do bind and listen,etc.
A problem is if MPTCP join arrives before the socket is re-created, the subflow creation will be failed. This is a bit problematic in race conditions.

I will investigate the userland path manager to see if there's any work around. Thanks for the info

[2022-08-19 09:12] matttbe commented on #293
I understand. Do you want to establish a new subflows to the server IP used by the initial subflow?
`mptcpd` will do a socket+bind+listen on the additional IP that is going to be announced by the server. It works well if your server has for example 2 IPs, the connection has been established on the "primary" IP and the goal is to have new subflows established on the "second" IP.
In this case, your

[2022-08-19 09:42] daire-byrne commented on #285
I just wanted to follow up on this and say that I have tested v6.0-rc1 and setting the initial connection IP endpoints to be "backup" subflows is now working as we wanted.

We can initiate the connections on the backup subflow endpoints but then see all subsequent transfer traffic on the configured bulk (signal) subflows.

Many thanks!

[2022-08-19 10:30] matttbe commented on #285
@daire-byrne Thank you for having validated that!

[2022-08-19 21:09] daire-byrne commented on #295
Just to add, I tried on v6.0-rc1 and got similar behaviour. If you just ctrl-c a running client rsync, the remote spawned rsync --daemon process does not exit and acts like it's still trying to communicate with the client.

I have added a timeout to the rsyncd config so that they die out after some idle period, but when using mptcp they are not detecting the closed client socket connection and gra

[2022-08-23 18:27] nsdyoshi commented on #293
Thanks for the comment. This looks like a good idea for us. We will explore it a bit more.
Thank you so much for the advice.

[2022-08-25 16:56] matttbe opened #296 "Support IP_TTL & IPV6_UNICAST_HOPS"
It is currently unsupported.

The goal is to change the TTL in the IPv4 header and in the corresponding v6 option.

As discussed at the last meeting, the best for the sockopt is probably to propagate the info to all new subflows by default except there is a technical issue. If needed, BPF can be use to unset stuff.

[2022-08-26 11:38] pabeni commented on #295
Hello,

Thanks for the report.
I can reproduce the issue locally with a similar env.

I think there are (at least :() a couple of problems:
- in the describe scenario, tcp sends a reset, while mptcp sends a plain data_fin - it should use instead a fastclose.
- it looks like that on fastclose reception, we do not set/propagate correctly the socket error (should be ECONNRESET)

the 2nd issue is like

[2022-08-26 17:12] pabeni commented on #295
I posted on the devel ML a change that should address your scenario (at least WFM):

https://lore.kernel.org/mptcp/fda2e5ce19891d50fc3b7cff19c81330b5b475b1.1661533333.git.pabeni@redhat.com/T/#u

@daire-byrne: Could you please double-check it works as expected for you, too?

[2022-08-26 17:13] pabeni commented on #295
Side note: we will need an additional patch to properly propagete the ECONNRESET error code at reset time (currently rsync sees an EPIPE)

[2022-08-28 21:04] daire-byrne commented on #295
Thanks Paolo! I tried to apply this to v6.0.0-rc2 and it applied okay but I'm getting some compile errors:

[code]

I haven't had a chance to debug much further than that yet. Perhaps I'm missing some more dependant patched from net-next.

[2022-08-29 06:25] pabeni commented on #295
The patch is on top of the current export branch:

https://github.com/multipath-tcp/mptcp_net-next

it contains a few more mptcp-related commits WRT the current Linus vanilla tree, that will land there for around 6.1.

You can either checkout the above tree or I can share a version of the patch for 6.0. Please let me know

[2022-08-29 06:33] daire-byrne commented on #295
If it's not too much hassle, then a patch for v6.0 would be appreciated simply because we plan to run that in production.

But I will test with the mptcp_linux-net branch and report back....

[2022-08-29 08:48] matttbe commented on #295
@daire-byrne : on top of v6.0-rc2 and Paolo's patch, you can replace one line to have it working:

[code]

(or you add this macro in the protocol.h file)
[code]

[2022-08-29 14:26] VenkateswaranJ commented on #222
@matttbe what do you mean by `when the command will be available`? how does the user's space know whether the command is available or not?

[2022-08-29 14:36] matttbe commented on #222
@VenkateswaranJ it was just to say that this task depends on #186 (now done).

The userspace can know if a command is supported by trying it and check the return code.

[2022-08-29 14:58] matttbe commented on #293
If you can use the latest mptcpd version (0.11), Ossama shared more details about the control you can have on the new "listener manager": https://github.com/intel/mptcpd/issues/223#issuecomment-1219670331

[2022-08-29 15:18] VenkateswaranJ opened #297 "Meaning of newly added sysctl fields in upstream kernel"
Hello,

I already have written a userspace path manager for the mptcp v0 out-of-tree kernel and currently exploring mptcp v1 (upstream) implementation. I came to know that there are some new fields added in systctl to change mptcp kernel parameters, It would be great if someone explains what they exactly mean.

I know that in Mptcp v1 we are no more using dup ask to announce subflow address. So it

[2022-08-29 15:32] matttbe commented on #297
Hello,

Good you are looking at switching to MPTCP Upstream (note that MPTCPv1 spec is also supported by the out-of-tree kernel).

Does this doc answer your questions?

https://github.com/multipath-tcp/mptcp_net-next/blob/export/Documentation/networking/mptcp-sysctl.rst

[2022-08-30 09:16] vandit86 commented on #297
Hello,
check this link :
https://www.kernel.org/doc/html/v5.19/networking/mptcp-sysctl.html?highlight=mptcp

[2022-08-30 09:42] daire-byrne commented on #295
Thanks both - I got it working in v6.0.0-rc2 and it looks like it has fixed the issue.

If I run an rsync from client to server and ctrl-c it on the client, I now see that the corresponding rsyncd spawned process on the server is responding correctly. In fact, we see it in the rsyncd log on the server now:

Many thanks!

[2022-08-30 14:19] VenkateswaranJ commented on #297
@matttbe & @vandit86 Thanks for the links. Still need some little clarifications on the things.

Allow peers to send join requests to the IP address and port number used by the initial subflow if the value is 1. This controls a flag that is sent to the peer at connection time, and whether such join requests are accepted or denied.
Joins to addresses advertised with ADD_ADDR are not affected by thi

[2022-08-31 08:08] matttbe commented on #297
This is linked to the `C` flag in the MP_CAPABLE message (Do not attempt to establish new subflows to the source address.), see https://www.rfc-editor.org/rfc/rfc8684.html#section-3.1-20.6

That's an indication the server can give. This is useful for some load balancers.

Both 'in-kernel' and 'userspace' PM can be controlled via Netlink. The 'in-kernel' PM has "global" settings for all connections

[2022-08-31 08:31] VenkateswaranJ commented on #297
@matttbe Thanks for your comments. Do we have any To Do task (or github issue) for adding a redundant scheduler? so that I can track it to know when it will get added.

[2022-08-31 08:46] matttbe commented on #297
It is somehow part of #75 for the moment.

[2022-08-31 08:48] matttbe commented on #297
I guess I can close this ticket, right?

[2022-08-31 08:48] #297 closed, assigned to matttbe

[2022-08-31 08:48] VenkateswaranJ commented on #297
@matttbe you can close this issue.

[2022-09-01 13:22] matttbe commented on #294
With `MPTCP_INFO`, we can look at `mptcpi_flags` and check for the `MPTCP_INFO_FLAG_FALLBACK` flag but this flag is currently never set if I'm not mistaken because we will not treat the `SOL_MPTCP` in case of fallback.

[2022-09-01 13:29] matttbe commented on #293
Please note that what is currently not well supported is if you want new subflows to be established on the initial destination IP after having closed the listening socket. To support new subflows, you would have to close the socket and re-open a new one with a listening backlog set to 0. It is not well supported because  the new subflow request might arrive between the `close()` and the `listen(fd

[2022-09-01 16:10] matttbe opened #298 "CG Memory accounting for passive MPTCP socket"
When working on https://github.com/multipath-tcp/mptcp_net-next/commit/ee056f61817adcd5d21ed9ff999ca0d1f395a449 patch, Paolo noticed that the memory accounting for passible (listen) MPTCP sockets is not properly taken into account.

For more details, see the first comment here below

[2022-09-02 10:14] pabeni commented on #298
Quoting the relevant mail thread:

* the passive msk itself get no sk_memcg, as it should get initialized at accept time:
https://elixir.bootlin.com/linux/v6.0-rc3/source/net/core/sock.c#L2213

but mptcp stream accept is not doing that:
https://elixir.bootlin.com/linux/v6.0-rc3/source/net/mptcp/protocol.c#L3566

* the MPJ subflows for passive sockets get no sk_memcg, for similar reasons to the abo

[2022-09-06 00:40] wloot opened #299 "several kernel warnings about mptcp"
[code]
I'm configuring mptcp on v5.19.y, but after running for a while I noticed some warnings on dmesg, I'm not sure but here it is, I would appreciate it if you could take a look.

[code]

[code]

[code]

--------------------------------------

[code]

[code]

[2022-09-06 08:28] matttbe commented on #299
Hi @wloot,

Thank you for having reported these warnings!

Would you mind sharing a few more details about your setup please?

- What's your use case?
- What kind of app is running?
- Server/Client?
- How MPTCP is configured? (`ip mptcp`? Endpoints? Limits? `mptcpd`?)
- How many subflows are being used?
- Who is discussing with this host? (Another Linux host? Which version?)
- Do you have any idea

[2022-09-06 10:12] wloot commented on #299
Hello, thanks for your reply.
I found those warnings from a MPTCP client which running Debian 11 with latest stable kernel built by debian's [kernel package scripts](https://salsa.debian.org/kernel-team/linux/-/tree/master/). It is hosting a haproxy and I use tcp converter of mptcpd to turn on MPTCP. The haproxy connects several [v2ray](https://github.com/v2fly/v2ray-core)(kind like shadowsocks) s

[2022-09-06 10:41] matttbe commented on #299
Great, I guess it means the debug symbols have been packaged somewhere, can be installed/extracted and `decode_stacktrace.sh` can be used? (if you don't mind :) )

So you have the issue with one client having 2 IPs (on one interface but that's the same from an MPTCP point of view), communicating with a server running Linux v5.18, right? That doesn't seem that uncommon.

Also were you previously us

[2022-09-06 11:07] wloot commented on #299
Sorry I have the kernel with DEBUG_INFO disabled, but I will rebuild and do it later.
And yes, in fact the reason I built kernel myself is exactly the warnings. In v5.18 server side there are also some dmesg warning, I will post them too if you want a look.
By the way I also noticed sometimes the memory usage is higer than usual after I enabled MPTCP on client, userspace side usage and `/proc/net/

[2022-09-06 11:51] wloot commented on #299
Hi @matttbe,
I found out that the dmesg warnings on server side are very similar. I did the script on a MPTCP server with debian [packaged kernel](https://packages.debian.org/bullseye-backports/linux-image-5.18.0-0.bpo.1-cloud-amd64)(remind not latest one, kernel version is 5.18.2), hope these able to help:
[code]

[2022-09-08 15:08] matttbe commented on #181
As discussed at the last meeting, there is no issue here, we can close it

[2022-09-08 15:08] #181 closed, assigned to fw-strlen

[2022-09-08 15:36] michalmorawski opened #300 "Scheduler, pathmanager, congestion control"
Hi,
In previous versions of MPTCP one was allowed to install your own versions of Scheduler, Path Manager, Congestion Control, etc. using sysctl.
I cannot find such a feature in the new (build-in-kernel 5.15 - ubuntu 2022.04) version of mptcp. Neither sysctl nor 'ip mptcp' has such options. Would you like to advise me on how to modify the default mptcp behaviour (i.e., change the Path Manager, Sch

[2022-09-08 16:07] matttbe commented on #75
Status update:
- some patches are already in our 'export' branch
- but still in development, e.g. [patches](https://patchwork.kernel.org/project/mptcp/list/?series=655328&archive=both&state=*)

[2022-09-08 16:26] matttbe commented on #300
Hi @michalmorawski

This MPTCP Upstream implementation is a re-work of the previous one (MPTCP Out of tree / fork) to fit upstream requirements. Some choices have been made and the design needed to be different. So it is normal to have differences.

Regarding the extensions, the global idea is to move the customisation part to userspace. In other words, we try to avoid having multiple path-manager

[2022-09-09 09:58] VenkateswaranJ opened #301 "how to get mptcp subflow info"
In mptcp out-of tree implementation, it's possible to get the subflow information by scraping **/proc/net/mptcp_net/mptcp**, but this file doesn't exist anymore in the upstream kernel. Do we have any other proc file to provide this info? or we need to read it via Netlink.

[2022-09-09 10:12] VenkateswaranJ opened #302 "understanding ip-mptcp command behaviour"
1. I see that [ip-mptcp ](https://man7.org/linux/man-pages/man8/ip-mptcp.8.html) will configure every ip as an endpoint with a flag signal, even though it's not useful on the client side because the client endpoint has to be configured as subflow. Is it the right behaviour of the ip-mptcp program?

2. It establishes the second sublow between server and client at the initial stage of the mptcp conn

[2022-09-09 11:26] matttbe commented on #302
Sorry, I'm not sure to understand.
With `ip mptcp`, you can do the configuration you want: you can add endpoint with the IP you selected, with the `signal` or `subflow` flag but it will not do any automatic operations (e.g. every IP, only the `signal`flag).

I guess it might make more sense to also remove the subflows associated to the endpoint you just removed. That's a behaviour that seems to ma

[2022-09-09 11:28] matttbe commented on #301
Netdev maintainers are pushing to have all the info only available through Netlink (INET_DIAG). `ss` can list all MPTCP connections and subflows (with ULP layer info).

Does it answer your question?

[2022-09-09 13:14] VenkateswaranJ commented on #302
I have installed ubuntu 22.04 and updated the kernel to 5.19 and also installed `mptcpize`, I didn't do anything other than that. Now, when I run `ip mptcp endpoint show` I expect it to be empty, but It list all my ip's added as an endpoint including ipv6 and they are added by default, so I need to run `ip mptcp endpoint flush` to clear those default endpoints and re-configure according to my purp

[2022-09-09 13:15] VenkateswaranJ commented on #301
Thanks

[2022-09-09 13:15] #301 closed, assigned to nobody

[2022-09-09 13:20] pabeni commented on #302
both mptcpd and NetworkManger (starting from version 1.40) can/will create automatically endpoints for your local address. You can configure and/or disable such behavior via the respective configurations

[2022-09-16 16:33] matttbe commented on #300
Hi @michalmorawski ,

Does my previous reply answer your questions? Can we close this ticket?

[2022-09-16 16:35] matttbe commented on #293
Hi @nsdyoshi

By chance, did you have the opportunity to explore the different solutions?
Do you think we can close this ticket?

[2022-09-16 16:41] matttbe commented on #302
@VenkateswaranJ did you check if it was mptcpd (or NM 1.40.0) who was adding all these endpoints? Can we close this ticket?

[2022-09-16 17:08] VenkateswaranJ commented on #302
yes, we can close it.

[2022-09-16 17:08] #302 closed, assigned to nobody

[2022-09-18 23:44] nsdyoshi commented on #293
Hi @matttbe
Yes, Please close this ticket as I've confirmed that a solution by using 2 IPs works for me.
If the listening socket is bound to only one IP and add the other IP as a new endpoint, I was able to create subflows even if the listening socket is closed.

[2022-09-19 11:39] #293 closed, assigned to nobody

[2022-09-19 12:47] matttbe commented on #299
Hi @wloot

Sorry for the delay.

It is not very clear what is the issue.

By chance, if you already re-build the packages, do you mind testing on top of our export branch (or netdev) to use the last dev version?

Apparently, you also need to download `decodecode` from the [kernel source code](https://github.com/multipath-tcp/mptcp_net-next/blob/export/scripts/decodecode).

[2022-09-19 13:51] matttbe commented on #75
Some feedbacks from LPC2022:
- BPF dev is going to be similar to working on kernel modules but helped by the verifier and other stuff
- using BPF `STRUCT_OPS` seems to be the right direction
- BPF code depends on the kernel version, it is not an API that is exposed to userspace and cannot be changed (!= UAPI). So we can change the callbacks, kfunc, etc.
- It is possible to mark an API as unstable/

[2022-09-19 16:57] pabeni commented on #299
Hello,

The above warning, and the others reported in the same commet are caused by a DSS mapping not covering the whole, paired skb. That should never happen and in fact we haven't observed this kind of bug since a lot of time (while is was present in the very early MPTCP implementation).

After a quick check I don't see any relevant change between 5.18 and the current devel branch, so I would gu

[2022-09-21 12:44] matttbe commented on #295
Should be fixed now in our tree thanks to @pabeni 's patches:

New patches for t/upstream:
- 374cd727ed92: mptcp: propagate fastclose error
- c745856e931e: mptcp: use fastclose on more edge scenarios
- 7ed8005532f4: selftests: mptcp: update and extend fastclose test-cases
- Results: e4bedeb4fae3..fc5b36e8ab3d (export)

[2022-09-21 12:44] #295 closed, assigned to pabeni

[2022-09-23 17:16] matttbe opened #303 "Avoid FastClose after `DATA_FIN` exchange"
After the introduction of two recent commits:

 - 374cd727ed920f3518e07053aa8fb1b3ebe78e56: mptcp: propagate fastclose error
 - c745856e931ed8bb2637b15a1ac21dcae0339240: mptcp: use fastclose on more edge scenarios

linked to #295, we had to modify some packetdrill tests: https://github.com/multipath-tcp/packetdrill/pull/86

But some of the modifications look strange: we do a full `DATA_FIN` exchan

[2022-09-26 17:16] matttbe commented on #303
Fixed thanks to @pabeni's patches:

New patches for t/upstream:
- 3fa214dd96ae: "squashed" in "mptcp: use fastclose on more edge scenarios"
- Results: a24eaf661ebf..e839b37d59fd (export)

Tests are now in progress:

https://cirrus-ci.com/github/multipath-tcp/mptcp_net-next/export/20220926T171410

[2022-09-26 17:16] #303 closed, assigned to pabeni

[2022-09-30 08:20] matttbe commented on #300
Hi @michalmorawski

I suggest to close this ticket.

Feel free to re-open it if my previous reply was not clear enough.

[2022-09-30 08:20] #300 closed, assigned to nobody

[2022-09-30 11:14] Suvam77 commented on #300
Hi @matttbe

Can you please clarify a bit more about the two path manager types you mentioned above, i.e., 'in-kernel' and 'userspace'?
And can you please describe the specific use of `mptcpd` and how it is different from `ip mptcp`  in terms of operation?

[2022-10-03 04:16] abhinaba-fbr opened #306 "pm_type in upstream implementation of mptcp"
Hi,
I was going through the previous closed tickets regarding the path manager. So far I understood that, the support for the path manager in kernel (like in v0 implementation) has been moved from kernel to userspace. Is my understanding correct in this regard?

And there exists a new config variable called **pm_type** which has two settings (0 means 'in-kernel' and 1 means 'userspace'). What do y

[2022-10-03 09:38] matttbe commented on #300
Hi @Suvam77

When you use the 'in-kernel' path manager, the kernel will do some actions depending on the endpoints you added per net namespace: `ip mptcp endpoint add ADDRESS (...)`. The same action will be taken for all MPTCP connections from the same net namespace, e.g. always announce the same IP or always create the same subflows.

With the `userspace` one, the kernel doesn't do any actions bu

[2022-10-03 12:34] matttbe commented on #306
Hi,

Be careful that when we talk about v0/v1, it is about the MPTCP protocol (RFC 6824 vs 8684), not the Linux kernel implementation (out of tree vs upstream): [Upstream vs out-of-tree implementations](https://github.com/multipath-tcp/mptcp_net-next/wiki#upstream-vs-out-of-tree-implementations)

In the out-of-tree implementation, we also have the possibility to control the path manager per connec

[2022-10-05 11:10] Monika-Research opened #307 "TCP performance better than MPTCP"
Hi Matt & others,
I have been working with MPTCP since 2017. So I was only using out of tree implementation so far. Now that upstream implementation is supporting most of the basic requirements of MPTCP, I tried using it.

I have 2 ubuntu 22.04 systems (Kernel - 5.15) with a fast Ethernet direct connection and a busy wlan connection between them. The Ethernet connection is kept as the primary flow

[2022-10-05 14:45] matttbe commented on #307
Hi Monika,

Nice, 5 years!

Do you mind re-doing the tests with a more recent kernel installed on both the client and the server side? (e.g. 6.0 or ideally by compiling our `export` branch). A lot of modifications have been done and there are some optimisations on the scheduler side: https://github.com/multipath-tcp/mptcp_net-next/wiki#changelog

Note that on Ubuntu, packages are available there:

[2022-10-05 14:57] pabeni commented on #307
Addendum: could you also please specify the link speed ? You mentioned fast ethernet  but the measured plain TCP B/W you reported is well above the fast ethernet limit (100Mbps). Are there any other flows running on the same link?

[2022-10-06 05:32] abhinaba-fbr commented on #306
Thanks a lot @matttbe for your reply.

Your comment solves my doubt.
I am closing the ticket.

[2022-10-06 05:32] #306 closed, assigned to matttbe

[2022-10-06 12:36] Monika-Research commented on #307
Firstly thank you @matttbe & @pabeni for an immediate response.

I am yet to try the new kernel version however tried tuning the TCP buffer parameters and usage of multiple parallel connections.

This is exactly an extreme scenario as rightly said by Matt. The WiFi connection is used by close to say 50 ppl in office. So its kind of a poor link. On the other hand, the ethernet connection is Cat6A 5

[2022-10-06 14:32] matttbe commented on #307
Thank you for these first tests.

Which parameters do you use with IPerf3? Is it an upload/download? Regarding the throughput, do you look at the view from the receiver side?

I don't know what's the latency on the different networks you use but you might need to go higher than 12MB for the buffers.

Mmh, strange. Then going higher than 12MB should not change anything (and I guess you are not limi

[2022-10-10 13:46] matttbe opened #308 "selftests: `mptcp_join`: test 35: `flush subflows and signal` (+71: `with port`) failing regularly"
The `mptcp_join` selftest called `35: flush subflows and signal` is regularly failing on the public CI:

[code]

We can see the client exited with an error but the rest looks good.

From:
* https://api.cirrus-ci.com/v1/artifact/task/6036322124038144/summary/summary.txt (https://cirrus-ci.com/task/6036322124038144)
* https://api.cirrus-ci.com/v1/artifact/task/5507121755193344/summary/summary.txt (h

[2022-10-10 13:49] matttbe commented on #308
It looks like the test 71 also fails the same way but less regularly, e.g.

[code]

I supposed the two are linked.

From:
* https://api.cirrus-ci.com/v1/artifact/task/6036322124038144/summary/summary.txt (https://cirrus-ci.com/task/6036322124038144)
* https://api.cirrus-ci.com/v1/artifact/task/5507121755193344/summary/summary.txt (https://cirrus-ci.com/task/5507121755193344)

[2022-10-10 13:59] matttbe opened #309 "selftests: `mptcp_join`: test 33: `remove addresses` failing occasionally"
The `mptcp_join` selftest called `33: remove addresses` is occasionally failing on the public CI:

[code]
(here with a debug kernel config)

Maybe we didn't wait long enough?

From:
* https://api.cirrus-ci.com/v1/artifact/task/6633021662035968/summary/summary.txt (https://cirrus-ci.com/task/6633021662035968)

[2022-10-10 14:48] matttbe opened #310 "selftests: `simult_flows`: transfer slower than expected!"
It is only failing occasionally on the public CI, e.g.

[code]

Only in non debug kernel config (without additional tolerance).

From:
* https://api.cirrus-ci.com/v1/artifact/task/4778608395812864/summary/summary.txt (https://cirrus-ci.com/task/4778608395812864)

If I look at the last 75 builds from the Tessares CI, we can see a few occurrences, always without a debug kernel config:

[code]

It is

[2022-10-10 15:25] matttbe commented on #310
Maybe there is something else we need to take into account to compute the max time. For example when Geliang did his test with files having 5 times the previous size, all tests were failing: [lore](https://lore.kernel.org/mptcp/CA+WQbwuVgAUSo=sP+gty0urNNWDC0JhG1MXBMzxzPxYvBj1OVg@mail.gmail.com/T/#mc6f183fbc8ccc76125e432e564606fc3efd04c3f)

[2022-10-10 22:51] DevlopD opened #311 "[Question] on using MPTCP for proxy"
Hello,

I am trying to run an MPTCP-TCP proxy with Ubuntu 22.04 (Linux 5.15), where proxy maintains MPTCP session at one side and TCP connection at the other side, and I wonder if there is any reference or verified proxy which runs with MPTCP.
I have used mptcpize to modify an existing nginx application with MPTCP socket, but it failed and proxy always closed the session when the client requested

[2022-10-11 07:06] michalmorawski commented on #300
Yes, of course. Sorry for my silence. I am waiting for Scheduler example written as BPF. Eagerly 😊. I have seen, it is already on the bakclog table.
Michał.

From: Matthieu ***@***.***>
Sent: piątek, 16 września 2022 18:33
To: ***@***.***>
Cc: Michał Morawski ***@***.***>; ***@***.***>
Subject: Re: [multipath-tcp/mptcp_net-next] Scheduler, pathmanager, congestion control (Issue #300)

Hi @michalmo

[2022-10-11 12:34] matttbe opened #312 "packetdrill: `add_addr` test is regularly failing: packets arriving before the expected time"
It is usually failing when executing the `retry` job, in v4, v6mapped and v6):

[code]

Note that on the public CI, the tests are running with a higher tolerance than what is written in the scripts:
- times 4 with a non debug kernel config (0.8s here with this test)
- times 10 with a debug kernel config (2s here with this test)

Reproduced quite regularly these last days on the public CI:
- [summa

[2022-10-11 12:36] matttbe commented on #312
Less regularly, the "server" test fails as well

[code]

This one is more surprising because the ADD_ADDR is supposed to be sent just after the accept and here it is sent a very long time after! (debug kernel config)

- [summary](https://api.cirrus-ci.com/v1/artifact/task/5459989220294656/summary/summary.txt) - [task](https://cirrus-ci.com/task/5459989220294656)

[2022-10-12 13:10] #308 closed, assigned to nobody

[2022-10-12 13:29] matttbe commented on #311
Hello,

I don't have references but a quick research on Internet pointed me to two things:
* Using ShadowSOCKS with MPTCP: https://www.tessares.net/mptcp-proxy-setup-at-home-easier-now/
* A proxy implementation dedicated to MPTCP in GO: https://github.com/naoki9911/MPTCP-Proxy

May you retry with a recent kernel (e.g. 6.0 ; download and install all .deb from: [kernel-ppa](https://kernel.ubuntu.com

[2022-10-12 17:46] pabeni commented on #312
It looks like the root cause is the CI being very slow, so that:

<event starting the timeout, at time t=0>
<next event expected t=0, arriving at t=~tolerance && t< tolerance, ok>
<another event, expected t=tolerance (prev. event time), arriving at t=~2*tolerance && t< 2*tolerance, ok>
<add_add retransmission, expected at t=1s+2*tolerance (prev event time plus drill time) , correctly arriving in a

[2022-10-18 10:34] DevlopD commented on #311
Hello,

Thanks for your kind reply, and I'm sorry to comment late.
First, After upgrading my kernel to Linux 6.0, the MPTCP socket issue on nginx was removed. My target was to use proxy which communicate with client over MPTCP, and server over TCP. I still have no idea why nginx proxy failed on Linux 5.15, but It might be not very important as it seems already fixed.

A proxy implementation dedica

[2022-10-18 10:39] #311 closed, assigned to matttbe

[2022-10-18 11:44] matttbe commented on #311
Hello,

Thank you for the feedback.

Do not hesitate to ask devs from HAProxy, Squid, nginx, etc. to support MPTCP without having to use mptcpize.
In theory, they just have to add one parameter when creating the socket. They can find some examples there: https://github.com/mptcp-apps/mptcp-hello

If you have performances issues, it is still good to report it here. Maybe there is something to impro

[2022-10-18 15:26] pabeni commented on #312
a possible fix would be replacing

```+1 <timeout pkt>```

with:

``` +0.9~+1.0 <timeout pkt> ```

and adjust the latter with the current tolerance with sed, before starting the script

(With the assumption that the timeout must be greater then the tolerance)

[2022-10-20 12:35] matttbe commented on #294
Supporting `MPTCP_INFO` for the client side is easy: we have an msk socket, we can modify the behaviour in `mptcp_getsockopt()`.

But for the server side, if it receives an MPC without MPTCP option, the new socket created after the `accept()` is a (plain) TCP socket (`tcp(v6)_prot`).

We would like to have the same behaviour:
- either we update TCP code to support MPTCP connections which fell back

[2022-10-20 13:38] matttbe commented on #312
This PR should help to reduce the false positives seen by the CI: https://github.com/multipath-tcp/packetdrill/pull/98

[2022-10-20 13:40] matttbe commented on #310
From the last meeting:

- Maybe there is something else to take into account?
- we take the file size into account, we can predict the packet overhead but it is possible packet are not sent with the full size using the full MTU → we estimate it to 10%
- in the previous analysis, it looks like 10% was OK
- also, we divide by 1024 at some points but it should be 1000. To be confirmed, not urgent but

[2022-10-20 13:40] matttbe commented on #309
From the last meeting:

- first idea: test completed before the remove was done → seems not after some tests
- maybe the "remove" is started before the expected data were fully transferred?
- new idea: waiting more before removing subflow
- but we need to wait for an event, not just increase a sleep time

[2022-10-20 13:43] matttbe commented on #248
The ADD_ADDR tests are going to be fixed by #312.

I don't think I saw the DSS failures recently.

I suggest to close this issue, we can still re-open it if we still see these issues.

[2022-10-20 13:43] #248 closed, assigned to nobody

[2022-10-20 23:58] mjmartineau opened #313 "Add netlink events for listening socket create/close"
MPTCP for Linux, when not using the in-kernel PM, depends on the userspace PM to create extra listening sockets before announcing addresses and ports. Let's call these "PM listeners".

With the existing MPTCP netlink events, a userspace PM can create PM listeners at startup time, or in response to an incoming connection. Creating sockets in response to connections is not optimal: ADD_ADDRs can't b

[2022-10-22 02:00] mjmartineau opened #314 "[syzkaller] Divide by 0 in mptcp_subflow_get_send()"
Syzkaller has started reporting a divide error in `mptcp_subflow_get_send()` (three times in 10 minutes). Tag `export/20221021T061837`.

(I had not been running syzkaller most of the week due to `c_start()` warnings triggered by a cpumask bug, which prevented any useful syskaller results)

[code]

Line 1486 of protocol.c is:
[code]

So somehow `wmem == -burst`? (`burst` is already confirmed as a n

[2022-10-22 07:57] geliangtang commented on #314
Mat, I just sent a patch to fix this error:
https://patchwork.kernel.org/project/mptcp/patch/20221022075412.471-1-geliang.tang@suse.com/

[2022-10-24 09:53] geliangtang commented on #313
@mjmartineau Mat, if no one is looking at this yet, I'm willing to do it. Please assign this issue to me.

[2022-10-25 00:28] mjmartineau commented on #313
Sure, thanks @geliangtang!

[2022-10-31 14:55] #309 closed, assigned to nobody

[2022-10-31 15:14] matttbe commented on #314
Now in our tree:

- dce423f5bbb7: "squashed" in "mptcp: add get_subflow wrappers"
- Results: 9bcf275fb027..d708694301f4 (export)

Tests are now in progress:

https://cirrus-ci.com/github/multipath-tcp/mptcp_net-next/export/20221031T151210

Thank you for the fix!

[2022-10-31 15:14] #314 closed, assigned to geliangtang

[2022-11-03 10:47] matttbe commented on #294
So option 2 it is. Here is are two examples **for kernels 5.16**:

- for a **server** (from an `accept()`) or a **client** (for a `connect()`):

[code]

- optimisation **for the server only** (from an `accept()`) and only to check directly after the `accept()` (note that, even if it should be rare, a fallback can be done later when it was established), this works with all kernel versions:

[code]

[2022-11-03 10:47] #294 closed, assigned to matttbe

[2022-11-03 15:52] matttbe commented on #299
Hello @wloot

Do you have any updates on the previous questions asked above?

If it is hard to reproduce, it is maybe best to close the ticket and re-open it if we get any new input.

[2022-11-03 16:57] matttbe commented on #307
Hi @Monika-Research

By chance, do you have any more input to share?

[2022-11-04 08:57] #312 closed, assigned to matttbe

[2022-11-06 22:21] dmytroshytyi commented on #59
Hello,

There is a new version (v15) uploaded to the mailing list:
https://patchew.org/MPTCP/20221106152411.655-1-dmytro@shytyi.net/
Build validation results:
https://github.com/multipath-tcp/mptcp_net-next/actions/runs/3404953313
There is a packetdrill test available:
https://github.com/multipath-tcp/packetdrill/pull/99

Todo:
tools/testing/selftests/net/mptcp/mptcp_connect.(c|sh) is failing. Nee

[2022-11-10 07:24] Monika-Research commented on #307
Hi @matttbe,

Firstly, sorry about the delayed response.

I didn't proceed with this any further for two reasons
1. Currently, I have few dependencies on the kernel version and can't move up to 6.0
2. The main idea was to set up MPTCP over multiple mesh interfaces. So, I started working towards the key goal. Btw, I could get this to working fine. However, I had to disable mptcpd at some point as i

[2022-11-11 17:33] #310 closed, assigned to matttbe

[2022-11-15 13:12] Monika-Research opened #315 "Issues with backup flow"
Hi Team,
Below is my setup details:
2 rpis - Ubuntu 22.04 server, 5.15.0-1016 kernel
Clients IP addresses - 192.168.11.2/24, 192.168.12.2/24
Server IP addresses - 192.168.11.3/24, 192.168.12.3/24
Stopped mptcpd and using ip mptcp to set path management rules

My aim is to create a primary flow between 192.168.11.2 & 192.168.11.3 and a backup subflow between 192.168.12.2 & 192.168.12.3 network. Tha

[2022-11-15 17:29] matttbe commented on #299
I suggest to close this ticket.

Feel free to re-open it with the requested info (see above): it would be great to fix it if it has not been fixed in between.

[2022-11-15 17:29] #299 closed, assigned to nobody

[2022-11-18 10:26] matttbe commented on #313
The new feature has been added by Geliang:

New patches for t/upstream:
- a6871c7e014a: mptcp: add pm listener events
- 4aabc20960d4: selftests: mptcp: enhance userspace pm tests
- 83027c9e1d0c: selftests: mptcp: listener test for userspace PM
- e33052bbf56f: selftests: mptcp: listener test for in-kernel PM
- Results: 48478f54612d..077c54d47661 (export)

- e9fa9c5f6951: tg:msg: events are for any

[2022-11-18 10:26] #313 closed, assigned to geliangtang

[2022-11-21 14:10] matttbe commented on #315
Hi Monika,

Thank you for the bug report.

Did you disable the service not to have it started at boot time or did you stop it later? I mean: did you check there was no rules previously added by this daemon?

What are the (IP) routes and rules you have in place? (`ip route show table all && ip rule`)?
On the client side, how do you ask to connect to the other side? a `connect()` to a specific IP? A

[2022-11-21 14:30] matttbe commented on #59
Last "TODO" as discussed at the last meeting:

- [x] Packetdrill for the client side (TODO Matth: check that → done)
- [x] Packetdrill for the server side (we don't have any)
- [x] Remaining socket option? (set key + packetdrill)

[2022-11-22 18:12] matttbe opened #316 "TFO: stall CPU if SYN is reset"
When looking at validating MPTCP+TFO for the server side, I got a kernel deadlock on top of the export branch from yesterday: a84974a9e511b80dd33387de1282b31421f1d96d → export/20221121T103206

[code]

The packetdrill test that can reproduce the issue:

[code]

So here, packetdrill has injected a (valid) SYN with data (TFO). In theory, a SYN+ACK has been sent back by the kernel and a RST has been i

[2022-11-22 18:28] matttbe commented on #316
With a debug kernel:

[code]

[2022-11-22 18:31] matttbe commented on #59
Note: I'm looking at adding more packetdrill tests for the server side. I found a bug thanks to that, see #316

[2022-11-22 20:57] pabeni commented on #316
it looks like the issue is a pre-existing one (WRT TFO) !?! should be introduced by:

commit 30e51b923e436b631e8d5b77fa5e318c6b066dc7
Author: Menglong Dong <imagedong@tencent.com>
Date:   Tue Sep 27 12:31:58 2022 -0700

    mptcp: fix unreleased socket in accept queue

Could you please try the following patch? (not even compile tested)
[code]

Additionally it would be nice add the test describe by

[2022-11-23 10:01] matttbe commented on #316
@pabeni: thank you for the quick reply!

Indeed, the patch fixes the issue I reported :-)

I did 100 iterations with the packetdrill test and a debug kernel config.

I guess you plan to send a patch to the ML, right? :)

[2022-11-23 16:48] #316 closed, assigned to pabeni

[2022-11-24 15:18] matttbe opened #317 "TFO: IPv6: the generated cookie is not the expected one"
Packetdrill is reporting that the cookie generated by the kernel is not the expected one when testing in IPv6.

After a bit of debugging, I noticed `req->rsk_ops->family` is set to `AF_INET` (not `6`) because the subflows extends the `request_sock_ops` of TCP v4 (`tcp_request_sock_ops`).

Validation in progress but here is a ticket to start discussions (and not to forget to talk about that at the

[2022-11-24 16:23] matttbe commented on #317
The Packetdrill test I was using:

[code]

And the command:

[code]

[2022-11-24 16:24] matttbe commented on #317
WIP kernel code: https://github.com/matttbe/mptcp_net-next/commits/mptcp_subflow_v6_request_sock_ops

[2022-11-24 16:29] matttbe commented on #317
Remaining question:
- do we need the same slab for v4 and v6 or better with two different ones
- (I guess it is not linked with ↑ but we should still allow a mix of subflows in v4 and v6 for the same MPTCP connection)

[2022-11-24 17:35] matttbe commented on #269
(follow up from a discussion we just had at the weekly meeting)

@pabeni : if I remember well, there is a limitation in the in-kernel PM: if I'm not mistaken in `select_local_address()`, there is this check: `if (entry->addr.family != sk->sk_family)` where sk is in fact the msk: we only allow for example v4/v4 or v6/v6 (or v4mapped). I guess we should instead check if we have a v6-capable socket a

[2022-11-24 21:01] pabeni commented on #317
note that kmem_cache_create can re-use existing slabs when the arguments matches - in practice tcp_prot and tcpv6_prot should have/use the same slab.

so both copying the slab field or calling twice kmem_cache_create should yeld to the same result

[2022-11-25 09:51] matttbe commented on #317
Hi @pabeni ,

Thank you for your feedback!

If I'm not mistaken, for the moment, we have slabs for `mptcp_prot` (proto, requests, TW), `mptcp_v6_prot` (proto, requests, TW) and `mptcp_subflow_request_sock_ops` (requests only).

`tcp_prot` and `tcpv6_prot` have different `name`s (`TCP` vs `TCPv6`) and the name is used to create the different slabs (proto, requests, TW). So similar to MPTCP proto, t

[2022-11-25 10:12] pabeni commented on #317
Note that kmem_cache_create can still reuse an existing slab even if asked to created a new one with a different name, if overall argments allow for that, see:

kmem_cache_create -> kmem_cache_create_usercopy -> __kmem_cache_create -> __kmem_cache_alias

the relevant slab name for request socket should be: "request_sock_TCP" "request_sock_TCPv6" see req_prot_init()

Note that you can inspect the e

[2022-11-25 10:39] matttbe commented on #317
Thank you for the explanations, it is clearer now, I missed the part about the "merging" bit :-)

OK thank you for this feedback!

If merges are done (and no new allocations), should I then keep the code "simple" by keeping `subflow_ops_init()` untouched and calling it twice: once for v4 and once for v6 (with the same name then)?

[2022-11-30 09:57] matttbe opened #318 "selftests: `mptcp_connect.sh` sometimes fails when validating SYN cookies"
It is not that often but reported at least one or two times per week by the public CI.

Here is an example:

[code]

From:
- https://api.cirrus-ci.com/v1/artifact/task/4941721188958208/summary/summary.txt
- https://cirrus-ci.com/task/4941721188958208

~We briefly discussed about that at the meeting last week and it could be eventually fixed by this series: https://lore.kernel.org/all/2022113009444

[2022-11-30 10:07] VenkateswaranJ commented on #75
Does this task implement **Redundant scheduler**?

[2022-11-30 10:12] matttbe commented on #59
2 remaining items before closing this issue:
- [x] review / merge the new packetdrill tests I suggested (task currently assigned to @dcaratti but we can change if needed): https://github.com/multipath-tcp/packetdrill/pulls/matttbe
- [ ] add a new test to validate the server can handle SYN + MPTCP + Cookie request without TS (currently assigned to @dmytroshytyi): https://github.com/multipath-tcp/pa

[2022-11-30 10:15] matttbe commented on #75
@VenkateswaranJ not yet but it is in development to validate the API, see https://lore.kernel.org/all/cover.1669605531.git.geliang.tang@suse.com/