[2018-06-21 18:26] brodnev opened #1 "Data Acknowledgement if single node is used"
The MPTCP uses Data Acknowledgement in order to retransmit data if one of the nodes fails permanently. Whatever, if there is only one (single) node between mptcp capable sender and mptcp capable receiver, does the Data Acknowledgement is still operating?

[2018-06-21 18:41] mjmartineau commented on #1
@brodnev, for protocol questions like this I recommend either the multipath-tcp.org mailing list (https://listes-2.sipr.ucl.ac.be/sympa/info/mptcp-dev) for questions about the current Linux MPTCP implementation, or the Linux MPTCP upstreaming list at https://lists.01.org/mailman/listinfo/mptcp regarding the work-in-progress implementation in this github repo.

[2018-06-21 18:41] #1 closed

[2020-03-19 10:41] pabeni opened #2 "reduce hooking in TCP code"
the mptcp_rcv_synsent() hook can be dropped moving the related code in subflow_finish_connect()

[2020-03-19 10:42] pabeni opened #3 "fix 'mmap' related race"
mptcp_connect self-tests with additional '-m mmap' argument produce a splat - WARN_ON_ONCE in mptcp_reset_timer() as the mptcp timer is not initialized yet

[2020-03-19 11:17] pabeni opened #4 "keep a single work struct in mptcp socket"
currently we have 2 different work_struct in mptcp_sock: one for rtx/ack/eof and one for the PM. we can keep only one of them, reducing the memory usage and likely increasing the efficiency - if multiple event are scheduled in a short time frame, we will acquire the lock only once

[2020-03-19 11:45] pabeni opened #5 "Allow ss/netstat etc. to show program name for client and listener MPTCP subflows"
The TCP sockets list includes the MPTCP subflows.

When dumping the above e.g. with ss or netstat adding the '-p' option, the owining process name is not shown for client and listener MPTCP subflow sockets.

The root cause is that such sock refers to an 'struct socket' allocated internally by the kernel and not linked to any inode.

Possibly:

    SOCK_INODE(ssock)->i_ino =  SOCK_INODE(msk->sk_soc

[2020-03-23 10:07] matttbe opened #6 "loss and delay without reordering causes very slow transfer"
When running `mptcp_connect` kselftest, we can have timeouts when losses and delays are important but there is no re-ordering, e.g.

[code]

We only have this issue when there is no re-ordering added with TC netem.

Note: when it is fixed, it could be good to reduce the default timeout, linked to https://patchwork.ozlabs.org/patch/1196109/

[2020-03-23 11:48] pabeni opened #7 "cleanup sendmsg_frag allocation"
Currently sendmsg_frag may block with msk socket lock held:

- directly, in the mptcp_page_frag_refill()/mptcp_ext_cache_refill() loop
- indirectly, via do_tcp_sendpages(), if sk_stream_memory_free() fails
- indirectly, via do_tcp_sendpages(), trying to allocate the new skb
- indirectly, via do_tcp_sendpages(), trying to forward allocate the memory account for skb

note mptcp currently pick a subf

[2020-03-23 20:58] matttbe commented on #6
I don't know if it is luck or not but I got a new timeout again. I didn't get it for weeks:

[code]

[2020-03-24 11:13] pabeni opened #8 "fix possible race in subflow_finish_connect()"
if (inet_sk_state_load(parent) != TCP_ESTABLISHED) {
                inet_sk_state_store(parent, TCP_ESTABLISHED);

is unsafe on shutdown (we may override a close state)

[2020-03-24 11:21] pabeni opened #9 "fix "IPv4: Attempt to release TCP socket in state 1 "... on shutdown"
running the following syzkaller:

[code]
beyond triggering issues/3, it blocks - as expected. Explicitly killing the process yeld the following warning:

"IPv4: Attempt to release TCP socket in state 1"

The call trace to the above printk is the following one:

            7fff82f81a4a printk ([kernel.kallsyms])
            7fff8441f637 __sk_destruct ([kernel.kallsyms])
            7fff84aaecbf su

[2020-03-24 15:03] pabeni opened #10 "reduce mptcp options space usage"
'struct mptcp_options_received' is part of tcp socket and can be zeroed per packet

'struct mptcp_out_options' is part of 'struct tcp_out_options', is allocated on the stack and is cleared once for each xmitted TCP packet.

Both the above mptcp data structer are wider than what is strictly needed, and could be shrinked, saving both memory and performances

[2020-03-24 15:07] pabeni opened #11 "fix fallback to TCP"
fallback to TCP after the 3w handshake is not currently functional server side - as the msk lacks the required 'subflow' field for that.

Additionally we don't support infinite mapping, not check for later fallback.

Support for infinite mapping will allow fixing the above and will simplify the recvmsg and poll fallback path - sendmsg still needs explicit fallback check.

[2020-03-26 10:44] matttbe commented on #6
just to track the frequency, I got a new warning last night:

[code]

[2020-03-27 09:27] matttbe commented on #6
[code]

[2020-03-31 18:53] cpaasch commented on #3
For the record, syzkaller reproducer is

[code]

C-repro
[code]

[2020-04-01 20:03] matttbe commented on #6
[code]

[2020-04-01 21:52] cpaasch opened #12 "[syzkaller] INFO: task hung in lock_sock_nested"
syzkaller triggered on top of 6fe9a949d3fe with Florian's patch
[patch.txt](https://github.com/multipath-tcp/mptcp_net-next/files/4417665/patch.txt)

[code]

syzkaller-repro

[code]

C-repro
[code]

[2020-04-14 15:45] cpaasch opened #13 "[syzkaller] WARNING in mptcp_incoming_options"
No reproducer yet...

[code]

[2020-04-15 10:54] pabeni commented on #12
looks like this one is fixed on top the current export branch + "mptcp: fix double-unlock in mptcp_poll" (-net commit e154659ba39a1c2be576aaa0a5bda8088d707950), can you please confirm?

[2020-04-15 17:57] cpaasch commented on #12
Yes, no more panic with the reproducer. Closing!

[2020-04-15 18:02] cpaasch commented on #12
Actually, no - I didn't wait long enough for the task-hung to be detected.

I still got the crash on commit e154659ba39a ("mptcp: fix double-unlock in mptcp_poll")

[2020-04-22 16:49] matttbe commented on #6
[code]

[2020-04-23 16:41] pabeni commented on #9
The issue with stack trace reported above is fixed by upstream commit:

df1036da90108b1a9969721beab34f4c76228bcc

But I'm still hitting the warn message with a different stack trace:

[code]
this looks related to issue#8

[2020-04-24 10:36] pabeni opened #14 "audit mptcp_disconnect()"
the:
[code]
looks suspicious (lock should be already held by the caller)

And call to:
[code]

either - this is not a TCP socket, we should likely loop on conn_list, join_list

[2020-04-24 10:47] pabeni commented on #9
The latter splat is really caused by issue#8, will be handled there. Closing this one as fixed by commit df1036da90108b1a9969721beab34f4c76228bcc

[2020-04-24 10:47] #9 closed, assigned to nobody

[2020-04-27 09:22] pabeni commented on #8
fixed upstream by:

commit 1200832c6e850a17f36631f6492f953a1b39e6b8
Author: Paolo Abeni <pabeni@redhat.com>
Date:   Fri Apr 24 13:15:21 2020 +0200

    mptcp: fix race in msk status update

[2020-04-27 09:22] #8 closed, assigned to nobody

[2020-04-27 14:19] pabeni commented on #12
I can't reproduce the issue on my local tree (which comprise -net fixes up to 1200832c6e850a17f36631f6492f953a1b39e6b8 plus a pending one). Is the splat backtrace unchanged? how many vCPUs has the VM under test?

[2020-04-27 22:30] cpaasch commented on #12
Yes, cant' repro. Closing!

[2020-04-27 22:30] #12 closed, assigned to nobody

[2020-04-28 15:54] pabeni opened #15 "reduce mptcp_out_option struct size"
the tcp_out_option struct is allocated on the stack memset()-ed by tcp_make_synack() and __tcp_transmit_skb().

The 'TCP' part of it is 24 bytes, the MPTCP options account for 120 bytes.

Since we control MPTCP option creation/insertion and we do not allow simult MPC,MPJ or DSS we could put most MPTCP fields under an union.

Additionally option writing could be cleaned-up a bit avoiding several co

[2020-04-29 08:47] pabeni opened #16 "get rid of mptcp hooking in tcp_check_req()"
We currently have the following code in tcp_check_req():
[code]
Can we instead, for mp_join child, in subflow_syn_recv_sock():
* complete the hashdance
* adjust sk refcnt,
* return *own_req == false
?
If not, document properly why (here and/or directly in the code)

Note: no need to call subflow_syn_recv_sock() / sock_rps_save_rxhash() in subflow_syn_recv_sock(), tcp_check_req() will do that, sinc

[2020-04-29 10:17] pabeni opened #17 "allow non 'backup' subflows creation"
the PM allows setting/controlling the backup flag in the newly created subflows, but we set it unconditionally in the MPJ handshake.

Let MPJ handshake value be really controlled by the PM, so that we can establish non backup subflow.

The above should/will enable sending data on multiple subflow simult and will likely need some/many fixes to the RX and TX path - notably we may want to pick a diff

[2020-04-29 17:46] pabeni opened #18 "allow 'force to MPTCP' mode: sysctl"
we need a system/per netns switch to allow forcing existing, unmodified, application to create by default MPTCP sockets instead of TCP one.

A current, naive, approach is via syscall hijacking:

https://github.com/pabeni/mptcp-tools/tree/master/use_mptcp

possible alternatives could be via systemtap, eBPF (do we have a suitable eBPF hook?) or per netns sysctl.

[2020-04-29 18:01] mjmartineau commented on #18
We don't have a suitable eBPF hook yet. We've discussed adding BPF_CGROUP_SOCKET to allow per-cgroup override of proto in the socket() call.

[2020-04-30 16:56] matttbe commented on #10
Note: can be closed when this series is applied: https://patchwork.ozlabs.org/project/mptcp/list/?series=173810&state=%2A&archive=both

[2020-04-30 16:57] matttbe commented on #2
Note: can be closed when this series is applied: https://patchwork.ozlabs.org/project/mptcp/list/?series=173810&state=%2A&archive=both

[2020-04-30 16:57] matttbe commented on #7
Note: Florian is looking at this.

[2020-04-30 19:47] matttbe commented on #2
This series has been applied, we can close this issue.

[2020-04-30 19:48] matttbe commented on #10
This series has been applied, we can close this issue.

[2020-04-30 19:48] #10 closed, assigned to nobody

[2020-05-04 08:47] pabeni commented on #14
mptcp_disconnect is never used, fixed upstream by:

commit 42c556fef92361bbc58be22f91b1c49db0963c34
Author: Florian Westphal <fw@strlen.de>
Date:   Wed Apr 29 20:43:20 2020 +0200

    mptcp: replace mptcp_disconnect with a stub

[2020-05-04 08:47] #14 closed, assigned to nobody

[2020-05-04 08:50] pabeni commented on #13
this should be fixed on -net branch by:

commit d6085fe19b8ec53d8ea2d8a10390b7ab6978ac44
Author: Paolo Abeni <pabeni@redhat.com>
Date:   Thu Apr 30 15:01:53 2020 +0200

    mptcp: avoid a WARN on bad input.

And with all fixes up:

commit ac2b47fb92c50682d89d7350a491a6a392bac5dd
Author: Paolo Abeni <pabeni@redhat.com>
Date:   Thu Apr 30 15:03:22 2020 +0200

    mptcp: fix uninitialized value acces

[2020-05-04 09:03] pabeni opened #19 "let PM netlink update live sockets on local addresses list change"
currently, when a new MPTCP endpoint is added and/or deleted, the existing MPTCP sockets are not affected.

The idea would be traversing the MPTCP sockets list and act accordingly: close and destroy subflows using the removed addresses, try to create subflows for newly added addresses, if local constraint allows that.

The above would allow the PM netlink interface to start an active backup scenar

[2020-05-04 10:43] pabeni opened #20 "implement msk diag interface"
so that we can dump additional MPTCP-related info to user-space, e.g.:

- data seq/ack seq
- number of subflows
- number of accepted add_addr
- number of signaled addresses

[2020-05-04 11:35] pabeni opened #21 "sort-out {set,get}sockopt handling"
{set,get}sockopt should be usable even for non-fallback socket.

A possible implementation can be:

sort all possible setsockopt (SOCKET, IP, TCP level) values in different sets:

* options applied (set) to all subflows and read (get) from the first one
  (e.g. most/all??? IP level options)

* options applied/read only to the first subflow
  (???TCP_INFO, SO_BINDTODEVICE???)

* options available o

[2020-05-04 16:08] cpaasch commented on #13
Indeed!

[2020-05-04 16:08] #13 closed, assigned to nobody

[2020-05-05 14:53] matttbe commented on #6
(again just for the record, from the last build today)
[code]

[2020-05-08 08:20] #3 closed, assigned to nobody

[2020-05-08 08:20] #7 closed, assigned to nobody

[2020-05-08 08:22] pabeni commented on #5
Resolved with upstream commit:

commit 7d14b0d2b9b317cfc14161143e2006b95a5da9b1
Author: Paolo Abeni <pabeni@redhat.com>
Date:   Thu May 7 18:53:24 2020 +0200

    mptcp: set correct vfs info for subflows

[2020-05-08 08:22] #5 closed, assigned to nobody

[2020-05-08 08:41] pabeni commented on #16
The above schema cant' work:

* if syn_recv_sock() returns a != NULL child socket ptr, the request socket pointer must still be valid (will be de-referenced by tcp_check_req() before inet_csk_complete_hashdance());

* if syn_recv_sock() return own_req == false, tcp_check_req() will NOT release the req sock

Overall we lack a way to dispose the req socket 'stolen' by the MP_JOIN without our custom

[2020-05-11 07:16] dcaratti opened #22 "fix covscan issues"
Covscan reported an issue in `subflow_finish_connect()`:  checking non-nulliness of skb is reported as being useless, since we didn't do that earlier, when `mptcp_get_options()` was invoked.
[code]

[2020-05-12 08:58] pabeni opened #23 "refactor token container"
The radix_tree lock is contended by every incoming connection, currently requires a lock for lookup and requires a lock for traversing.

We need fast/uncontended traversing for #19 and #20

Idea is to replace the radix tree with a large hash table

[2020-05-13 17:59] cpaasch opened #24 "Revisit layout of struct mptcp_subflow_context"
From Paolo:

[code]

[2020-05-15 18:38] matttbe commented on #6
(again just for the record, from the last build today)
[code]

[2020-05-18 09:22] matttbe opened #25 "mptcp_connect: Connection reset by peer during a test"
My CI detected this error:

[code]

Of course, I am currently not able to reproduce it with more debug.

[2020-05-19 15:03] pabeni commented on #25
this is possibly addressed by:

https://lists.01.org/hyperkitty/list/mptcp@lists.01.org/thread/SWZTRVM7R3MGNGMDMW5ALHG6ZEG72V3U/

[patch 2/2]

It's hard to tell without further info. perhaps we could change the self-test script to do the output file comparisons regardless the mptcp_connect return code. (self-test will still fail if return code is != 0)

[2020-05-21 16:00] matttbe opened #26 "Unstable packetdrill tests"
Hello,

I just noticed that in the recent builds from my CI, packetdrill tests were unstable: sometimes OK, sometimes not. Always the same error:

[code]

[code]

So far, I cannot reproduce it locally.

[2020-05-21 16:17] dcaratti commented on #26
the numbers in the "script packet" are not realistic, while the actual packet contains meaningful numbers. I suspect that the parser of DSS option has something bad in the packetdrill code (see https://github.com/dcaratti/packetdrill/issues/12)

[2020-05-27 12:49] matttbe commented on #26
(just to track the frequency, not to push, not to bring new info, I post here the error from yesterday's build)

[code]

[2020-05-27 17:57] pabeni opened #27 "unblocking connect fails most of the time"
mptcp_stream_connect() does not work well in unblocking mode. The usage pattern is:

`
    connect() // -EINPROGRESS
    select()/poll()
    connect() // here we get -EINVAL most of the time
`
the problem is that mptcp_stream_connect() does not track the 'connecting' status and on the 2nd invocation, if the MPC hanshake is completed, it tries again to create the main/first subflow, failing.
Soluti

[2020-05-28 15:39] matttbe commented on #26
(just to track the frequency, not to push, not to bring new info, I post here the error from yesterday's build)

[code]

[2020-05-28 15:47] cpaasch opened #28 "[syzkaller] WARNING in __mptcp_move_skbs_from_subflow"
Head is netnext (d8e79f1dbcee ("nexthop: Fix type of event_type in call_nexthop_notifiers")).

[code]

Syzkaller reproducer:
[code]

C repro attached.

[2020-05-28 15:50] cpaasch opened #29 "[syzkaller] INFO: task hung in lock_sock_nested"
Head is:

[code]

[code]

Syzkaller reproducer:
[code]

C reproducer:
[code]

[CURRENT_CONFIG.txt](https://github.com/multipath-tcp/mptcp_net-next/files/4737249/CURRENT_CONFIG.txt)

[Edit 06/05/2020: Updated HEAD, crashtrace and reproducers]

[2020-05-29 15:59] cpaasch commented on #28
Attached c-repro disguised as .txt ... 🤦‍♂️

[repro.txt](https://github.com/multipath-tcp/mptcp_net-next/files/4702877/repro.txt)

[2020-05-29 17:10] cpaasch opened #30 "ssh restart does not work"
When restarting ssh on a kernel which default-enables MPTCP I get the following error:

[code]

When doing this while being logged in to the host. I guess it's a missing socket-option (SO_REUSE*?).

[2020-06-01 10:57] pabeni commented on #27
fixed by the following upstream commit:

commit 41be81a8d3d09acb9033799938306349328861f9
Author: Paolo Abeni <pabeni@redhat.com>
Date:   Fri May 29 17:43:29 2020 +0200

    mptcp: fix unblocking connect()

[2020-06-01 10:57] #27 closed, assigned to nobody

[2020-06-01 11:31] pabeni commented on #30
mptcp_{set,get}sockopt require some love. We have several issues there:

- SOCKET level {set,get}sockopt are always a no-op, __sys_setsockopt() calls sock_setsockopt() and that change msk bits, which are mostly unused. A possible fix would be copying from the msk into subflow before bind/connect/listen the relevant bits.

- SOL_IP/SOL_TCP can't work before bind()/listen()/connect(), as we need a f

[2020-06-01 13:53] dcaratti commented on #26
@matttbe: while adding support for ADD_ADDR_V1, @malsbat found and fixed a bug that probably has something to do with the reported problem. With commit https://github.com/dcaratti/packetdrill/commit/b3ef5efd302f029c7698df09e7f34ddb863a2490 , I fixed usage of `htonl()` in place of `htonll()` in the DSS inbound parser for DSN8 + DACK8, but I omitted to propagate the fix to the inbound parser of DSN8

[2020-06-01 16:36] cpaasch opened #31 "Allow MPTCP + SYN_COOKIES"
Just as a "reminder" so it is tracked as a task:

MPTCP + SYN_COOKIES support is important to allow webservers to enable MPTCP. Currently we are falling back to regular TCP when SYN-cookies are kicking in.

[2020-06-01 16:40] cpaasch opened #32 "[syzkaller] INFO: rcu detected stall in ip_rcv"
(don't remember the HEAD I am currently running syzkaller on :-/ )

[code]

syz-repro:
[code]

C-repro:
[code]

[2020-06-01 17:09] cpaasch opened #33 "weighttp-test on 1KB file with mptcp.org-client in "ndiffports"-mode"
Running the test "simple_abndiff" with mptcp.org-client and netnext server [1], I see netnext "stalling".

The test https://github.com/multipath-tcp/mptcp-scripts/blob/master/testing/testing.py#L1725, creates 100 concurrent clients for 100000 requests of 1KB files. mptcp.org is configured with "ndiffports" 8, which means it will create 8 subflows to the primary IP-address without waiting for ADD_A

[2020-06-01 17:23] cpaasch commented on #28
With the C-repro on top of:

[code]

I am getting a crash, although with a different signature than the original one:
[code]

[2020-06-01 17:43] cpaasch commented on #28
This latter is probably a dupe of #32

[2020-06-01 18:42] cpaasch commented on #32
Even with the change that adds ```mptcp_clear_token``` I am still able to trigger this crasher here.

[2020-06-01 18:43] cpaasch commented on #32
Repro'd on top of:

[code]

[2020-06-01 19:07] cpaasch opened #34 "WARNING: Bad mapping: ssn=1 map_seq=498340137 map_data_len=79"
Hit it once, while running apache-benchmark stress-test with 100 concurrent clients up to 100k requests for file-sizes of 1KB (aka., test "simple_ab").

[code]

[2020-06-01 21:17] cpaasch opened #35 "[syzkaller] WARNING in subflow_data_ready"
HEAD is at:

4fb948e08615 ("Cleanup") (HEAD) (3 minutes ago)
55a9c834a69e ("net: mptcp: improve fallback to TCP") (3 minutes ago)
431bc5f80631 ("mptcp: add receive buffer auto-tuning") (3 minutes ago)
e15b65dd24f2 ("bpf: fix unused-var without NETDEVICES") (3 minutes ago)
bc4f114 ("[DO-NOT-MERGE] mptcp: enabled by default") (tag: export/20200605T181020, mptcp_net-next/export) (57 minutes ago)
420e

[2020-06-02 00:18] cpaasch commented on #35
This here is triggering a new warn in Davide's patch. However, the issue seems to be a bit deeper.

This socket is trying to connect to itself. When this happens it goes into the "simultaneous-open" code-path in tcp_rcv_synsent_state_process (for the SYN) and into tcp_rcv_state_process, case TCP_SYN_RECEIVED (for the SYN/ACK). Thus, we never call tcp_finish_connect which would end up calling subfl

[2020-06-04 10:55] pabeni commented on #32
Still no clue here. What I observe:

When the issue/race is triggered, at mptcp_close() time an MPTCP listener socket is 'hashed' (that is !!sk_node.pprev, supposedly inserted into the token container), but can't be found into the relevant bucket.

The previous listen() call completed with the mentioned socket being correctly 'unhashed'.

No idea who/how flipped sk_node.pprev meanwhile

[2020-06-04 16:54] cpaasch commented on #32
Can't repro anymore with HEAD:

e7d05321339a ("add mptcp_token_destroy") (HEAD) (11 seconds ago)
76646ab2dfd0 ("Squash-to: "mptcp: refactor token container."") (25 hours ago)
d7414e0a5c73 ("Cleanup") (25 hours ago)
a3ca6689d434 ("Paolos pastebin") (25 hours ago)
ccc3b33a447d ("FIX inet_csk_prepare_for_destroy_sock") (25 hours ago)
446548400687 ("net: mptcp: improve fallback to TCP") (25 hours ago)

[2020-06-04 17:02] cpaasch commented on #29
Can't reproduce anymore with HEAD at:

e7d05321339a ("add mptcp_token_destroy") (HEAD) (11 seconds ago)
76646ab2dfd0 ("Squash-to: "mptcp: refactor token container."") (25 hours ago)
d7414e0a5c73 ("Cleanup") (25 hours ago)
a3ca6689d434 ("Paolos pastebin") (25 hours ago)
ccc3b33a447d ("FIX inet_csk_prepare_for_destroy_sock") (25 hours ago)
446548400687 ("net: mptcp: improve fallback to TCP") (25 hou

[2020-06-04 21:40] cpaasch commented on #29
syzkaller still found this bug - reproducer will come

[2020-06-04 21:40] cpaasch commented on #28
syzkaller still found this bug - reproducer will come

[2020-06-05 10:33] dcaratti commented on #35
even with the WARN() line removed (or equivalently, removing the fallback rework patch), a `write()` operation subsequent to the `connect()` in the above scenario would hang forever, probably because of the value of `sk_state`:
[code]

[2020-06-05 14:26] cpaasch commented on #34
Syzkaller also hit it

[code]

2d948a5e3ead ("mptcp: check for plain TCP sock at accept time")  (HEAD) (10 minutes ago) <Paolo Abeni>
404b0abd5a9a ("mptcp: support IPV6_V6ONLY setsockopt")  (2 hours ago) <Florian Westphal>
5355be031726 ("mptcp: add REUSEADDR/REUSEADDR support")  (2 hours ago) <Florian Westphal>
84f9bcd3c1fc ("net: use mptcp setsockopt function for SOL_SOCKET on mptcp sockets")  (2

[2020-06-05 14:36] cpaasch commented on #28
Most recent repro on top of:

61820897eea1 ("add mptcp_token_destroy")  (HEAD) (5 minutes ago) <Christoph Paasch>
b0d0a0e4a622 ("Squash-to: "mptcp: refactor token container."")  (5 minutes ago) <Paolo Abeni>
f20592a47bdd ("Cleanup")  (5 minutes ago) <Christoph Paasch>
5d3e110f5b3f ("Paolos pastebin")  (5 minutes ago) <Christoph Paasch>
39e00acbdf14 ("FIX inet_csk_prepare_for_destroy_sock")  (5 min

[2020-06-05 14:39] cpaasch commented on #32
Closing as it does not reproduce anymore.

[2020-06-05 14:39] #32 closed, assigned to nobody

[2020-06-05 15:59] matttbe commented on #26
@dcaratti

I just got the same error:

[code]

Can we add your fix in https://github.com/multipath-tcp/packetdrill ? :)

[2020-06-05 23:11] cpaasch opened #36 "[syzkaller] WARNING in mptcp_token_destroy"
HEAD is at:

14a0decd6073 ("mptcp: do nonce initialization at subflow creation time")  (HEAD) (9 minutes ago) <Paolo Abeni>
9dd0407e07c4 ("Cleanup")  (9 minutes ago) <Christoph Paasch>
420165c3e256 ("mptcp: add receive buffer auto-tuning")  (9 minutes ago) <Florian Westphal>
ddd7a892c5d6 ("[DO-NOT-MERGE] mptcp: enabled by default")  (9 minutes ago) <Matthieu Baerts>
ed5ec40ec710 ("[DO-NOT-MERGE] m

[2020-06-07 01:20] cpaasch opened #37 "[syzkaller] general protection fault in mptcp_stream_connect"
HEAD:

4fb948e08615 ("Cleanup")  (HEAD) (3 minutes ago) <Christoph Paasch>
55a9c834a69e ("net: mptcp: improve fallback to TCP")  (3 minutes ago) <Davide Caratti>
431bc5f80631 ("mptcp: add receive buffer auto-tuning")  (3 minutes ago) <Florian Westphal>
e15b65dd24f2 ("bpf: fix unused-var without NETDEVICES")  (3 minutes ago) <Matthieu Baerts>
bc4f11450b97 ("[DO-NOT-MERGE] mptcp: enabled by default"

[2020-06-08 11:14] pabeni commented on #23
implemented by "mptcp: refactor token container." on export branch

[2020-06-08 11:52] matttbe commented on #11
A fix from @dcaratti is now in our "export" branch, see https://github.com/multipath-tcp/mptcp_net-next/commit/60f6bfde685c1f3bbe8ed7c14c1bf65bbe325853

[2020-06-08 11:52] #11 closed, assigned to dcaratti

[2020-06-08 11:52] matttbe commented on #22
A fix from @dcaratti is now in our "export" branch, see https://github.com/multipath-tcp/mptcp_net-next/commit/60f6bfde685c1f3bbe8ed7c14c1bf65bbe325853

[2020-06-08 11:52] #22 closed, assigned to dcaratti

[2020-06-08 15:28] cpaasch commented on #28
No more reproducing on top of:

4fb948e08615 ("Cleanup")  (HEAD) (3 minutes ago) <Christoph Paasch>
55a9c834a69e ("net: mptcp: improve fallback to TCP")  (3 minutes ago) <Davide Caratti>
431bc5f80631 ("mptcp: add receive buffer auto-tuning")  (3 minutes ago) <Florian Westphal>
e15b65dd24f2 ("bpf: fix unused-var without NETDEVICES")  (3 minutes ago) <Matthieu Baerts>
bc4f11450b97 ("[DO-NOT-MERGE] m

[2020-06-08 15:28] #28 closed, assigned to nobody

[2020-06-08 15:33] cpaasch commented on #37
[code]

[2020-06-08 15:39] cpaasch commented on #29
No more reproducing on top of

4fb948e08615 ("Cleanup")  (HEAD) (3 minutes ago) <Christoph Paasch>
55a9c834a69e ("net: mptcp: improve fallback to TCP")  (3 minutes ago) <Davide Caratti>
431bc5f80631 ("mptcp: add receive buffer auto-tuning")  (3 minutes ago) <Florian Westphal>
e15b65dd24f2 ("bpf: fix unused-var without NETDEVICES")  (3 minutes ago) <Matthieu Baerts>
bc4f11450b97 ("[DO-NOT-MERGE] mp

[2020-06-08 15:39] #29 closed, assigned to nobody

[2020-06-08 15:42] cpaasch opened #38 "[syzkaller] INFO: task hung in lock_sock_nested"
HEAD is at:

4fb948e08615 ("Cleanup")  (HEAD) (3 minutes ago) <Christoph Paasch>
55a9c834a69e ("net: mptcp: improve fallback to TCP")  (3 minutes ago) <Davide Caratti>
431bc5f80631 ("mptcp: add receive buffer auto-tuning")  (3 minutes ago) <Florian Westphal>
e15b65dd24f2 ("bpf: fix unused-var without NETDEVICES")  (3 minutes ago) <Matthieu Baerts>
bc4f11450b97 ("[DO-NOT-MERGE] mptcp: enabled by de

[2020-06-09 12:08] matttbe commented on #26
(just to track the frequency, not to push, not to bring new info, I post here the error from yesterday's build)

[code]

[2020-06-09 15:55] cpaasch commented on #37
No more happens on:

14a0decd6073 ("mptcp: do nonce initialization at subflow creation time")  (HEAD) (9 minutes ago) <Paolo Abeni>
9dd0407e07c4 ("Cleanup")  (9 minutes ago) <Christoph Paasch>
420165c3e256 ("mptcp: add receive buffer auto-tuning")  (9 minutes ago) <Florian Westphal>
ddd7a892c5d6 ("[DO-NOT-MERGE] mptcp: enabled by default")  (9 minutes ago) <Matthieu Baerts>
ed5ec40ec710 ("[DO-NOT-

[2020-06-09 15:55] #37 closed, assigned to nobody

[2020-06-09 15:55] cpaasch commented on #38
No more happens on:

14a0decd6073 ("mptcp: do nonce initialization at subflow creation time")  (HEAD) (9 minutes ago) <Paolo Abeni>
9dd0407e07c4 ("Cleanup")  (9 minutes ago) <Christoph Paasch>
420165c3e256 ("mptcp: add receive buffer auto-tuning")  (9 minutes ago) <Florian Westphal>
ddd7a892c5d6 ("[DO-NOT-MERGE] mptcp: enabled by default")  (9 minutes ago) <Matthieu Baerts>
ed5ec40ec710 ("[DO-NOT-

[2020-06-09 15:55] #38 closed, assigned to nobody

[2020-06-09 18:59] matttbe commented on #36
My CI just reported the same warning when testing https://github.com/multipath-tcp/mptcp_net-next/releases/tag/export%2F20200609T114743 (no other modifications)

[code]

The calltrace is different. I have the vmlinux if needed.

[2020-06-09 23:19] cpaasch commented on #35
Seems to be taken care of with Davide's latest patch.

[2020-06-10 10:03] #23 closed, assigned to nobody

[2020-06-10 10:06] pabeni commented on #16
see upstream commit:

commit 90bf45134d55d626ae2713cac50cda10c6c8b0c2
Author: Paolo Abeni <pabeni@redhat.com>
Date:   Fri May 15 19:22:15 2020 +0200

    mptcp: add new sock flag to deal with join subflows

I'm unable to do any better than that

[2020-06-10 10:06] #16 closed, assigned to nobody

[2020-06-10 10:09] pabeni commented on #21
We will likely also need some additional hooking in net/socket.c:__sys_setsockopt() or net/core/sock.c:sock_setsockopt() to handle properly SOL_SOCKET setsockopt - currently msk is modified, but no change is reflected on the subflow[s]

[2020-06-10 15:24] cpaasch opened #39 "[syzkaller] WARNING in subflow_data_ready (v2.0)"
HEAD is:

2d948a5e3ead ("mptcp: check for plain TCP sock at accept time")  (HEAD) (10 minutes ago) <Paolo Abeni>
404b0abd5a9a ("mptcp: support IPV6_V6ONLY setsockopt")  (2 hours ago) <Florian Westphal>
5355be031726 ("mptcp: add REUSEADDR/REUSEADDR support")  (2 hours ago) <Florian Westphal>
84f9bcd3c1fc ("net: use mptcp setsockopt function for SOL_SOCKET on mptcp sockets")  (2 hours ago) <Florian

[2020-06-11 15:24] dcaratti commented on #26
added , but I still see the problem. I fear that the time has come to check dcaratti/packetdrill#12 :)

[2020-06-11 16:01] dcaratti commented on #26
we are probably seeing a combination of bugs:
```01:22:06.011 script packet:  0.421686 P. 1001:1501(500) ack 1 <nop,nop,TS val 100 ecr 700,dss dack4 16777216 dsn8 16790263835767341056 ssn 3909287936 dll 62465 no_checksum flags: MmA,nop,nop>``` the DACK4 value parsed from the script is **1677216**, that is `htonl(1)`. The DACK4 value at line 24 of `mpc_with_data_client.pkt` is **1**, so probably at

[2020-06-11 16:14] pabeni commented on #25
should be solved by upstream commit:

commit 4b5af44129d0653a4df44e5511c7d480c61c8f3c
Author: Paolo Abeni <pabeni@redhat.com>
Date:   Wed Jun 10 10:49:00 2020 +0200

    mptcp: don't leak msk in token container

[2020-06-11 16:14] #25 closed, assigned to nobody

[2020-06-11 19:15] matttbe commented on #25
It was never seen again. Closing this issue seems to be a good idea!

[2020-06-11 19:16] cpaasch commented on #36
Can't repro anymore!

HEAD is:

793ce2be0b4f ("mptcp: fallback in case of simultaneous connect")  (HEAD) (28 hours ago) <Davide Caratti>
52ff51038cf4 ("Cleanup")  (28 hours ago) <Christoph Paasch>
89aca63252ad ("[DO-NOT-MERGE] mptcp: enabled by default")  (tag: export/20200610T135041, mptcp_net-next/export) (29 hours ago) <Matthieu Baerts>
7a2cf823d041 ("[DO-NOT-MERGE] mptcp: use kmalloc on kasan

[2020-06-12 18:11] #35 closed, assigned to dcaratti

[2020-06-15 10:40] matttbe commented on #6
@pabeni I got the issue even after having applied "mptcp: add receive buffer auto-tuning":

[code]

(not detected by my CI but manually launched on my VM using `./mptcp_connect.sh -r 0`

[2020-06-15 14:34] cpaasch commented on #36
Reopening as I still hit it:

HEAD:
[code]

[code]

Syzkaller reproducer:
[code]

C reproducer:
[code]

Kernel-config:
[CURRENT_CONFIG.txt](https://github.com/multipath-tcp/mptcp_net-next/files/4780919/CURRENT_CONFIG.txt)

[2020-06-15 15:34] matttbe commented on #26
@dcaratti : the CI reported this error during the WE:

[code]

So you were right, there is another issue :-)

[2020-06-15 15:39] matttbe commented on #26
(just to track the frequency, maybe some details (numbers) but not to push, not really to bring new info, I post here the error from today's build)

[code]

[2020-06-15 16:13] cpaasch commented on #33
Still reproduces on top of:

[code]

[2020-06-15 16:32] matttbe commented on #6
I reproduced the issue with the capture option:

[code]

Here is the capture for the transfer which took 25 seconds (in a zip file for GitHub...):

```ns2 MPTCP -> ns4 (10.0.3.1:10022      ) MPTCP   (duration 25512ms) [ OK ]```

[ns4-5ee79a56-X4O6gS-ns2-5ee79a56-X4O6gS-MPTCP-MPTCP-10.0.3.1.zip](https://github.com/multipath-tcp/mptcp_net-next/files/4781628/ns4-5ee79a56-X4O6gS-ns2-5ee79a56-X4O6gS-MP

[2020-06-16 00:46] cpaasch commented on #6
I changed mptcp_connect.sh to get me a sender-side pcap. From what I see this is just due to unfortunate packet-loss (early-on in the connection) and high-RTT. It does not look like an MPTCP-issue but rather simply congestion-control kicking in.

Are we sure that these timeouts are not happening with regular TCP? If that's the case, some interaction between TCP and MPTCP is making congestion-contr

[2020-06-16 17:09] cpaasch commented on #36
Fixed with Paolo's "mptcp: check for plain TCP sock at accept time"

[2020-06-16 17:09] #36 closed, assigned to nobody

[2020-06-18 07:57] matttbe commented on #26
(just to track the frequency, maybe some details (numbers) but not to push, not really to bring new info, I post here the error from today's build)

[code]

[2020-06-18 08:42] matttbe commented on #6
@cpaasch indeed, you are right: I have the same issue with TCP!
Thank you for having looked at this!

[code]

That's quite visible for the transfer between ns2 and ns4 in both v4 and v6:
[code]

The delay is high (`Using loss of 0.37% delay 356 ms on ns3eth4`) but why do we only see that when there is no reordering added with TC?

Anyway, it looks like it is not linked to MPTCP. Should we close th

[2020-06-18 16:00] dcaratti commented on #26
I don't see it anymore after merge of @malsbat  PR#6 . Since the problem is in MP_CAPABLE with data, it could be reconducted to commit:
[code]
I'm not seeing the problem anymore after  merge. @matttbe , can you please verify again?

[2020-06-18 16:03] cpaasch commented on #6
From the pcap it looked like simply congestion-control that is kicking in. Thus, no concern regarding TCP.

I don't know why this is not happening when reordering is enabled. Is the file-size in that case the same?

[2020-06-18 16:43] pabeni commented on #33
could you please collect 'ss -enit' output on both the client and the server? plus:

perf top -a/ perf record -ag ; perf report --stdio

on the server if, nginx is still spinning a lot

[2020-06-19 08:52] matttbe commented on #6
@cpaasch : I confirm there is a big different with and without reordering:

Using loss of 0.37 delay 356 ms, no "reorder":

[code]

Using loss of 0.37 delay 356 ms reorder 92% 97%:

[code]

[2020-06-19 09:09] matttbe commented on #26
I did a few tests in my VM (100 iterations) and on my CI (10 iterations) and everything is OK!
Good job finding the bug and reviewing the code!

[2020-06-19 09:09] #26 closed, assigned to nobody

[2020-06-19 18:36] cpaasch commented on #6
Here is the problem once reordering is added:

The delay-option is no more adding a constant delay like in the loss-case (e.g., emulating a high-RTT environment), but rather makes the reordering having a reorder-extend of the specified delay.

The first value of the reorder argument is the percentage of packets that are sent immediately and the rest will be delayed by X.

The way mptcp_connect.sh

[2020-06-22 11:43] matttbe commented on #6
Thank you for having looked at that!

I now better understand why adding re-ordering improve the situation!

I will check with Florian if it was his intention when not setting some reordering.

[2020-06-22 18:32] cpaasch commented on #33
Here is the ss/perf output:

[perf_output.txt](https://github.com/multipath-tcp/mptcp_net-next/files/4814967/perf_output.txt)
[ss_client.txt](https://github.com/multipath-tcp/mptcp_net-next/files/4814968/ss_client.txt)
[ss_server.txt](https://github.com/multipath-tcp/mptcp_net-next/files/4814969/ss_server.txt)

[2020-06-22 19:38] cpaasch commented on #34
Got a hit with Paolo's debug-patch:

[code]

[2020-06-24 10:52] pabeni commented on #34
reporting here IRC discussion for future memory: the issue is triggered by a 0 len skb carrying TCP FIN, MPTCP DATA FIN and DSS with data_len > 1. This latter is not correct WRT the RFC - data_len should be == 1 for 0len MPTCP DATA FIN packets.

The issue is likely on the sender side, tentative patch is:

[code]

[2020-06-25 18:13] mjmartineau opened #40 "Blocking accept() does not return"
When running a minimal test program with a typical socket/bind/listen/accept sequence on the server side (blocking calls), the accept() does not return after the handshake completes. I first found this with b239a7b (export/20200624T164427).

After adding some debug output, I see that the call to ssock->ops->accept() in mptcp_accept() is not returning. It does resume after SIGINT when the test prog

[2020-06-25 19:58] mjmartineau commented on #40
Looks like this was introduced in ~~export/20200614T012255 (33f2d74789)~~ export/20200608T112436 (a235216009a). This is the first tag with the fallback commit abbab27d4944

[2020-06-26 15:32] pabeni commented on #33
On client side there are:
304 ESTABLISHED
415 SYN-SENT
47 LAST-ACK
11 CLOSING

while on the server side:
50 FIN-WAIT-1
4 ESTABLISHED

There are a lot of sockets on the client side without any suitable counter-part on the server side. A possible explanation is as follow:

due to syncookie we enter the subflow_syn_recv_sock() error path for (many) MP_JOIN requests and tcp_send_active_reset() fails (

[2020-06-26 21:26] cpaasch commented on #33
The patch does help quite a bit! It makes weighttp finish within a reasonable timeframe. It is definitely an improvement.

Having digged more into this, the problem in general seems to be that plenty of subflows are being created all the way down to mptcp_finish_join (which happens after the sock-creation), just for then being deleted again. That puts a huge CPU-burden on the host. IMO we should t

[2020-06-26 22:51] mjmartineau commented on #40
Fixed in export/20200626T181651

[2020-06-26 22:51] #40 closed, assigned to nobody

[2020-06-27 09:20] matttbe commented on #18
Another way to do that, here with systemtap, from @dcaratti :

[code]

[2020-06-29 13:37] pabeni commented on #33
That sounds good...

... but there is a "but" ;)

Moving some checks at connection request creation time should be quite easy - using the `req->route_req()` op.
I'm unsure how much that will help in this specific scenario: tcp_conn_request() happens ~1RTT before tcp_check_req(), the msk could be still established.

Moving the syn_recv_sock() earlier is less trivial and possibly requires some chang

[2020-06-30 11:25] pabeni opened #41 "reduce indirect call usage"
Current subflow/mptcp hooking make use of quite a bit of additional indirect calls WRT plain TCP.

We can get rid of most of them with:
- replacing to plain direct calls
- ICW usage

[2020-06-30 11:30] pabeni opened #42 "remove unneeded branches in critical path"
mptcp_write_options() has a lot of unneeded branch instruction (e.g. no need to check for all MPJ or DSS options if we already included MPC).

The above is somewhat related to #15: transform mptcp_out_options into an union will make explicit that some options could not be added into the same packet.

Likely other core functions should be audited.

[2020-07-01 18:34] dcaratti commented on #39
I reproduced this only a couple of times, most of the times the code hits the branch where the state is TCP_LISTEN
[code]

[2020-07-01 18:47] dcaratti commented on #39
... right after posting the comment above, I managed to reproduce it another couple of times. the state of the socket was `TCP_CLOSE` both times

[2020-07-02 16:25] cpaasch opened #43 "[syzkaller] Change syzkaller to exercise MPTCP inet_diag interface"
Need to make sure that syzkaller is able to generate netlink-calls that are exercising the new inet-diag interface.

[2020-07-02 16:44] dcaratti commented on #39
forcing subflows in `TCP_CLOSE` to go through `parent->sk_data_ready()` as follows, proved to fix the problem (at least in my setup):
[code]

[2020-07-02 17:43] cpaasch opened #44 "[syzkaller] KASAN: use-after-free Read in inet_diag_lock_handler'"
HEAD is at:

de8ea51c6cc1 ("selftests/mptcp: add diag interface tests")  (HEAD) (13 minutes ago) <Paolo Abeni>
b2976e289e79 ("mptcp: add MPTCP socket diag interface")  (13 minutes ago) <Paolo Abeni>
4742bdcfbb6c ("mptcp: add msk interations helper")  (13 minutes ago) <Paolo Abeni>
acd1354bf282 ("inet_diag: support for wider protocol numbers")  (13 minutes ago) <Paolo Abeni>
b8654ae35a36 ("subflow:

[2020-07-02 19:26] cpaasch commented on #44
I have now 3 different panic-logs.

More reproducers:

[code]

[code]

[2020-07-02 19:34] cpaasch commented on #44
I think we need this:

[code]

[2020-07-02 21:31] cpaasch commented on #39
Same here! I repro'ed the issue without your change and with your change here I was no more able to reproduce.

[2020-07-03 00:34] cpaasch commented on #33
[code]

And with KASAN enabled:
[code]

Looking really good! :)

[2020-07-03 00:34] #33 closed, assigned to nobody

[2020-07-03 13:44] matttbe opened #45 "[packetdrill] mp_capable: error only in debug mode"
When testing packetdrill with some extra debug kconfig, I have these errors:

[code]

Extra kconfig: ```-e KASAN -e KASAN_OUTLINE -d TEST_KASAN -e PROVE_LOCKING -e DEBUG_LOCKDEP -e PREEMPT -e DEBUG_PREEMPT -e DEBUG_SLAVE -e DEBUG_PAGEALLOC -e DEBUG_MUTEXES -e DEBUG_SPINLOCK -e DEBUG_ATOMIC_SLEEP -e PROVE_RCU -e DEBUG_OBJECTS_RCU_HEAD```

Tested using https://github.com/multipath-tcp/mptcp_net-next

[2020-07-03 13:52] matttbe commented on #45
I initially tried to bisect the issue by looking modifications in MPTCP:

[code]

But it was clearly not due to this commit: b562f58bbc12444219b74a5d6524977a3d87a022

[code]

On top of `net-next` with these two commits, I no longer have the issue:

[code]

Still investigating why be01369859b8aa07346e497381bb46d377da0d8c is causing issues:

[code]

[2020-07-03 15:10] matttbe commented on #45
It seems `CRYPTO_SHA1` is no longer enabled and that's the reason of the issue. But with MPTCPv1, we should no longer use sha1 anywhere. Trying to find where we use it.

[2020-07-03 15:29] matttbe commented on #45
In some packetdrill tests, we use v0 (on purpose) to check the fallback. These tests are failing with the not so clear error message. (strange it is failing as we don't really care about the SHA here :) )

I am adding this kernel config for the tests launched by the CI. I guess we can close this ticket.

[2020-07-03 15:29] #45 closed, assigned to matttbe

[2020-07-04 14:00] #44 closed, assigned to cpaasch, matttbe

[2020-07-06 09:12] matttbe opened #46 "Sparse issues (`make C=1`)"
Hello,

When I use `make C=1 net/mptcp/<file>.c`, I guess two errors:

* `net/mptcp/mptcp_diag.c`:
[code]
* `net/mptcp/protocol.c`:
[code]

Is it really an issue? If not, is there a way to add something to avoid them?

[2020-07-06 13:05] pabeni commented on #46
both this warning are due to core TCP APIs.

unlock_sock_fast() conditionally releases the socket lock, fooling sparse

sk_clone_lock() conditionally acquires the socket lock, (if return value != 0), so we can't annotate the caller as 'release'. Again, sparse is fooled.

[2020-07-06 13:05] #46 closed, assigned to nobody

[2020-07-08 13:54] matttbe opened #47 "mptcp_join selftests are failing since "mptcp: fix race in subflow_data_ready()""
Since d47a72152097 ("mptcp: fix race in subflow_data_ready()"), mptcp_join.sh selftests are failing:

[code]

[2020-07-08 15:38] pabeni commented on #34
should be resolved in current export after:

"mptcp: fix DSS map generation on fin retransmission"

[2020-07-08 15:38] #34 closed, assigned to nobody

[2020-07-09 13:33] pabeni commented on #39
fixed with commit:

commit d47a72152097d7be7cfc453d205196c0aa976c33
Author: Davide Caratti <dcaratti@redhat.com>
Date:   Mon Jul 6 21:06:12 2020 +0200

    mptcp: fix race in subflow_data_ready()

[2020-07-09 13:33] #39 closed, assigned to dcaratti

[2020-07-09 13:36] pabeni commented on #30
should be fixed with:

commit bdd2ed272151d89f8dc81a5a4046e3f8273b970d
Merge: f551e2fdaf81 c9b95a135987
Author: David S. Miller <davem@davemloft.net>
Date:   Sat Jul 4 17:56:22 2020 -0700

[2020-07-09 13:36] #30 closed, assigned to nobody

[2020-07-09 13:38] pabeni commented on #4
addressed by:

commit b416268b7a819c0508ed0dc81461e513b110f2ac
Author: Florian Westphal <fw@strlen.de>
Date:   Tue Jul 7 14:40:48 2020 +0200

    mptcp: use mptcp worker for path management

[2020-07-09 13:38] #4 closed, assigned to nobody

[2020-07-09 14:45] matttbe commented on #21
@pabeni: is this issue related to what Florian did?

[2020-07-09 16:01] pabeni commented on #21
yes, if Florian agrees, I think we can close it

[2020-07-10 13:37] pabeni commented on #20
Implement with:

commit ac3b45f6095452a9731f8825be1513d326dbfa15
Author: Paolo Abeni <pabeni@redhat.com>
Date:   Thu Jul 9 15:12:41 2020 +0200

    mptcp: add MPTCP socket diag interface

[2020-07-10 13:37] #20 closed, assigned to pabeni

[2020-07-10 19:25] dcaratti commented on #47
I think it can be fixed with the following code (or something similar):
[code]

[2020-07-13 08:45] matttbe commented on #47
@dcaratti Thank you for the patch!

I also tested it on my side and kselftests are also happy!

I guess the `WARN()` still make sense.

[2020-07-13 13:11] matttbe opened #48 "MP_FASTCLOSE support (send part remaining)"
As defined in RFC8684:

https://www.rfc-editor.org/rfc/rfc8684.html#name-fast-close

If needed, new tickets can be created to track: receiver/sender side only and packetdrill support.

Note: there is a difference with MPTCPv0: https://www.rfc-editor.org/rfc/rfc8684.html#section-appendix.e-2.11

mptcp.org implementation only support the other way. It is not recommended to support the other way not

[2020-07-13 13:21] matttbe opened #49 "ADD_ADDR: echo bit support"
The current implementation supports the send and reception of `ADD_ADDR` (v1) but not in a reliable way: the receiver is supposed to send the same ADD_ADDR back with the `echo` bit set to 1. If it is not received after some time, the sender can send it again.

As specified in RFC8684: https://www.rfc-editor.org/rfc/rfc8684.html#sec_add_address

https://www.rfc-editor.org/rfc/rfc8684.html#section-3

[2020-07-13 14:16] matttbe opened #50 "REMOVE_ADDR support"
As defined in RFC8684:

https://www.rfc-editor.org/rfc/rfc8684.html#name-remove-address

If needed, new tickets can be created to track: receiver/sender side only and packetdrill support.

(Feature from the initial roadmap)

[2020-07-13 14:44] matttbe opened #51 "MP_PRIO support"
As defined in RFC8684:

https://www.rfc-editor.org/rfc/rfc8684.html#sec_policy

If needed, new tickets can be created to track: receiver/sender side only and packetdrill support.

- [x] kernel: feature support
- [x] kernel: selftests
- [ ] modification of iproute2 → See issue #158
- [x] and ideally packetdrill tests

(Feature from the initial roadmap)

[2020-07-13 14:47] matttbe opened #52 "MP_FAIL support"
As defined in RFC8684:

https://www.rfc-editor.org/rfc/rfc8684.html#name-fallback-mp_fail-option

If needed, new tickets can be created to track: receiver/sender side only and packetdrill support.

(Feature from the initial roadmap)

[2020-07-13 14:49] matttbe commented on #2
not sure why Github is saying this issue is still opened...

[2020-07-13 14:49] #2 closed, assigned to nobody

[2020-07-13 15:04] matttbe opened #53 "MP_TCPRST support"
As defined in RFC8684:

https://www.rfc-editor.org/rfc/rfc8684.html#sec_reset

If needed, new tickets can be created to track: receiver/sender side only and packetdrill support.

(Feature from the initial roadmap)

- [x] Kernel code
- [x] Packetdrill code
- [ ] IPRoute code: netlink events for the RST maybe? → #188
- [ ] Wireshark / TCPDump doesn't understand option subtype 8 → #189

[2020-07-13 15:07] matttbe opened #54 "ADD_ADDR: ports support"
As defined in RFC8684:

https://www.rfc-editor.org/rfc/rfc8684.html#name-address-advertisement

If needed, new tickets can be created to track: receiver/sender side only and packetdrill support.

- [x] Kernel: receive ADD_ADDR with port support + create new subflow on this different port if OK
- [x] Kernel: send ADD_ADDR with port support + accept new subflow on this different port if OK
- [x] Ker

[2020-07-13 15:37] matttbe opened #55 "ADD_ADDR: IPv6 support"
As defined in RFC8684:

[code]

It is possible to include an IPv6 address. But then the size is high: 28 octets (+2 if the port is added)

https://www.rfc-editor.org/rfc/rfc8684.html#name-address-advertisement

It will not fit when other options are included, e.g. TCP Timestamps, DSS, etc.
A dedicated packet is needed here. With or without TCP Timestamps.

If needed, new tickets can be created to

[2020-07-15 17:24] mjmartineau opened #56 "msk connection state set without msk lock"
The subflow is setting msk->sk_state without holding the msk lock. Userspace could call shutdown/close concurrently
and get the msk lock, thinking it can change the state without it getting clobbered by the subflow

@pabeni notes that:
We currently use msk->sk_state == TCP_ESTABLISHED as an indication of msk being able to accept/create subflow,
so we can't set the state at accept() time, because d

[2020-07-16 09:11] #47 closed, assigned to dcaratti

[2020-07-16 09:15] matttbe commented on #47
@dcaratti I just added your patch in the export branch.

Maybe we don't need to shift `inet_sk_state_load` value (because we only compare the state to one value, no need to have a bitfield) but that's a detail, I am sure it is fine.
Because it has been sent directly to netdev, I guess better not to propose to change in the review :)

[2020-07-16 14:49] matttbe opened #57 "After a few attempts of failed MPTCP, directly fallback to TCP for new connections"
The idea would be to imitate what is done in TFO, using a cache: if a destination IP is known not to support TFO (MPTCP here), fallback.

Note that now I think for TFO, they use a global counter because most issues (middleboxes) are in the operator network → most likely that either all connections are "failing" (e.g. with TFO: SYN with data are dropped / blackhole) in the network of the operator o

[2020-07-16 14:52] matttbe opened #58 "Full DATA_FIN support"
Work in progress by @mjmartineau

(Feature from the initial roadmap)

[2020-07-16 14:54] matttbe opened #59 "(MP)TFO support"
There is a section about that in the RFC: https://www.rfc-editor.org/rfc/rfc8684.html#name-tcp-fast-open-and-mptcp

(Feature from the initial roadmap)

[2020-07-16 14:56] matttbe opened #60 "PM: netlink: events per connection"
To be able to have a fine control from userspace.

Idea is port the PM Netlink features from mptcp.org to the upstream kernel. And have it compatible with mptcpd.

(Feature from the initial roadmap)

[2020-07-17 14:42] pabeni opened #61 "move msk clone after ctx creation"
currently, passive sockets allocate the msk for incoming connection before the subflow ctx itself.

That has a few downside:

- in case of multiple thread racing on the relevant req, we try to allocate multiple msks for the same req
- in case of such clash, the msk allocation fails for the thread winning the race, we fallback even if the system was actually able to allocate an msk (for the thread

[2020-07-17 15:30] matttbe commented on #50
@geliangtang is looking at this

[2020-07-20 18:12] cpaasch opened #62 "[syzkaller] WARNING in __mptcp_move_skbs_from_subflow"
Crash-trace:

[code]

HEAD is at:

382585d1f2ff ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20200827T050630, mptcp_net-next/export) (2 days ago) <Matthieu Baerts>
0500323a3a98 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (2 days ago) <Paolo Abeni>
290efe114633 ("mptcp: simult flow self-tests")  (2 days ago) <Paolo Abeni>
5e30f3b9f4b3 ("mptcp: allow picking different xmi

[2020-07-22 12:10] matttbe opened #63 "New subflows send MP_JOIN to port 0"
More info are coming soon but we can see in different setup that MP_JOIN are sent to port 0:

[code]

Or even with packetdrill:

[code]

(Note: tcpdump version is old, not support MPTCPv1)

[2020-07-22 14:17] nrybowski commented on #63
Here is a minimal setup to reproduce this bug ([`mptcp-tools`](https://github.com/pabeni/mptcp-tools) is supposed to be in the same folder than this script and the `use_mptcp` tool compiled) :
[code]
In shell 1 : `ip netns exec ns_server tcpdump -ni any tcp` and in shell 2 : `ip netns exec ns_client mptcp-tools/use_mptcp/use_mptcp.sh curl 10.0.1.2:8000 -o /dev/null`.

From the `tcpdump` :
[code]
I

[2020-07-22 14:42] nrybowski opened #64 "Kernel crash when using `pm_nl_ctl` and `use_mptcp.sh`"
Here is a minimal setup to reproduce this bug ([`mptcp-tools`](https://github.com/pabeni/mptcp-tools) is supposed to be in the same folder than this script and the `use_mptcp` tool compiled as well as `pm_nl_ctl` from the `selftests`) :
[code]
In shell 1 : `ip netns exec ns_server tcpdump -ni any tcp` and in shell 2 : `ip netns exec ns_client mptcp-tools/use_mptcp/use_mptcp.sh curl 10.0.1.2:8000 -

[2020-07-22 16:23] nrybowski commented on #64
Here is the output of `scripts/decode_stacktrace.sh` for another instance of the crash. I hope it helps.
[code]

[2020-07-23 15:08] pabeni commented on #56
should be addressed in current export branch

[2020-07-23 15:25] mjmartineau commented on #49
@pkrystad Do you want to stay assigned on this one?

[2020-07-23 16:29] matttbe opened #65 "packetdrill/fixes: clearing properly the status in listen()/disconnect"
Context: [patchwork](https://patchwork.ozlabs.org/project/mptcp/patch/539a0cd36a6ff12d3b8d702a2cb314925a32cd9f.1594996220.git.pabeni@redhat.com/#2485922)

It could be nice to add more coverage in packetdrill to check different scenarios with listen(), especially when getting disconnected. See @pabeni 's comment above

[2020-07-23 20:27] cpaasch opened #66 "[interop] IPv4: Attempt to release TCP socket in state 1 00000000cbc88a4a"
I have a simple test, that does the following (netnext here is server, mptcp.org is client):

server-side:
[code]

client-side:
[code]

First I launch the server-program, wait 1 second and then the client.

This triggers a ```IPv4: Attempt to release TCP socket in state 1 00000000cbc88a4a```

[2020-07-24 08:09] matttbe commented on #66
Hi Christoph,

Thank you for having opened the new issue.

Just to be sure, the server was using the net-next branch or additional commits on top, e.g. DATA-FIN support?

[2020-07-24 12:44] cpaasch commented on #66
This was export-branch with Florian's syn-cookies on top.

[2020-07-27 15:37] matttbe commented on #63
Arf, I forgot to add "Closes #63" in the commit message of my last patch.

This is fixed in the export branch. It has been sent to netdev for -net branch.

[2020-07-27 15:37] #63 closed, assigned to nobody

[2020-07-28 06:56] matttbe opened #67 "`./mptcp_connect.sh -m mmap` test blocks"
I didn't manage to reproduce it yet but my CI noticed that:

[code]

I didn't investigate more but I think there is a timeout with `mptcp_connect`. It can gives a clue maybe.
Using the last export branch: https://github.com/multipath-tcp/mptcp_net-next/commits/export/20200728T045328

[2020-07-28 07:02] matttbe opened #68 "selftests: diag: failing with new DATA_FIN patches"
Without kernel debug:

[code]

With kernel debug:

[code]

[2020-07-28 07:13] matttbe opened #69 "Packetdrill: dss: failing with new DATA_FIN patches"
Without debug kernel config:

[code]

With debug kernel config:
[code]

It is certainly normal to send the dedicated ACK before the FIN with the new version. But this needs to be verified and maybe packetdrill tests need to be adapted.

[2020-07-30 15:01] mjmartineau commented on #58
Merged in net-next.

[2020-07-30 15:01] #58 closed, assigned to mjmartineau

[2020-07-30 23:42] mjmartineau commented on #69
I do think this is a case where the tests need to be updated, since the kernel now tries to send and ack DATA_FIN before TCP_FIN (even if there's only a single subflow).

[2020-07-31 00:11] mjmartineau commented on #68
Looks like this is timing related but I'm not sure of the root cause. I see even more failures on a 4-core VM:

[code]

This is only a quick look at the problem, of course. I can take a closer look at it in a week or so.

[2020-08-03 15:35] cpaasch opened #70 "[syzkaller] WARNING in mptcp_reset_timer"
[code]

HEAD was:

4023d1db31f8 ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20200828T200052, mptcp_net-next/export) (3 days ago) <Matthieu Baerts>
2a11f6238c46 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (3 days ago) <Paolo Abeni>
91fdfac49c64 ("mptcp: only wake parent if subflow is writable")  (3 days ago) <Florian Westphal>
0822fddc7f0b ("mptcp: fix stale subflow->wr

[2020-08-03 16:21] cpaasch opened #71 "[interop] Bad mapping: ssn=16194949 map_seq=16120693 map_data_len=31416"
[code]

Interop-testing with netnext as receiver and mptcp.org as sender. Using 4 subflows over different interfaces.

HEAD is:
de6573206006 ("mptcp: Enable MPTCP when IPPROTO_MPTCP is set")  (HEAD -> netnext_mptcp_all) (19 minutes ago) <Christoph Paasch>
2324a2a915ae ("mptcp: simult flow self-tests")  (42 minutes ago) <Paolo Abeni>
98070584a1b7 ("mptcp: allow picking different xmit subflows")  (4

[2020-08-03 17:07] cpaasch opened #72 "[iproute2] endpoint add with "id" is not persisted"
[code]

(btw., endpoint show also does not work - I will share a patch)

[2020-08-04 11:11] pabeni commented on #64
Can you please specify which tree/hash are you using ? or ev. dump the code for the above line with some context in your tree?

It would help understanding which is the faulty instruction.

Thanks!

[2020-08-04 11:32] nrybowski commented on #64
I'm not anymore on the same hash, sorry for that. I'm currently on top of `mptcp_net-next`, I will try to reproduce the issue to provide the required information.

[2020-08-04 13:19] nrybowski commented on #64
Here is the trace produced on hash https://github.com/multipath-tcp/mptcp_net-next/commit/9e8e97dc9c1fb72bfb91686f746fa561844fd145 :

[code]

The `for` loop in the above script should be replaced by :
[code]
The old code may produce a string rather than an array. The new stack trace provided has been generated with this new loop version.

I also noticed that when using `pm_nl_ctl` on the client ne

[2020-08-05 14:45] matttbe commented on #49
@geliangtang just told me he is going to look at that.

[2020-08-05 17:40] dcaratti commented on #69
@matttbe @mjmartineau

I was about to write:
1) a PR with a bulk fix for all failing tests
2) another PR that tries to cover better appendix D of the RFC.

question: is it correct to increase the DACK number to account for the reception of DATAFIN?
I'm asking because both the following patches:

[code]

and

[code]
triggers the transission of the same outboud FIN+DATAFIN  packet on the server unde

[2020-08-06 09:48] pabeni commented on #64
addressed by:

commit 61e82de664dffde9ff445ed6f776d6809b198693 (HEAD -> join_fail_fixes, net58/oops_subflow)
Author: Paolo Abeni <pabeni@redhat.com>
Date:   Tue Aug 4 17:28:16 2020 +0200

    mptcp: be careful on subflow creation

[2020-08-06 09:48] #64 closed, assigned to nobody

[2020-08-06 10:03] pabeni commented on #68
look like the kernel has been build without

CONFIG_INET_MPTCP_DIAG

likely because tools/testing/selftests/net/mptcp/config is outdated.

I'll send a patch. I think this is unrelated from the original issue reported by matttbe

[2020-08-06 10:49] matttbe commented on #68
Thank you!

I guess so, I don't have this issue.
I enable INET_DIAG which turn CONFIG_INET_MPTCP_DIAG on.

[2020-08-06 16:19] matttbe commented on #50
@geliangtang : maybe something that would be really good to have with the patches you sent is test: either with kselftests or packetdrill. Maybe it makes more sense with packetdrill but already having some tests validating that and checking we don't have regressions would be really nice if you have the opportunity to work on that :-)

[2020-08-07 16:17] matttbe opened #73 "Simultaneous xmit issue"
We can have issues with `mptcp_connect` selftest.

According to @pabeni , this looks like the "simultaneous xmit issue"

[code]

From the last meeting:

[2020-08-07 18:35] matttbe commented on #69
(just not to leave unanswered questions: I think @dcaratti 's question was answered on IRC: yes, a DATA_FIN needs to be ACK like a FIN ; like a FIN, it takes one octet: https://www.rfc-editor.org/rfc/rfc8684.html#section-3.3.3-4 )

[2020-08-07 18:36] matttbe commented on #21
We can create new issues for the points raised by Florian. Let's close this one.

[2020-08-07 18:36] #21 closed, assigned to nobody

[2020-08-07 18:38] matttbe commented on #68
Paolo sent a patch upstream fixing this. Here is the version in our export branch: https://github.com/multipath-tcp/mptcp_net-next/commit/606f5a21cae949e582972e35173eb9d2724a2c42

[2020-08-07 18:38] #68 closed, assigned to nobody

[2020-08-07 18:39] matttbe commented on #66
Paolo sent a patch upstream fixing this. Here is the version in our export branch: https://github.com/multipath-tcp/mptcp_net-next/commit/61dc31597d6fa996f6ea6a9442bbac8d58169983

[2020-08-07 18:39] #66 closed, assigned to nobody

[2020-08-07 18:39] #6 closed, assigned to cpaasch

[2020-08-07 20:57] matttbe opened #74 "BPF: path manager"
Similar to #75, please see the description there.

[2020-08-07 20:57] matttbe opened #75 "BPF: packet scheduler"
Extending MPTCP with BPF is clearly something we want.

It looks like extending the Upstream MPTCP kernel to allow taking some packet scheduling decisions with BPF will be needed and would be needed in priority to #74.

I *think* the implementation would be similar to what is done in the kernel with BPF TCP CC: the ability to write a congestion control protocol in BPF with `BPF_STRUCT_OPS`, see: h

[2020-08-07 20:58] matttbe opened #76 "[gs]etsockopt per subflow: BPF"
@nrybowski is working on it

A short documentation (in the wiki) could be useful!

[2020-08-07 21:01] matttbe opened #77 "[gs]etsockopt: forward to new/existing SF"
Can be split in multiple subtasks but the default behaviour should be closed to what is done with TCP.

We need to check what to do if [gs]etsockopt are used when the connection is established and what to do when subflows are created later.

[2020-08-07 21:02] matttbe opened #78 "notify the application (userspace) when a subflow is added/removed"
Maybe using `cmsg`?

A userspace app would get a poll notification when something has changed with a socket (`fd`) it owns. If needed, another syscall could be used to retrieve the current status.

[2020-08-07 21:06] matttbe opened #79 "allow 'force to MPTCP' mode: BPF"
Force to use MPTCP instead of TCP without modifying userspace apps.

From Mat in #18 :

It can be interesting to do that with BPF because the userspace app `mptcpize` (`LD_PRELOAD` technique) because the latter has some limitations:
- it doesn't work if the application is not using libc (e.g. GoLang apps)
- in some envs, it might not be easy to set env vars / change the way apps are launched, e.g.

[2020-08-07 21:09] matttbe opened #80 "[syzkaller] KASAN: slab-out-of-bounds Read in subflow_syn_recv_sock"
Reported last month: 20200715

[code]

[2020-08-07 21:28] matttbe commented on #56
@mjmartineau : if we still need to fix some of them, please update the description or open a new one

[2020-08-07 21:31] matttbe commented on #56
Last status: the race is still there for the client msk socket. But now much more difficult to raise: seems minor.

[2020-08-09 21:20] pabeni commented on #80
This was fixed by:

commit b7514694ed2952684a1e4fc44d83682140fd8cef
Author: Paolo Abeni <pabeni@redhat.com>
Date:   Thu Jul 23 13:02:34 2020 +0200

    subflow: explicitly check for plain tcp rsk

[2020-08-09 21:20] #80 closed, assigned to nobody

[2020-08-09 21:24] pabeni commented on #67
With multiple xmit substream support, this now happen in a deterministic way very early on MPTCP loopback test.

I think the problem is the receiver side can't send MPTCP-level ack if the stream is unidirectional (or receiver side has already completed the xmit part) and the reception/mptcp ack increment happens in the workqueue.

[2020-08-12 20:36] nrybowski commented on #79
The earliest BPF hook in the socket life is indeed already [too late](https://elixir.bootlin.com/linux/v5.8-rc7/source/net/ipv4/af_inet.c#L388).

We may have a BPF program like this (which is very similar to [this solution](https://github.com/multipath-tcp/mptcp_net-next/issues/18#issuecomment-650529642)) :
[code]
but there are multiple issues. Among other :

- In BPF, the context of the kprobes i

[2020-08-27 09:17] dcaratti opened #81 "packetdrill detects mismatching 'B' flag in mp_join_client.pkt"
After commit 29e9676 , `MP_JOIN` `SYN` packet emitted by `mp_join_client.pkt` does not contain the "backup" flag anymore, thus causing an early [failure](https://lists.01.org/hyperkitty/list/mptcp@lists.01.org/thread/32IQ5YWMR447EMOSBC4L3R6GE6NLRQWV/) of the test. There is currently no way to set the 'backup' flag for endpoints added via an `ADD_ADDR`, so the quickest fix is to change the test scr

[2020-08-27 10:22] pabeni opened #82 "improve packet scheduler for asymmetric links"
the simult xmit self-tests fail [more badly] if the used links are asymmetric.

It looks like the current heuristic (round robin on writable links) tends to  load more the slower links: much more pkts are present in the slower link write queue at shutdown(SHUT_WR) time.

Instead the packet scheduler should try load each subflow proportinally to the subflow sndbuf size

[2020-08-29 00:05] cpaasch opened #83 "[syzkaller] No output from test machine"
HEAD is at:

4023d1db31f8 ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20200828T200052, mptcp_net-next/export) (4 hours ago) <Matthieu Baerts>
2a11f6238c46 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (4 hours ago) <Paolo Abeni>
91fdfac49c64 ("mptcp: only wake parent if subflow is writable")  (4 hours ago) <Florian Westphal>
0822fddc7f0b ("mptcp: fix stale subflow->write

[2020-08-29 19:03] matttbe commented on #67
Fixed thanks to Florian's: `mptcp: free acked data before waiting for more memory` in commit 1cec170d458b1d18f6f1654ca84c0804a701c5ef

[2020-08-29 19:07] matttbe commented on #17
Patches are in the export branch, e.g. 808f42dcee6226132584787298305102ca19a230

[2020-08-29 19:07] #17 closed, assigned to pabeni

[2020-08-31 18:17] ericcurtin commented on #18
This is what I get when I try this on my linux system @matttbe

[code]

Any ideas?

[2020-08-31 19:37] dcaratti commented on #18
On Mon, 2020-08-31 at 11:17 -0700, Eric Curtin wrote:

hello,

mptcp.stap builds a kernel probe and attachs to __sys_socket() to change
IPPROTO_TCP into IPPROTO_MPTCP. In your case, I see that stap fails
finding the debug information for the kernel executable. On Fedora, it's
fixed installing kernel-debuginfo- stuff. On Ubuntu, I think you need to
do this:

$ sudo apt-get install linux-image-$(una

[2020-09-03 14:38] mjmartineau opened #84 "Received DATA_FIN+FIN does not trigger wakeup"
When receiving a "bare DATA_FIN" on a FIN packet (no data payload), the MPTCP worker thread does not get scheduled. If userspace is blocked on read, it will remain blocked.

Root cause is that the check for a DATA_FIN on an ack packet does not account for the sequence number of the FIN - it checks for seq == end_seq. Also need to look at possibly scheduling a wakeup in other places that the DATA_F

[2020-09-04 00:36] mjmartineau commented on #84
Proposed fix:

http://patchwork.ozlabs.org/project/mptcp/patch/20200904003531.291283-1-mathew.j.martineau@linux.intel.com/

[2020-09-04 16:09] matttbe opened #85 "Packetdrill: multiple timeout reported by the CI"
Not all internal tests are failing:

[code]

[2020-09-04 16:10] matttbe commented on #85
When trying the `dss` tests, I didn't see any packets: a `tcpdump -i any -n` didn't show any packet! It was working before. So maybe really something not linked to MPTCP.
To be investigated more!

[2020-09-04 16:11] matttbe commented on #84
@mjmartineau thx for the bug report!

I tried your patch you sent to the ML but it seems not fixing my issue with Packetdrill (cc @dcaratti ).
I need to investigate more but a `tcpdump -i any -n` didn't show any packet! It was working before. So maybe really something not linked to MPTCP. → so I just opened #85

[2020-09-07 06:16] matttbe opened #86 "selftests: mptcp_join tests are creating warnings"
When launching `mptcp_join.sh` selftests with a debug kernel [1], I got these warnings 10 times:

[code]

[1] Compared to a non debug kernel, the kconfig contains:

[code]

[2020-09-07 09:53] matttbe commented on #86
Fixed by @pabeni : https://patchwork.ozlabs.org/project/mptcp/patch/0a4053db6ce391392514c394f83386ed75efa050.1599470677.git.pabeni@redhat.com/

[2020-09-07 09:53] #86 closed, assigned to pabeni

[2020-09-08 18:16] mjmartineau commented on #84
Thanks @matttbe, I wasn't sure the packetdrill issue would be fixed by this.

[2020-09-10 04:34] cpaasch commented on #83
Running the C-program indeed reproduces the issue. The ssh-session to my VM stalls. Logging in through another ssh session shows the test-program spinning at 100% CPU.

HEAD was at:
fdc664ab314a ("mptcp: call tcp_cleanup_rbuf on subflows")  (HEAD) (12 hours ago) <Paolo Abeni>
35d6b46333c3 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20200909T050747, mptcp_net-next/export) (23 hours ag

[2020-09-10 04:39] cpaasch commented on #70
Can't repro on top of 35d6b46333c3 - let's wait a bit and then close it.

[2020-09-10 05:03] cpaasch opened #87 "[interop] watchdog: BUG: soft lockup - CPU#2 stuck for 22s"
Running test "bug_cheng_sbuf" (yeah, weird name - historic reasons ;-)) from https://github.com/multipath-tcp/mptcp-scripts/blob/master/testing/testing.py#L555 with netnext as server and multipath-tcp.org as a client. The test configures a huge rmem on the server and configures the client to create 16 subflows using the same pair of IP-addresses. Then, the test starts an iperf.

[code]

HEAD is at

[2020-09-10 14:59] matttbe commented on #73
Closed thanks to patches from Paolo currently in the export branch

[2020-09-10 14:59] #73 closed, assigned to nobody

[2020-09-10 15:01] matttbe commented on #71
Can be closed if @cpaasch no longer sees the issue.

[2020-09-10 15:02] matttbe commented on #62
@cpaasch do you still see the issue?

[2020-09-10 15:21] cpaasch commented on #62
Let's give it another week.

[2020-09-10 15:22] cpaasch commented on #71
Haven't seen it anymore.

[2020-09-10 15:22] #71 closed, assigned to nobody

[2020-09-10 15:26] cpaasch opened #88 "[syzkaller] INFO: task hung in lock_sock_nested"
[code]

HEAD is:

fdc664ab314a ("mptcp: call tcp_cleanup_rbuf on subflows")  (23 hours ago) <Paolo Abeni>
35d6b46333c3 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20200909T050747, mptcp_net-next/export) (34 hours ago) <Matthieu Baerts>
6e7290b92981 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (34 hours ago) <Paolo Abeni>
8fd4ed432f3b ("tcp: propagate MPTCP skb extensions on x

[2020-09-10 15:47] matttbe opened #89 "kmemleak in cookie_tcp_reqsk_alloc (mptcp_join.sh)"
Reported by @geliangtang on the ML

[code]

My kernel version is export/20200909T050747.

Easy to reproduce.

[2020-09-10 21:29] cpaasch commented on #88
More info with lockdep:

[code]

[2020-09-11 06:49] matttbe commented on #83
Thanks for having checked the C-repro again.

Yesterday, I also had this issue on my CI with `mmap` test. Here the C-repro also use `mmap`, maybe linked?
No so much info to add on my side:

[code]

[2020-09-11 09:32] pabeni commented on #87
I think hit some corner case that triggers an infinite loop in subflow_check_data_avail()

@cpaasch could you please have a run without the automatic reboot on soft lookup and try enabling the dyn debug once it got stuck ?

echo 'file net/mptcp/* +fmp' > /sys/kernel/debug/dynamic_debug/control
sleep 0.3 # or less ;)
echo 'file net/mptcp/* -fmp' > /sys/kernel/debug/dynamic_debug/control

if the bui

[2020-09-11 09:34] pabeni commented on #88
I think/hope this a duplicate of issue#83: due the latter issue a writer is stuck in sendmsg() and all others locking operations blocks forever

[2020-09-11 09:39] pabeni commented on #83
should be fixed by "Squash-to: "mptcp: allow picking different xmit subflows"/<5c2b7b0df753a7f8c9be71a513e2542f58f8d7c0.1599780534.git.pabeni@redhat.com>

Note that this issue could be hit only on fallback scenario.

@matttbe: when hitting this issue, the blocker process is unkillable, busy in an infinite loop inside mptcp_sendmsg(). Does your case fit the above? (IRC, mptcp can unintentionally fa

[2020-09-11 09:44] matttbe commented on #88
(From Paolo: maybe linked to #83 → a comment just to mark it like that in Github :) )

[2020-09-11 09:49] matttbe commented on #83
@pabeni: sorry but with the current test environment, all I can do is to cancel the job. Maybe I could do something else in case of timeout, e.g. sending a "magic key" to generate a call trace?

So far, I was not able to reproduce this error.

[2020-09-11 14:29] #69 closed, assigned to dcaratti

[2020-09-11 14:49] #81 closed, assigned to dcaratti

[2020-09-11 15:07] cpaasch commented on #83
Indeed, I can't reproduce the issue with the syzkaller-repros on latest export. Closing!

[2020-09-11 15:07] #83 closed, assigned to nobody

[2020-09-16 16:09] matttbe opened #90 "mptcp_connect.sh: BUG in mptcp_pm_free_anno_list()"
Selftests are causing a BUG() with the latest export branch

Two commits have been recently added:
- https://patchwork.ozlabs.org/project/mptcp/patch/e3453c0fa57d10fd4e27a710422eda76d6597039.1600170870.git.geliangtang@gmail.com/
- https://patchwork.ozlabs.org/project/mptcp/patch/6f76af704e049b0cebb132d0c0a68922083a300c.1600170870.git.geliangtang@gmail.com/

Raw info:
[code]

With decoding:
[code]

[2020-09-17 15:04] matttbe commented on #90
@geliangtang sent a patch for that, see ↑
Thx!

[2020-09-17 15:04] #90 closed, assigned to geliangtang

[2020-09-17 15:23] matttbe commented on #62
Not seen in one week, can be closed!

[2020-09-17 15:23] #62 closed, assigned to nobody

[2020-09-17 15:26] matttbe commented on #82
- can be closed
      - similar (with the current infrastructure available)
      - time to stabilise this before extending it

[2020-09-17 15:26] #82 closed, assigned to pabeni

[2020-09-17 15:50] cpaasch commented on #87
I think I got something useful:

[code]

[2020-09-17 17:25] pabeni commented on #87
@cpaasch  thank you! The following tentative patch should fix the issue, could you please try that ?

[code]

[2020-09-17 18:17] cpaasch commented on #87
Yes, problem solved!!!

[2020-09-17 20:56] pabeni commented on #88
@cpaasch  : I hope this one is resolved by:
- e09eaf25342a: "squashed" in "mptcp: allow picking different xmit subflows"
- 895b3d8264e8..341c313c53a5: result
have you ever reproduced it in this week? Otherwise I think we can close it

[2020-09-18 15:10] matttbe opened #91 "MPJ: Fallback to TCP if the client receives a 4th ACK without DSS options from the server"
In packetdrill tests, there was a mistake: the (forged) 4th ACK after a MP_JOIN didn't contain MPTCP

[code]

But as a consequence, the kernel seems doing a fallback which is not normal:

[code]

The error:

[code]

So at the end, the packetdrill test is useful because it tests this corner case where we should not fallback but a reset should be sent.

This test needs to be kept like that somewhere

[2020-09-19 00:05] mjmartineau opened #92 "mptcp_close() deletes MPTCP socket before disconnection completes"
The DATA_FIN changes in v5.9 added code to mptcp_close() to send DATA_FIN, but when the function is called with timeout == 0 it does not wait for the peer to complete the disconnection handshake. The MPTCP socket is immediately deleted in a sequence like this:

1. Userspace calls close() on the MPTCP socket, leading to a call to mptcp_close() with timeout 0
1. DATA_FIN is sent
1. sk_stream_wait_cl

[2020-09-21 14:29] cpaasch commented on #88
Yes, no more happening! Closing...

[2020-09-21 14:29] #88 closed, assigned to nobody

[2020-09-21 14:30] cpaasch commented on #70
Still happens, on top of:

c9bb76f28c04 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20200917T151806, mptcp_net-next/export) (4 days ago) <Matthieu Baerts>
668a380985e7 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (4 days ago) <Paolo Abeni>
6bc9e60c3952 ("selftests: mptcp: interpret \n as a new line")  (4 days ago) <Matthieu Baerts>
6c5fcf4a25ce ("tcp: propagate MPTCP skb exte

[2020-09-21 15:53] matttbe commented on #89
I also got the same errors reported by @geliangtang

[code]

[2020-09-24 15:41] #87 closed, assigned to nobody

[2020-09-24 15:41] matttbe commented on #87
linked to 1d39cd8cf75f79d082ee97f5fd2a6286bcc692c1

[2020-09-24 15:44] mjmartineau commented on #84
Merged to -net: https://lore.kernel.org/netdev/20200923.173126.2037073365366368611.davem@davemloft.net/

[2020-09-24 15:44] #84 closed, assigned to mjmartineau

[2020-09-25 23:42] mjmartineau opened #93 "32-bit DATA_FIN not expanded to 64 bits"
Incoming DATA_FIN sequence numbers were always treated as 64 bits when comparing them to `msk->ack_seq`, so the upper 32 bits would not match when the peer sent 32-bit DATA_FIN sequence numbers and no acknowledgement of the DATA_FIN would be sent.

Found while interop testing with mptcp_trunk.

[2020-09-26 00:28] mjmartineau commented on #93
Proposed fix: http://patchwork.ozlabs.org/project/mptcp/list/?series=204282

[2020-09-30 11:26] #93 closed, assigned to mjmartineau

[2020-09-30 19:44] matttbe commented on #50
Implemented by @geliangtang and now on net-next, thx! → a1a35529bdf8f0d5da0f9ae10a670fb0ad7df2d3
This ticket can then be closed!

[2020-09-30 19:44] #50 closed, assigned to geliangtang

[2020-09-30 19:44] matttbe commented on #49
Implemented by @geliangtang and now on net-next, thx! → a1a35529bdf8f0d5da0f9ae10a670fb0ad7df2d3
This ticket can then be closed!

[2020-09-30 19:44] #49 closed, assigned to geliangtang

[2020-09-30 20:00] matttbe opened #94 "Packetdrill: after a received DATA_FIN, no new packets can be treated"
When the first DATA_FIN packet is received, no other packets can be treated by Packetdrill. It is probably a bug in packetdrill that needs to be analysed (and fixed if it is one of course).

As a workaround, we can stop looking at packets after the first received DATA_FIN but we would miss the verification of the end of the connections.

[2020-09-30 20:00] matttbe commented on #94
Note that @dcaratti was already looking at this issue before the creation of this ticket.

[2020-09-30 20:05] matttbe opened #95 "Additional random values are set with ADD_ADDR+echo bit packets"
When the "echo" bit is set in the ADD_ADDR, there seem to be some additional random values at the end of the ADD_ADDR option, that are wrongly interpreted as another TCP option.

Reported by @dcaratti

[2020-09-30 20:13] matttbe opened #96 "Python: add support for IPPROTO_MPTCP"
To be able to do:

[code]

[2020-10-01 08:01] geliangtang commented on #95
@matttbe @dcaratti Could you please give me more details about how to reproduce this issue?

[2020-10-01 09:06] dcaratti commented on #95
hello @geliangtang , thanks for looking at this!

please see in the attachment, there is a capture obtained with the kselftests (it's `mp_join.sh` item n.10). Packet 77 has options length equal to 40, as follows:  NOP(1) + NOP(1) + TS(10) +  ADD_ADDR(8) +  DSS(12) options. the remaining 8 bytes are apparently random, hence wireshark says that the option length exceeds the options space (not sure i

[2020-10-01 09:22] matttbe commented on #95
@dcaratti : I didn't try yet but could this patch helps?

[code]

[2020-10-01 10:03] dcaratti commented on #95
[add_addr.pcap.gz](https://github.com/multipath-tcp/mptcp_net-next/files/5311480/add_addr.pcap.gz)

@matttbe, the patch seems to fix the problem (at least for IPv4, didn't try IPv6 yet)

[2020-10-01 10:06] matttbe commented on #95
@dcaratti great, thank you for having validating that!

@geliangtang I just noticed you self-assigned to this ticket. Maybe you had another fix? Is it OK if I send this patch? (I will do that later, I prefer not to commit and send patches during meetings :innocent:  )

[2020-10-01 10:12] geliangtang commented on #95
@matttbe Thanks, your patch is fine. My fix is the same as yours:

[code]

[2020-10-01 10:16] matttbe commented on #95
@geliangtang again sorry, I didn't see you were working on it. I will make sure to check next time. I can send a patch!

[2020-10-01 11:14] dcaratti commented on #95
@matttbe @geliangtang just updated https://github.com/multipath-tcp/mptcp_net-next/issues/95#issuecomment-702029893 with pcap. I'm going to use it for [tcpdump selftest](https://github.com/the-tcpdump-group/tcpdump/pull/879#issuecomment-700535040)

[2020-10-02 10:30] #89 closed, assigned to pabeni

[2020-10-03 17:09] #95 closed, assigned to matttbe

[2020-10-06 06:31] pabeni commented on #92
should be addressed by the recent sendmsg refactor, right?

[2020-10-06 06:37] pabeni opened #97 "null ptr dereference on close timeout under memory pressure"
While running self-tests in a loop on top of: c25b1a8e34ad3020ab2007ad2b4f8b734063985a:

[code]

the `sk->sk_socket` is `NULL` because we orphan the subflow at close time.

The push pending frames machinery can still call `do_tcp_sendpages()` on orphaned sockets and we can hit the above in case of memory pressure (failing `skb` allocation or memory schedule)

A tentative (and invasive) fix could b

[2020-10-06 07:23] matttbe commented on #97
Hi @pabeni,

Thank you for reporting this!

Do you think it would be OK to add MPTCP hooks in `do_tcp_sendpages`?

[2020-10-06 11:16] matttbe opened #98 "dss_ssn_specified_client packetdrill test fails (timeout)"
This test is available there: https://github.com/multipath-tcp/packetdrill/blob/mptcp-net-next/gtests/net/mptcp/dss/dss_ssn_specified_client.pkt

It is not failing on current net-next but it is with the current export branch.

Here is the output of a `git bisect`:

[code]

[2020-10-06 11:16] matttbe commented on #98
I am going to apply the different patches shared by @pabeni recently and retest.

[2020-10-06 13:47] matttbe commented on #98
Note that I still have the issue with the latest export branch updated 10minutes ago

[2020-10-06 16:00] matttbe commented on #98
I got the opportunity to look a bit more and the FIN is not sent, the status is still ESTABLISHED:

[code]

[2020-10-06 16:12] matttbe opened #99 "simult_flows selftest is unstable: remaining sockets in TIME-WAIT state"
When using a debug kernel, my CI reports issues with simult_flows selftest:

[code]

According to @pabeni, this could be fixed by patches sent to fix #97: https://patchwork.ozlabs.org/project/mptcp/list/?series=206217

But better to track this in a dedicated issue.

[2020-10-06 16:27] pabeni commented on #97
@matttbe: Could you please articulate a bit more? perhaps with some pseudo-code?
Thanks!

[2020-10-06 16:44] matttbe commented on #97
No need to do that, the solution you proposed on the ML is even better by avoiding some "if mptcp" in TCP code! :-)
For the moment, I don't see any better solution. I am sure we can propose that upstream to get some feedback :)

[2020-10-07 06:28] pabeni commented on #99
This is possibly/likely caused by oow events we observe on the relevant tree.

Anyway the issue is [almost] addressed by "mptcp: cope better with tcp_sendpage allocation".

(TCP) sockets in time_wait are the expected result at the end of the test.

[2020-10-08 16:52] dcaratti commented on #94
looking at the composed output of tcpdump + gdb:

[code]
it looks like after the DATAFIN, packetdrill "forgets" about the TCP socket created with subflow 1.

[2020-10-10 00:22] mjmartineau commented on #92
@pabeni, it should be addressed by the sendmsg refactor. I just tested on the export branch and still see the resend behavior, but I think that's because the net-next tree doesn't have all the net fixes yet. I will confirm and close after net-next catches up.

[2020-10-12 13:48] #91 closed, assigned to pabeni

[2020-10-14 15:49] dcaratti commented on #98
as per recent (verbal) discussion, this is probably intentional because commit 47d4beeecd06 requires an outbound `DATA_FIN` to be explicitly acked with an ACK. Something like:
[code]
the problem with current `export` branch is: changing the script like in the above example is not sufficient to convince Linux to transmit an outbound FIN/ACK packet. After the kernel under test received the DACK8 equ

[2020-10-15 18:14] cpaasch opened #100 "[syzkaller] KASAN: null-ptr-deref Write in add_wait_queue"
[code]

HEAD is at:
2229aa47069b ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20201015T052017, mptcp_net-next/export) (13 hours ago) <Matthieu Baerts>
e3a6adb4c880 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (13 hours ago) <Paolo Abeni>
a70060b9e1aa ("mptcp: send explicit ack on delayed ack_seq incr")  (13 hours ago) <Paolo Abeni>
374eed7700b2 ("mptcp: keep track of adv

[2020-10-15 18:15] cpaasch commented on #70
Still happens on top of:

2229aa47069b ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20201015T052017, mptcp_net-next/export) (13 hours ago) <Matthieu Baerts>
e3a6adb4c880 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (13 hours ago) <Paolo Abeni>
a70060b9e1aa ("mptcp: send explicit ack on delayed ack_seq incr")  (13 hours ago) <Paolo Abeni>
374eed7700b2 ("mptcp: keep track

[2020-10-17 00:12] mjmartineau commented on #92
The DATA_FIN and DATA_ACKs are exchanged properly with mptcp_trunk v1 protocol - I tested with my own merge of net-next (before 16-Oct merge with Linus' tree) and -net.

[2020-10-17 00:12] #92 closed, assigned to mjmartineau

[2020-10-17 07:55] matttbe commented on #100
Closes thanks to Paolo's patch: e3514ae223bd

[2020-10-17 07:55] #100 closed, assigned to nobody

[2020-10-19 07:12] matttbe commented on #97
Should be fixed by Paolo's patches now in the "export" branch:
- 325abb8bd3d0: tcp: factor out tcp_build_frag()
- c573a4caa599: mptcp: use tcp_build_frag()

[2020-10-19 07:12] #97 closed, assigned to pabeni

[2020-10-19 21:53] cpaasch opened #101 "[syzkaller] KASAN: use-after-free Read in tcp_check_space"
[code]

Reproducer:
[code]

[2020-10-20 13:36] matttbe commented on #101
Hi Christoph,

Thank you for the bug report!

By chance, do you still have the HEAD commit? A few patches have been applied end of last week.

[2020-10-20 14:06] cpaasch commented on #101
I will give it a try.

[2020-10-23 15:22] #98 closed, assigned to dcaratti

[2020-10-23 16:05] matttbe commented on #101
This should be fixed thanks to @pabeni 's patch: 51c3efe449ec

Please close this ticket once syzkaller can validate this bug cannot be reproduced :)

[2020-10-23 18:02] matttbe commented on #55
Can be closed thanks to Geliang's patches:

- 93f241dc7682: mptcp: change add_addr_signal type
- 4769ab732416: mptcp: send out dedicated ADD_ADDR packet
- 261b6b50e4e0: selftests: mptcp: add ADD_ADDR IPv6 test cases

[2020-10-23 18:02] #55 closed, assigned to geliangtang

[2020-10-23 20:17] matttbe opened #102 "mptcp_pm_create_subflow_or_signal_addr: suspicious rcu_dereference_check() usage"
Probably since commit 4769ab7324160:

During mptcp_join.sh selftest with KASAN

[code]

KConfig:
[code]

cc: @geliangtang

[2020-10-24 01:08] geliangtang commented on #102
@matttbe I'll try to fix it.

[2020-10-27 05:54] mjmartineau commented on #101
The reproducer didn't trigger the KASAN fault after ~500000 iterations (only saw the warning from #70).

[2020-10-27 05:54] #101 closed, assigned to pabeni

[2020-10-28 11:52] matttbe commented on #102
Should be closed with commit 4b03a9d34ff3c178a4f725a63bee0706454afdc4.

[2020-10-28 11:52] #102 closed, assigned to geliangtang

[2020-10-28 13:24] matttbe commented on #31
This is supported in v5.9 thanks to modifications done by Florian, e.g. 9466a1ccebbe54ac57fb8a89c2b4b854826546a8 (but also other commits)

[2020-10-28 13:24] #31 closed, assigned to nobody

[2020-10-28 15:44] cpaasch opened #103 "[syzkaller] WARNING in inet_csk_listen_stop"
[code]

HEAD is at:
0114cba6dbf2 ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20201024T195715, mptcp_net-next/export) (4 days ago) <Matthieu Baerts>
f61d98f7a954 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (4 days ago) <Paolo Abeni>
f2ff7f11f9a7 ("selftests: mptcp: add ADD_ADDR IPv6 test cases")  (4 days ago) <Geliang Tang>
417851835a81 ("mptcp: send out dedicated ADD_A

[2020-10-28 15:44] cpaasch opened #104 "[syzkaller] general protection fault in skb_release_data"
[code]

HEAD is at
05cb27b258ba ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20201209T060936, mptcp_net-next/export) (12 hours ago) <Matthieu Baerts>
525593cf6729 ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (12 hours ago) <Matthieu Baerts>
6aa8731bf964 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (12 hours ago) <Paolo Abeni>
2227bfd2f6bd ("mptcp: let MPTCP create max si

[2020-11-02 13:16] matttbe opened #105 "warning in `mptcp_reset_timer()` with `mptcp_connect.sh -m mmap`"
My CI found a warning in `mptcp_reset_timer()` when running `mptcp_connect.sh -m mmap` without a debug kernel (without KASAN, PROVE_LOCK, etc.):

[code]

I didn't manage to reproduce it

[2020-11-02 17:11] cpaasch opened #106 "[syzkaller] BUG: Bad page state"
No reproducer, probably related to #104

[code]

HEAD is:
1f9132d3c479 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20201028T132956, mptcp_net-next/export) (5 days ago) <Matthieu Baerts>
dfda1267982e ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (5 days ago) <Paolo Abeni>
46a8befae752 ("mptcp: track window announced to peer")  (5 days ago) <Florian Westphal>
efa0f4137ce2 ("self

[2020-11-06 14:12] matttbe commented on #105
The trace is different but it could be linked to #70

[2020-11-06 22:10] mjmartineau opened #107 "Review use of WARN_ON() / WARN_ON_ONCE()"
Some of the calls to WARN macros in MPTCP code may be for informational purposes, but some systems are deployed with `panic_on_warn` set. We should confirm that any use of these macros would justify a panic in systems configured that way.

`pr_warn()` / `pr_warn_once()` might fit better in some cases.

[2020-11-12 16:27] cpaasch opened #108 "[syzkaller] memory leak in sk_clone_lock"
[code]

Reproducer
[code]

HEAD:
2d7e2cfcc130 ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20201105T061029, mptcp_net-next/export) (7 days ago) <Matthieu Baerts>
b05f8b3a652b ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (7 days ago) <Paolo Abeni>
10caf376e969 ("mptcp: track window announced to peer")  (7 days ago) <Florian Westphal>
418ca1fe433b ("selftests: mptcp: add A

[2020-11-12 16:28] cpaasch opened #109 "[syzkaller] memory leak in skb_ext_add"
[code]

No reproducer yet...

HEAD:
2d7e2cfcc130 ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20201105T061029, mptcp_net-next/export) (7 days ago) <Matthieu Baerts>
b05f8b3a652b ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (7 days ago) <Paolo Abeni>
10caf376e969 ("mptcp: track window announced to peer")  (7 days ago) <Florian Westphal>
418ca1fe433b ("selftests: mptcp: ad

[2020-11-13 16:58] matttbe commented on #53
Florian is looking at this

[2020-11-13 16:58] matttbe commented on #48
Florian is looking at this

[2020-11-17 16:36] cpaasch opened #110 "[syzkaller] memory leak in __ip_mc_join_group"
[code]

No reproducer yet.

HEAD is at:
0ba8e381319a ("mptcp: fix locking in mptcp_disconnect()")  (HEAD) (7 days ago) <Paolo Abeni>
2231a14a0d42 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20210114T060000, mptcp_net-next/export) (7 days ago) <Matthieu Baerts>
bdb95de71fe6 ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (7 days ago) <Matthieu Baerts>
37e13d6e5600 ("DO-NOT-MERGE: mptcp:

[2020-11-17 16:38] cpaasch commented on #108
Different, but probably the same:

[code]

[2020-11-17 16:48] cpaasch opened #111 "[syzkaller] divide error in __tcp_select_window"
[code]

No reproducer yet.

HEAD is now at:
ee897d427e40 ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20201117T153419, mptcp_net-next/export) (73 minutes ago) <Matthieu Baerts>
4d684bc86398 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (73 minutes ago) <Paolo Abeni>
9da10b09d9b8 ("mptcp: refine MPTCP-level ack scheduling")  (73 minutes ago) <Paolo Abeni>
4ee210bb9f9f ("mp

[2020-11-18 11:17] matttbe commented on #105
syzbot found a similar issue:

- HEAD commit:    7c8ca812 Add linux-next specific files for 20201117
- git tree:       linux-next
- console output: https://syzkaller.appspot.com/x/log.txt?x=14ccfce2500000
- kernel config:  https://syzkaller.appspot.com/x/.config?x=ff4bc71371dc5b13
- dashboard link: https://syzkaller.appspot.com/bug?extid=42aa53dafb66a07e5a24
- compiler:       gcc (GCC) 10.1.0-syz

[2020-11-18 13:35] dcaratti opened #112 "sporadic failure of mptcp_join.sh selftest 13"
While backporting the support for "echo bit" to make `ADD_ADDR` "reliable", I noticed that some of the kselftests that check for the value of `MPTcpExtEchoAdd` often fail: I'm attaching pcap captures of the same test (number 13 in the current list), repeated twice on the same kernel.
In  `mp_join-01-ns1-0-FZiNdH.pcap` the test failed as follows:
[code]
while in the other trace, namely `mp_join-01-

[2020-11-18 13:38] dcaratti commented on #112
[issue112.tar.gz](https://github.com/multipath-tcp/mptcp_net-next/files/5560332/issue112.tar.gz)

[2020-11-18 13:42] dcaratti commented on #112
I noticed that this behavior becomes more evident on kernel where the TCP "ping pong threshold" is 1. e.g. they don't have this commit:
[code]
the issue can also be fixed by temporarily exiting the "pingpong" mode, when the `ADD_ADDR` is received, e.g. with something like:
[code]

[2020-11-18 13:52] dcaratti commented on #112
A third option might be to ignore the problem in real-life scenarios, and just fix the tests in a way that subflows are created with `TCP_QUICKACK` socket option for kselftests where the value of `MPTcpExtEchoAdd` is required to pass the test (but this would require at least implementation of the `setsockopt()` in the kernel)

[2020-11-18 20:44] matttbe opened #113 "selftests: mptcp_connect MPTCP → TCP: file received by client does not match"
My CI reported some issues like this one:

[code]

It looks like I also had this issue without MMAP with v4 and v6:

[code]

I had this issue a few times but I missed it:
- 06-Nov-2020 (sync with net-next)
- 11-Nov-2020 (sync with net-next)
- 12-Nov-2020 (sync with net-next)
- 13-Nov-2020 (sync with net-next)
- 13-Nov-2020 (new patches)
- 13-Nov-2020 (new patches)
- etc.

Each time with a connecti

[2020-11-19 08:29] matttbe commented on #105
Maybe fixed with

- a244f722bb32: mptcp: update rtx timeout only if required.
- Results: d9d1b168cecf..46e6ddcba723

Patch from Paolo: [patchwork](https://patchwork.ozlabs.org/project/mptcp/patch/1a72039f112cae048c44d398ffa14e0a1432db3d.1605737083.git.pabeni@redhat.com)

[2020-11-19 09:36] pabeni commented on #106
This looks like a duplicate of issue #104

[2020-11-19 16:43] cpaasch commented on #103
Still happens on:

f590f84bdfb9 ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20201119T122135, mptcp_net-next/export) (5 hours ago) <Matthieu Baerts>
0dbb372a76fd ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (5 hours ago) <Paolo Abeni>
5ffc66739ba3 ("mptcp: print out port and ahmac when receiving ADD_ADDR")  (5 hours ago) <Geliang Tang>
4c67d472a561 ("mptcp: add port para

[2020-11-19 16:46] cpaasch commented on #70
Can't repro anymore. Closing

[2020-11-19 16:46] #70 closed, assigned to nobody

[2020-11-19 17:42] matttbe commented on #113
I cannot reproduce it thanks to last patches shared by Paolo: https://patchwork.ozlabs.org/project/mptcp/list/?series=215516&archive=both&state=*

[2020-11-19 17:42] #113 closed, assigned to nobody

[2020-11-19 17:43] matttbe commented on #109
Should be fixed with the last export branch thanks to Paolo's patches: we no longer have the skb extension cache
https://patchwork.ozlabs.org/project/mptcp/list/?series=215516&archive=both&state=*

[2020-11-19 19:51] matttbe opened #114 "packetdrill: dss tolerance issue to emit the FIN+ACK"
Maybe due to other tasks in parallel causing high delay but still strange we had that. I didn't manage to reproduce it just after but I didn't try for long.

[code]

End of the file:

[code]

[2020-11-20 18:08] cpaasch opened #115 "[syzkaller] WARNING in sk_stream_kill_queues"
[code]

HEAD is:
05cb27b258ba ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20201209T060936, mptcp_net-next/export) (12 hours ago) <Matthieu Baerts>
525593cf6729 ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (12 hours ago) <Matthieu Baerts>
6aa8731bf964 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (12 hours ago) <Paolo Abeni>
2227bfd2f6bd ("mptcp: let MPTCP create max size

[2020-11-20 18:09] cpaasch opened #116 "[syzkaller] WARNING in corrupted"
[code]

HEAD is at:
502db67b77b3 ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20201119T172519, mptcp_net-next/export) (25 hours ago) <Matthieu Baerts>
b02623a9370e ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (25 hours ago) <Paolo Abeni>
8c15885fe4f2 ("mptcp: use mptcp release_cb for delayed tasks")  (25 hours ago) <Paolo Abeni>
3db94ea13867 ("mptcp: avoid a few atomic o

[2020-11-20 19:07] matttbe commented on #116
@cpaasch : thank you for the bug report!
By chance, do you think you could validate latest export branch updated a few minutes ago? :)

[2020-11-20 19:08] cpaasch commented on #116
Closing...

[2020-11-20 19:08] #116 closed, assigned to nobody

[2020-11-20 19:08] cpaasch commented on #115
Closing...

[2020-11-20 19:20] cpaasch commented on #115
Nope, actually this still happens...

[2020-11-20 20:50] pabeni commented on #115
Just to be sure, this still happenon top of today's Florian squash to
patch, right?

Il ven 20 nov 2020, 20:21 Christoph Paasch <notifications@github.com> ha
scritto:

[2020-11-20 21:19] cpaasch commented on #115
Yes, Florian's patch is in this export-branch.

[2020-11-23 12:30] pabeni commented on #111
It looks like Eric found the root cause behind this:

https://lore.kernel.org/netdev/ca0b65f8-7a69-ff4e-9e0d-66a7a923b0c1@gmail.com/

with just a glance...

[2020-11-26 13:50] matttbe commented on #115
Maybe fixed with https://patchwork.ozlabs.org/project/mptcp/patch/0e80f1282034868082de4b9a76c8f5fde867f840.1606329599.git.pabeni@redhat.com/

[2020-11-26 14:36] matttbe commented on #48
The receive side support has been added by Florian in the repository, see patches:

- 6766eaff5c84: mptcp: hold mptcp socket before calling tcp_done
- 37a53605cd6b: tcp: parse mptcp options contained in reset packets
- 0b9d6f3f5a2b: mptcp: parse and act on incoming FASTCLOSE option

[2020-11-26 16:15] pabeni commented on #111
fixed with:

commit fd8976790a6c1fee98bd7bc73754ddc9f01273ab
Author: Paolo Abeni <pabeni@redhat.com>
Date:   Tue Nov 24 22:51:24 2020 +0100

    mptcp: be careful on MPTCP-level ack.

[2020-11-26 16:15] #111 closed, assigned to nobody

[2020-11-27 16:17] pabeni opened #117 "Allow user-space to set endpoint ID"
Currently the netlink PM APIs do not allow userspace to set the endpoint ID. Any value provided by netlink is overriden by the kernel. This makes the code simple, but makes user-space life hard.

Instead we could:

- use a per netns bitmask (256 bits) to keep track of in-use IDs. Also keep track of the highest ID currently in use
- if the user-space provides an ID at endpoint creation time, try to

[2020-11-27 16:36] matttbe commented on #105
I didn't manage to reproduce it.
My CI didn't catch any other WARNs since this one (1st of November). I guess we can close it :)

[2020-11-27 16:36] #105 closed, assigned to nobody

[2020-11-27 17:08] matttbe opened #118 "ignore me: sorry for the noise, testing IRC notifications"

[2020-11-27 17:12] #118 closed, assigned to nobody

[2020-11-30 11:43] geliangtang commented on #117
@pabeni @matttbe Hi Paolo & Matt, Is anyone working on this issue? If not, I can work on it.

[2020-11-30 13:33] matttbe commented on #117
Hi Geliang,

As far as I know, nobody is looking at this issue.

Thanks for looking at it!

Cheers,
Matt

[2020-11-30 18:43] cpaasch opened #119 "[syzkaller] memory leak in __get_filter"
[code]

HEAD is at:
68fb0bb3c7ea ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20201120T184745, mptcp_net-next/export) (10 days ago) <Matthieu Baerts>
135baa6a5b64 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (10 days ago) <Paolo Abeni>
501cae4236d2 ("mptcp: use mptcp release_cb for delayed tasks")  (10 days ago) <Paolo Abeni>
9f8e50c98aa3 ("mptcp: avoid a few atomic ops

[2020-11-30 20:47] cpaasch commented on #115
Nope, still happening...

[2020-11-30 20:51] cpaasch commented on #109
Still happening (updated HEAD above)

[2020-12-01 10:32] pabeni commented on #99
@matttbe: is this still reproducible on current export branch? I don't see this errors locally since some time

[2020-12-01 15:45] matttbe commented on #99
@pabeni thx for the message!

I cannot reproduce the issue. My CI last saw it the 23rd of October which is still after having applied these two patches:

- 325abb8bd3d0: tcp: factor out tcp_build_frag()
- c573a4caa599: mptcp: use tcp_build_frag()

But nothing since then. I guess we can close this one.

[2020-12-01 15:45] #99 closed, assigned to nobody

[2020-12-02 12:05] pabeni commented on #103
the PM/workqueue is racing withinet_csk_listen_stop()/inet_child_forget() on some unaccepted ssk. hard to fix IMHO

[2020-12-03 16:35] pabeni commented on #72
this is a duplicate of #117, closing this instance as work is being done on the other issue

[2020-12-03 16:35] #72 closed, assigned to nobody

[2020-12-03 20:21] cpaasch opened #120 "[interop] netnext is dropping packets, causing MPTCP-level retransmissions on mptcp.org"
I am running interop tests and one test is an iperf-test (test simple_iperf from https://github.com/multipath-tcp/mptcp-scripts/blob/master/testing/testing.py#L607), which creates two subflows. mptcp.org is the sender, and netnext is the receiver.

I see that netnext ends up dropping data after having acknowledged them at the TCP-layer. This makes the sender require an MPTCP-level retransmission t

[2020-12-03 21:28] pabeni commented on #120
Could you please have a look at/report the MIB counters on the receiver side?

Also, could you please enable the pr_debug() in mptcp_data_queue_ofo() during the test?

echo "func mptcp_data_queue_ofo +fmp" > /sys/kernel/debug/dynamic_debug/control

[2020-12-04 04:18] geliangtang commented on #104
@cpaasch @matttbe @pabeni Bugfix for this issue has been sent to ML, named "mptcp: avoid using the main socket to send ack"

[2020-12-04 11:41] pabeni commented on #109
I just noted the backtrace looks completely unrelated to MPTCP, can you reproduce it on an non MPTCP-enabled build?

[2020-12-04 16:44] matttbe commented on #103
Can be closed thanks to this commit from @pabeni

  46712436b452: mptcp: link MPC subflow into msk only after accept

[2020-12-04 16:44] #103 closed, assigned to pabeni

[2020-12-04 16:47] matttbe commented on #108
@cpaasch may you check if this patches fix the two issues your reported please?

- b89ebad43317: mptcp: plug subflow context memory leak

(soon in the export branch, max 1h)

Thanks Paolo for the fix!

[2020-12-04 17:00] cpaasch commented on #120
Attached are the logs:

[kern.log.zip](https://github.com/multipath-tcp/mptcp_net-next/files/5644165/kern.log.zip)
[ns_comp3_after.txt](https://github.com/multipath-tcp/mptcp_net-next/files/5644167/ns_comp3_after.txt)

[2020-12-04 19:56] cpaasch commented on #108
Yes, issue is fixed!

[2020-12-04 19:57] cpaasch commented on #108
kkkk

[2020-12-04 19:57] #108 closed, assigned to pabeni

[2020-12-04 19:58] cpaasch commented on #109
You are right, looking at the syzkaller log, it is not even calling sendmmsg on an MPTCP-socket.

[2020-12-04 19:58] #109 closed, assigned to nobody

[2020-12-07 17:03] cpaasch opened #121 "[syzkaller] divide error in __tcp_select_window"
[code]

Reproducer:
[code]

212235f6e0a5 ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20201204T192621, mptcp_net-next/export) (3 days ago) <Matthieu Baerts>
a86bbdfc0b2a ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (3 days ago) <Matthieu Baerts>
eb388493ad17 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (3 days ago) <Paolo Abeni>
7e6ca7e6cabd ("mptcp: let MPTCP create max

[2020-12-08 14:46] matttbe commented on #121
It looks close to #111 but you already have the upstream fix for this one.

[2020-12-09 10:41] dcaratti commented on #115
maybe related: https://lore.kernel.org/netdev/000000000000b4862805b54ef573@google.com/

[2020-12-09 15:37] #85 closed, assigned to matttbe

[2020-12-09 18:07] matttbe opened #122 "PM doesn't create subflow with IPv4 mapped IPv6 socket"
This can be easily reproduced with Packetdrill:

[code]

We receive the ADD_ADDR (v4):

[code]

But the PM doesn't create any connection.

[code]

[2020-12-10 03:17] geliangtang commented on #122
Hi Matt, I'll try to fix this issue, please assign it to me, thanks.

[2020-12-10 11:55] matttbe commented on #67
With the latest export branch, I got a similar issue:

[code]

I still need to instrument my CI to output more info in case of timeout...

The CI is re-running the tests.

[2020-12-10 15:54] pabeni opened #123 "sndmsg autotuning is disable"
After the commit:

commit 6e628cd3a8f78cb0dfe85353e5e488bda296bedf
Author: Paolo Abeni <pabeni@redhat.com>
Date:   Fri Nov 27 11:10:27 2020 +0100

    mptcp: use mptcp release_cb for delayed tasks

we never set SOCK_NOSPACE on subflows, with bad side effects:
- no sndbuf autotuning, as it happens in tcp_new_space(), which is invoked only if SOCK_NOSPACE is set.
- no SNDBUF_LIMITED chrono

The firs

[2020-12-10 15:57] matttbe opened #124 "./mptcp_connect.sh -m mmap test blocks: regression"
With the latest export branch, I got a similar issue than #67 :

[code]

I still need to instrument my CI to output more info in case of timeout...

I can reproduce it with my CI, no always blocking with the same test, e.g.

[code]

It looks like it has been introduced by:
- bbaa11040198: mptcp: push pending frames when subflow has free space

[2020-12-10 15:58] matttbe commented on #67
It looks like it is a new regression, see #124.

[2020-12-10 15:58] #67 closed, assigned to nobody

[2020-12-10 16:19] cpaasch opened #125 "[syzkaller] KASAN: wild-memory-access Write in subflow_req_destructor"
[code]

HEAD is at:
05cb27b258ba ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20201209T060936, mptcp_net-next/export) (12 hours ago) <Matthieu Baerts>
525593cf6729 ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (12 hours ago) <Matthieu Baerts>
6aa8731bf964 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (12 hours ago) <Paolo Abeni>
2227bfd2f6bd ("mptcp: let MPTCP create max s

[2020-12-10 16:19] cpaasch commented on #125
Different stack-trace but same issue (I guess ;-) ):

[code]

[2020-12-10 16:22] cpaasch opened #126 "[syzkaller] WARNING in mptcp_reset_timer"
[code]

HEAD:
05cb27b258ba ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20201209T060936, mptcp_net-next/export) (12 hours ago) <Matthieu Baerts>
525593cf6729 ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (12 hours ago) <Matthieu Baerts>
6aa8731bf964 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (12 hours ago) <Paolo Abeni>
2227bfd2f6bd ("mptcp: let MPTCP create max size sk

[2020-12-10 16:24] cpaasch opened #127 "[syzkaller] WARNING in corrupted"
[code]

HEAD:
05cb27b258ba ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20201209T060936, mptcp_net-next/export) (12 hours ago) <Matthieu Baerts>
525593cf6729 ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (12 hours ago) <Matthieu Baerts>
6aa8731bf964 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (12 hours ago) <Paolo Abeni>
2227bfd2f6bd ("mptcp: let MPTCP create max size sk

[2020-12-10 16:29] matttbe commented on #126
might be linked to #105 (still happening) and #70

[2020-12-10 19:10] matttbe commented on #43
(unassigning Christoph as discussed last week)

[2020-12-10 19:24] matttbe commented on #114
Should be fixed with https://github.com/multipath-tcp/mptcp_net-next/commit/0524d7368b3a56473f4d6420b3a4e7f0d9bc430a

[2020-12-10 19:24] #114 closed, assigned to nobody

[2020-12-10 19:33] matttbe opened #128 "When the last subflow is closed without DATA_FIN and msk Established, close msk (after a timeout)"
Just not to arrive in a situation where there is no more traffic because there is no subflow. The userspace might need a notification and we don't want to have "zombie" sockets.

This can happen if subflows are closed without DATA_FIN (on purpose) or PM remove the last subflow, iface down, etc.

[2020-12-11 09:56] matttbe commented on #124
Can be closed thanks to a fix from Paolo (thx!):
-  02754ad8b65e: "squashed" in mptcp: push pending frames when subflow has free space

[2020-12-11 09:56] #124 closed, assigned to nobody

[2020-12-11 20:04] cpaasch commented on #121
Update 12/11: Added reproducer

[2020-12-14 11:52] fw-strlen commented on #60
I"m working on this.

[2020-12-14 12:16] pabeni opened #129 "set subflow socket consistently"
client/outbount subflows have "individual" struct socket: new a struct socket is allocated for each of such subflow and ssk->sk_socket points to it (with IPPROTO_TCP).

server/incoming subflows shares a single struct socket, the same struct socket originally created for the parent msk sock (with IPPROTO_MPTCP).

The above means:
- we need to traverse the conn_list to set the NOSPACE bit on each su

[2020-12-14 14:08] matttbe commented on #60
Hi @fw-strlen

That's great, thank you!

I was thinking about looking at this one early next year but that's good if you do that before!

Feel free to discuss if you think we need to change the API defined in mptcp.org: https://github.com/multipath-tcp/mptcp/blob/mptcp_trunk/include/uapi/linux/mptcp.h

[2020-12-14 19:04] cpaasch opened #130 "[syzkaller] WARNING in mptcp_token_destroy_request"
[code]

HEAD is at:
05cb27b258ba ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20201209T060936, mptcp_net-next/export) (12 hours ago) <Matthieu Baerts>
525593cf6729 ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (12 hours ago) <Matthieu Baerts>
6aa8731bf964 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (12 hours ago) <Paolo Abeni>
2227bfd2f6bd ("mptcp: let MPTCP create max s

[2020-12-15 05:50] geliangtang commented on #104
@pabeni @cpaasch @matttbe New patch has been sent out.

[2020-12-15 05:58] geliangtang commented on #19
@pabeni @matttbe  Hi Paolo, the removed addresses part of this issue is done, only the added addresses part need to be improved. I'll implement it recently.

[2020-12-15 09:18] pabeni commented on #127
@cpaasch  the backtrace does not match the issue subject ?!? The reported backtrace looks like issues/115, which should be addressed by the pending patch "mptcp: fix pending data accounting"

[2020-12-15 11:42] #104 closed, assigned to geliangtang

[2020-12-15 14:27] dcaratti commented on #126
ATM the syz repro is causing a splat similar to the one in issue #115 , will fix this first

[2020-12-15 15:49] cpaasch commented on #127
Oups... :-) Fixed that!

[2020-12-15 15:50] cpaasch commented on #127
Sorry... I'm lacking coffee...

[2020-12-15 15:50] cpaasch commented on #127
Seems like each of these traces in "corrupted" have sk_stream_kill_queues... It's probably indeed a dupe of #115

[2020-12-16 02:32] geliangtang commented on #106
@pabeni @cpaasch This issue is a duplicate of #104 indeed. Commit https://github.com/multipath-tcp/mptcp_net-next/commit/6e6753c971d7022b33db1ebb7d0a03198f53705b can fix this issue too.

[2020-12-16 02:32] #106 closed, assigned to nobody

[2020-12-16 21:48] matttbe commented on #117
Can be closed thanks to these commits from @geliangtang :

- f4b03aa16214: mptcp: add the address ID assignment bitmap
- 6636ac3e5e80: selftests: mptcp: add testcases for setting the address ID
- edac8433efa9: "squashed" in "mptcp: add the address ID assignment bitmap"

[2020-12-16 21:48] #117 closed, assigned to geliangtang

[2020-12-16 21:59] matttbe commented on #51
Support in MPTCP has been added by @geliangtang , thanks!

- a56be1da1447: mptcp: add the outgoing MP_PRIO support
- 661b20bcc670: mptcp: add the incoming MP_PRIO support
- ef8d4135a450: mptcp: add set_flags command in PM netlink
- bda492f95f00: selftests: mptcp: add set_flags command in pm_nl_ctl
- cdd087e12b2f: mptcp: add the mibs for MP_PRIO
- 6a9e7c4c68db: selftests: mptcp: add the MP_PRIO tes

[2020-12-17 22:57] matttbe commented on #128
From Paolo:

      - We might want different behaviours for inbound and outbound sockets, e.g.:
          - client might want to create new subflows over new subflows even if there is no existing one
          - server might want not being stuck and close connections
      - MPTCP keep alive might be something different, more advanced behaviour
      - A dedicated timeout might be good for now

[2020-12-22 16:44] dcaratti commented on #115
@cpaasch , can you give a try with [forward allocation capped to 1M]( https://lore.kernel.org/netdev/3334d00d8b2faecafdfab9aa593efcbf61442756.1608584474.git.dcaratti@redhat.com/ ) ?

[2020-12-23 09:46] pabeni opened #131 "replace some/most pr_debug with trace events"
the debug messages are useful in debug sessions, but have several downside:
- they requires debug build
- turning the debug messages on slow down the system a lot, likely impacting the to-be-debugged races/scenarios
- it's difficult to handle the amount of data produced by not-so-short runs
We can improve the situation replacing some debug messages with trace events.

Why trace event at all? we co

[2020-12-29 10:20] geliangtang commented on #131
@pabeni Hi Paolo, I'll add the trace events for MPTCP recently.

[2021-01-06 09:07] matttbe commented on #122
(not in the `export` branch yet)

[2021-01-11 15:15] matttbe opened #133 "PM: Closing the MPTCP connection when last subflow is not the initial one and its IP address is removed"
Or is it OK to leave it open until it's forced closed by an interface being shut down?

[2021-01-13 11:41] matttbe opened #134 "Checksum support"
As defined in RFC8684, it needs to be negotiated:

https://www.rfc-editor.org/rfc/rfc8684.html#sec_init

But also when transferring data:

https://www.rfc-editor.org/rfc/rfc8684.html#sec_generalop

And every other MPTCP packets headers.

Please also see the link with MP_FAIL #52 in the Fallback section: https://www.rfc-editor.org/rfc/rfc8684.html#sec_fallback

[2021-01-13 12:32] geliangtang commented on #134
Hi Matt, I'll work on this issue.

[2021-01-13 16:46] matttbe commented on #121
This should be fixed thanks to @pabeni 's patches (even if a minor extra fix is in preparation)

  - [net,1/2] mptcp: more strict state checking for acks    https://git.kernel.org/netdev/net/c/20bc80b6f582
  - [net,2/2] mptcp: better msk-level shutdown.    https://git.kernel.org/netdev/net/c/76e2a55d1625

Also in our tree:

- 0b6dd0e5543a: mptcp: more strict state checking for acks
- 5ad3c4e82308:

[2021-01-13 16:46] #121 closed, assigned to pabeni

[2021-01-14 08:32] geliangtang commented on #52
Note that if checksum usage has not been negotiated, this fallback mechanism cannot be used unless there is some higher-layer or lower‑layer signal to inform the MPTCP implementation that the payload has been tampered with.

[2021-01-14 16:22] matttbe commented on #115
Should be fixed thanks to Davide's patch: e7579d5d5b32 ("net: mptcp: cap forward allocation to 1M") in both -net and net-next.

[2021-01-14 16:25] cpaasch commented on #127
Closing as it is a dupe.

[2021-01-14 16:25] #127 closed, assigned to nobody

[2021-01-14 16:32] cpaasch commented on #115
Yes, can't trigger it anymore.

[2021-01-14 17:03] pabeni commented on #126
@cpaasch: on current export branch this one should at least trigger a different back-trace and possibly could be fixed, could you still reproduce it?

[2021-01-14 17:03] matttbe commented on #115
Great, thank you both!

[2021-01-14 17:03] #115 closed, assigned to nobody

[2021-01-14 19:04] cpaasch opened #135 "[syzkaller] WARNING in __mptcp_destroy_sock"
[code]

HEAD:
0ba8e381319a ("mptcp: fix locking in mptcp_disconnect()")  (HEAD) (3 hours ago) <Paolo Abeni>
2231a14a0d42 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20210114T060000, mptcp_net-next/export) (13 hours ago) <Matthieu Baerts>
bdb95de71fe6 ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (13 hours ago) <Matthieu Baerts>
37e13d6e5600 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan

[2021-01-14 19:05] matttbe commented on #123
Fixed thanks to Paolo's patches!

- 19c774f1761a: mptcp: always graft subflow socket to parent
- 3d489e89a9d6: mptcp: re-enable sndbuf autotune
- b8a4e1a17113: mptcp: do not queue excessive data on subflows
- 2e4cfdb68e07: mptcp: schedule work for better snd subflow selection
- Results: 591445962c81..bdff08d2ce0e

[2021-01-14 19:05] #123 closed, assigned to pabeni

[2021-01-14 19:07] cpaasch opened #136 "[syzkaller] WARNING in sk_stream_kill_queues"
Similar/same to #115 but I couldn't repro that one with the existing reproducer. So, opening a new issue. @dcaratti

[code]

HEAD:
0ba8e381319a ("mptcp: fix locking in mptcp_disconnect()")  (HEAD) (3 hours ago) <Paolo Abeni>
2231a14a0d42 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20210114T060000, mptcp_net-next/export) (13 hours ago) <Matthieu Baerts>
bdb95de71fe6 ("DO-NOT-MERGE: mp

[2021-01-14 20:49] cpaasch commented on #126
Not happening right now. If I see it again, I will update you here.

[2021-01-15 11:09] #122 closed, assigned to geliangtang

[2021-01-15 11:15] matttbe commented on #126
Thx for having tested!

I suggest to close this ticket, feel free to re-open it if needed.

[2021-01-15 14:05] matttbe opened #137 "selftests: simult_flows.sh: unbalanced bwidth tests are unstable"
I noticed that after having applied 13a9499e8333 ("mptcp: fix locking in mptcp_disconnect()") my CI reports instabilities with simult_flows.sh selftests with `unbalanced bwidth` tests, e.g.:
- `unbalanced bwidth, unbalanced delay`
- `unbalanced bwidth with opposed, unbalanced delay`
- `unbalanced bwidth with opposed, unbalanced delay - reverse direction`

Mainly with the last one with both debug a

[2021-01-16 11:06] #19 closed, assigned to geliangtang

[2021-01-16 11:17] matttbe commented on #54
I just checked two items of the checklist above:

- [x] Kernel: send ADD_ADDR with port support + accept new subflow on this different port if OK
- [x] Kernel: selftests

Thanks to new patches from Geliang now in the repo:

- 439600160048: mptcp: create the listening socket for new port
- 3122c6542e4f: mptcp: drop unused skb in subflow_token_join_request
- 9dfc9b337d4f: mptcp: add a new helper sub

[2021-01-17 09:08] matttbe opened #138 "mptcp_join.sh: WARNING: possible recursive locking detected"
With a [debug kernel](https://github.com/multipath-tcp/mptcp_net-next/blob/scripts/ci/virtme.sh#L26), I get this warning when executing `mptcp_join.sh` tests:

[code]

It looks like it was introduced by ADD_ADDR: ports support (allowing incoming connections on a different port) series.

- 439600160048: mptcp: create the listening socket for new port
- 3122c6542e4f: mptcp: drop unused skb in subflo

[2021-01-19 06:41] geliangtang commented on #138
@pabeni

Hi Paolo,

Thanks for your advice for this issue. I tried the two solutions you mentioned yesterday, they all works well.

This is the patch for the first solution, adding nested annotation:

---

[code]

---

And this is the patch for the second solution, changing the lockdep class:

---

[code]

---

I think the first one is better, and I had sent it to the ML. Please review it for me.

[2021-01-19 09:30] geliangtang commented on #138
Hi Paolo,

Here is the third patch for skipping lsk in mptcp_subflow_process_delegated:

---

[code]
---

[2021-01-19 19:45] matttbe commented on #138
Fixed thanks to @pabeni 's patch: 870abbfb3a63: "squashed" in "mptcp: implement delegated actions"
Thanks @geliangtang for having tried the different solutions!

[2021-01-19 19:45] #138 closed, assigned to geliangtang

[2021-01-19 19:52] matttbe opened #139 "selftests: mptcp_join.sh: ADD_ADDR timeout issue"
As reported by @mjmartineau and my CI but also confirmed by @geliangtang, ADD_ADDR timeout test can be unstable:

[code]

@geliangtang is already looking at that but easier to track this with a ticket.

[2021-01-20 07:34] geliangtang opened #140 "RM_ADDR: remove a list of addresses"
In RFC 8684 3.4.2, REMOVE_ADDR option can remove not only a previously added address, but also a list of addresses:

[code]

In our implementation, only one single address is supported, removing a list of addresses need to be implemented.

[2021-01-20 10:00] pabeni commented on #129
implemented with:

"mptcp: always graft subflow socket to parent"

[2021-01-20 10:00] #129 closed, assigned to nobody

[2021-01-20 10:08] pabeni commented on #135
this looks like a dup of #136: same calltrace and warning triggered by the same [bad] status (leaked forward memory, likely due to leaked or corrupted rmem_released)

[2021-01-20 10:24] pabeni opened #141 "avoid acquiring mptcp_data_lock() twice in the receive path"
processing MPTCP data packets carrying a DSS ack require the acquisition of the mptcp_data_lock() twice:
* the first one in mptcp_incoming_options(), when processing the DSS ack, to cleanup the send queue and ev. push the pending data
* the second one in subflow_data_ready() to enqueue the ingress data inside the msk receive queue.

Performing both operation at subflow_data_ready() time - for data

[2021-01-21 16:30] cpaasch commented on #119
No more seen for a while. Let's close it in a week.

[2021-01-21 16:34] cpaasch commented on #130
Last seen on 01/14/2021. Keeping open for now.

[2021-01-21 16:35] cpaasch commented on #125
Last seen on 01/14/2021 - Keeping open for now.

[2021-01-22 17:46] cpaasch commented on #136
@pabeni : Here is the additional logging:

[code]

HEAD is:
368136a629e9 ("some more debugging in sk_stream_kill_queues")  (HEAD) (25 hours ago) <Christoph Paasch>
e593f49c374a ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20210121T064902, mptcp_net-next/export) (35 hours ago) <Matthieu Baerts>
5867bf94a556 ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (35 hours ago) <Matthieu Baerts>
e

[2021-01-22 19:40] #139 closed, assigned to geliangtang

[2021-01-23 09:16] matttbe opened #142 "packetdrill: support injecting ADD_ADDR echo bit"
Packetdrill currently segfaults with this line:

[code]

While parsing one is OK.
To respect the RFC, the receiver should ACK the ADD_ADDR by re-sending it without the hmac but an echo bit set.

[2021-01-23 10:12] matttbe opened #143 "Packetdrill: ADD_ADDR for v6 only socket should only contain v6 addresses"
For the moment, some scripts in fastclose and mp_join folders are not launched in v6 only because the names are suffixed with `v4`. So only v4 and v4mapped tests are launched.

But these tests don't pass in v6 because the script tries to send a v4 address in the ADD_ADDR message while the socket is in v6 only so we should only have v6 addresses there.

[2021-01-23 10:15] matttbe opened #144 "Packetdrill: ADD_ADDR are now sent sooner"
Due to the modifications for #139, ADD_ADDR are now sent sooner but this causes issues in Packetdrill where we still expect ADD_ADDR to come later.

[2021-01-25 09:55] matttbe commented on #137
FYI: this week-end, there were two builds which were unstable because `simult_flows.sh` reported these errors:

[code]

Both with a debug kernel. Without the debug kernel, everything was OK, e.g.

[code]

[code]

[2021-01-26 18:31] pabeni commented on #136
So it looks like we have a left-over packet somewhere... but I can't find any possible left-over/race by code inspection.
@cpaasch: could you please add a similar debug patch for __mptcp_destroy_sock() to dump rmem_released/wmem_reserved?

[2021-01-27 10:00] #144 closed, assigned to matttbe

[2021-01-27 10:16] matttbe commented on #94
My CI didn't report issues about that for a bit of time, I guess we can close this.

Thx for your work!

[2021-01-27 10:16] #94 closed, assigned to dcaratti

[2021-01-27 17:18] pabeni opened #145 "EADDRINUSE even if SO_REUSEADDR is set"
The following sequence:

[code]
leads to a bind error (EADDRINUSE) while executing the listener the 2nd time, even if it correctly sets the SO_REUSEADDR socket option.
if the client uses a plain TCP connection, there are no bind error.
The problem is (apparently) that the TCP subflow created by the incoming connection is left in a TIME-WAIT state after the client closes the connection, while a pla

[2021-01-28 11:33] matttbe commented on #136
Could it be linked to https://lkml.org/lkml/2020/11/30/120 ? With a patch here: https://lkml.org/lkml/2020/12/10/1025
But the patch is not in net-next from what I see.

[2021-01-28 16:10] pabeni opened #146 "DATA_FIN is not retransmitted on timeout"
currently we don't have any code in place to check for DATA_FIN timeout and retransmit.

[2021-01-28 16:32] cpaasch commented on #130
Closing.

[2021-01-28 16:32] cpaasch commented on #125
Closing.

[2021-01-28 17:39] matttbe commented on #51
Assigning to @dcaratti as well for the Packetdrill part ;-)
Thanks for that!

[2021-01-28 18:32] cpaasch commented on #136
We have a reproducer!!!

[code]

[2021-01-28 18:35] cpaasch commented on #126
Reopening...

HEAD is at:
b4875a2a7e4a ("some more debugging in sk_stream_kill_queues")  (HEAD) (67 minutes ago) <Christoph Paasch>
70856533a4d9 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20210128T064336, mptcp_net-next/export) (12 hours ago) <Matthieu Baerts>
a475850233b6 ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (12 hours ago) <Matthieu Baerts>
489c73c74130 ("DO-NOT-MERGE: mptc

[2021-01-28 19:55] cpaasch commented on #126
Actually - no ! This is the same as sk_stream_kill_queues...

[2021-01-28 21:50] cpaasch commented on #135
Yep, dupe.

[2021-01-28 21:50] #135 closed, assigned to nobody

[2021-01-28 21:50] cpaasch commented on #136
And... with Eric's patch, the syzkaller does not trigger anymore.

[2021-01-29 15:40] matttbe commented on #136
@cpaasch thank you for having tested!

Is it OK to close this ticket or do you prefer to wait for Eric patch landing in the net-next tree?
I can also add his patch in our tree, maybe easier.

Could you eventually reply with a "Tested-by" to Eric if you don't mind? :)
https://lore.kernel.org/netdev/CANn89i+2mAu_srdvefKLDY23HvrbOG1aMfj5uwvk6tYZ9uBtMA@mail.gmail.com/

[2021-01-29 17:29] pabeni commented on #145
my bad, the problem only show on an unmentioned linux distro backporting MPTCP features on "older" kernel...

[2021-01-29 17:29] #145 closed, assigned to pabeni

[2021-02-01 09:28] matttbe opened #147 "copyfd_io_poll: poll timed out: race/bug with poll wakeup"
More regularly now, my CI is reporting issues with  `copyfd_io_poll: poll timed out`.

It is generally when starting the first selftests:

[code]

But not always.

I get them more regularly now but not all the time. Here are some logs from August, grepping for `copyfd_io_poll` and `Could not even run loopback`:

[code]

[2021-02-01 09:34] matttbe opened #148 "SYNRX: MPTCP -> MPTCP: expect x, got y"
When looking at other logs, I recently found this message:

  SYNRX: MPTCP -> MPTCP: expect 11, got 13

This comes from a commit fed61c4b584c ("selftests: mptcp: make 2nd net namespace use tcp syn cookies unconditionally") cc: @fw-strlen

But is it normal that we only print something but we don't mark the test as failed if the counters are not the ones we expect? :)

It is not new:

[code]

(but n

[2021-02-01 09:48] pabeni commented on #147
Here the client completely spooled its file and the serve completely acked it. The server instead only send part of its file (4526163  bytes out of 5486620). Anyway the spooled amount of data was completely acked from the other end. Looks like the server missed a wake-up while writing for available write space in poll(). Most likely a bug in the poll() implementation and/or in the subflow wake-up

[2021-02-01 10:56] matttbe opened #149 "iproute2: ss wrongly reports MPTCP sockets for kernel 5.7 → 5.9"
When looking on the output of `ss` on a server having `iproute 5.10` but a kernel 5.8, I noticed that all TCP connections were marked as TCP and MPTCP ones:

[code]

I was thinking: oh great, some apps are using MPTCP! But no :-/

I looked at how to avoid this behaviour but I don't know how to do that properly. In the code, we could add a check for MPTCP and something else but except if we are all

[2021-02-01 16:45] cpaasch commented on #126
Reopening - it is still happening, even after I apply Eric's patch.

[code]

e667aa91249d ("Eric's fix")  (HEAD) (4 days ago) <Christoph Paasch>
b4875a2a7e4a ("some more debugging in sk_stream_kill_queues")  (4 days ago) <Christoph Paasch>
70856533a4d9 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20210128T064336, mptcp_net-next/export) (4 days ago) <Matthieu Baerts>
a475850233b6 ("DO-

[2021-02-01 16:48] cpaasch commented on #136
It has just been posted: https://patchwork.kernel.org/project/netdevbpf/patch/20210201160420.2826895-1-elver@google.com/

[2021-02-02 09:52] geliangtang commented on #131
As Paolo suggested, we should add the tracepoints at "the packet scheduler and the mapping status" first.

In get_mapping_status, the tracepoint should be enough to get the full mapping info, in case of no error
and the complete error reason elsewhere.

In mptcp_subflow_get_send, the tracepoint should be enough to understand the packet scheduler decision.

[2021-02-02 16:56] cpaasch commented on #136
Actually, no! The problem still happened! It just took syzkaller a few days to find it...

[2021-02-03 00:34] cpaasch commented on #125
It came back!
[code]

HEAD is at:
d82d76887ec6 ("mptcp: fix spurious retransmissions")  (HEAD) (8 hours ago) <Paolo Abeni>
9c23f272d8c2 ("Eric's fix")  (8 hours ago) <Christoph Paasch>
e2fe9491e272 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20210202T061758, mptcp_net-next/export) (18 hours ago) <Matthieu Baerts>
13b4d63ddf90 ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (18 hours ago

[2021-02-03 00:34] cpaasch commented on #126
Still happening on:

d82d76887ec6 ("mptcp: fix spurious retransmissions")  (HEAD) (8 hours ago) <Paolo Abeni>
9c23f272d8c2 ("Eric's fix")  (8 hours ago) <Christoph Paasch>
e2fe9491e272 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20210202T061758, mptcp_net-next/export) (18 hours ago) <Matthieu Baerts>
13b4d63ddf90 ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (18 hours ago) <Matthieu B

[2021-02-03 00:35] cpaasch commented on #130
Came back as well...

[code]

d82d76887ec6 ("mptcp: fix spurious retransmissions")  (HEAD) (8 hours ago) <Paolo Abeni>
9c23f272d8c2 ("Eric's fix")  (8 hours ago) <Christoph Paasch>
e2fe9491e272 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20210202T061758, mptcp_net-next/export) (18 hours ago) <Matthieu Baerts>
13b4d63ddf90 ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (18 hours ago) <M

[2021-02-03 12:37] pabeni opened #150 "remove completely workqueue usage"
currently we call into the worker for most control plane activities, e.g. send DATA_FIN, DATA_FIN ack, MP_PRIO, ADD_ADDR or recv/process fastclose, DATA_FIN, DATA_FIN ack, send.

The worker is currently in place to allow msk and [other] ssk lock acquisition from bh context. We could leverage the delegate actions to avoid calling into the workqueue, similar to what we currently do in __mptcp_check_

[2021-02-03 18:50] matttbe commented on #147
@pabeni : here is the output with more details collected by `ss`

[code]

[2021-02-04 03:01] geliangtang opened #151 "Only 1 ADD_ADDR has been sent when signalling multi invalid addresses"
Here is the test case for signalling multi invalid addresses:

         # signal invalid addresses
         reset
         ip netns exec $ns1 ./pm_nl_ctl limits 3 3
         ip netns exec $ns1 ./pm_nl_ctl add 10.0.12.1 flags signal
         ip netns exec $ns1 ./pm_nl_ctl add 10.0.13.1 flags signal
         ip netns exec $ns1 ./pm_nl_ctl add 10.0.14.1 flags signal
         ip netns exec $ns2 ./pm_n

[2021-02-04 03:05] geliangtang commented on #151
@pabeni  Here is Paolo's suggestions for this issue:

---

I think the "correct" behaviour would be announcing 3 addresses. Setting and maintaining correct list of addresses is up to the user-space/path-manger.

The kernel could teorerically watch out for local IP address changes, but even announcing only IPs that are locally available would not guarantee the related subflow to be established - fo

[2021-02-04 16:49] mjmartineau commented on #146
Request from @pabeni: Look at using delegated actions instead of workqueue

[2021-02-05 14:48] pabeni opened #152 "mptcp_release_cb is racy"
The schema currently implemented to process MPTCP_PUSH_PENDING event via mptcp_release_cb() is racy.

If a subflow sets MPTCP_PUSH_PENDING while the msk is processing a previous MPTCP_PUSH_PENDING event - that is, while in mptcp_release_cb() with the msk socket spinlock released, the latter event will be lost - delayed to the next release_sock(msk).

There are 2 possible ways out:
- moving back to

[2021-02-05 20:15] matttbe commented on #147
@pabeni : here is the new issue with more debug, I would that helps :)

[code]

[2021-02-06 11:46] matttbe commented on #149
Related to the last meeting:

The protocol in the reply is not set (`tb[INET_DIAG_PROTOCOL]`) and in 8-bit anyway

Nothing new related to MPTCP in `/proc`. There is a new sysctl but in 5.11 :-/

Any other idea? :)

[2021-02-06 11:48] matttbe commented on #148
From the last meeting: If y > x, it's certainly OK → retransmission?

We should certainly update the message (to say it can happen). But print it on the next line!
Mark the test as failed if it is lower than expected.

[2021-02-06 11:52] matttbe commented on #130
Should be fixed by a patch from @pabeni , see the ML

[2021-02-06 11:52] matttbe commented on #125
Should be fixed by a patch from @pabeni , see the ML

[2021-02-08 16:20] cpaasch commented on #130
Yes - closing.

[2021-02-08 16:20] #130 closed, assigned to pabeni

[2021-02-08 16:20] cpaasch commented on #125
Yes - closing.

[2021-02-08 16:20] #125 closed, assigned to pabeni

[2021-02-08 16:23] cpaasch opened #153 "[syzkaller] WARNING: refcount bug in mptcp_incoming_options"
[code]

HEAD:
f4cf537c3f63 ("mptcp: init mptcp request socket earlier")  (HEAD) (5 days ago) <Paolo Abeni>
10f1569c7d9b ("mptcp: fix spurious retransmissions")  (5 days ago) <Paolo Abeni>
92eab0bc98bc ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20210203T131132, mptcp_net-next/export) (5 days ago) <Matthieu Baerts>
6cf73008bc8e ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (5 days ago)

[2021-02-08 19:31] matttbe commented on #126
Should be fixed thanks to a new patch from Paolo: f880caea34bf: mptcp: fix spurious retransmissions

[2021-02-08 19:31] #126 closed, assigned to pabeni, dcaratti

[2021-02-08 19:36] matttbe commented on #130
Patch ref: 2195b4539cdb: mptcp: init mptcp request socket earlier

[2021-02-08 19:36] matttbe commented on #125
Patch ref: 2195b4539cdb: mptcp: init mptcp request socket earlier

[2021-02-08 19:38] matttbe commented on #147
Should be fixed thanks to this patch from @pabeni: 773725f66d5c: mptcp: add a missing retransmission timer scheduling

[2021-02-08 19:38] #147 closed, assigned to pabeni

[2021-02-08 19:41] matttbe opened #154 "selftests: mptcp_connect: file received by client does not match"
This takes a few attempts and is visible after having applied https://patchwork.ozlabs.org/project/mptcp/list/?series=228232&state=%2A&archive=both

[code]

[2021-02-08 19:41] matttbe commented on #154
@pabeni is already working on it :)

[2021-02-08 19:42] matttbe commented on #154
Linked to #147

[2021-02-09 15:42] pabeni commented on #153
This is:
          if (mp_opt.data_fin && mp_opt.data_len == 1 &&
                    mptcp_update_rcv_data_fin(msk, mp_opt.data_seq, mp_opt.dsn64) &&
                    schedule_work(&msk->work))
                        sock_hold(subflow->conn);
//                     ^^^^^^^^^ here

The subflow is _not_ in CLOSED, SYN_SENT or SYN_RECV state, because the caller is tcp_rcv_state_process():

[2021-02-09 17:37] cpaasch commented on #153
No, no reproducer yet

[2021-02-09 17:42] cpaasch commented on #136
Reproducer:

[code]

HEAD:
af8e85128b4d ("Revert "DO-NOT-MERGE: mptcp: use kmalloc on kasan build"")  (25 hours ago) <Christoph Paasch>
4a71543af897 ("mptcp: init mptcp request socket earlier")  (25 hours ago) <Paolo Abeni>
87ccece4131d ("mptcp: fix spurious retransmissions")  (25 hours ago) <Paolo Abeni>
a15e2853f271 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20210207T062839) (2 da

[2021-02-09 17:47] cpaasch opened #155 "[syzkaller] BUG: unable to handle kernel NULL pointer dereference in mptcp_subflow_get_send"
[code]

HEAD:
af8e85128b4d ("Revert "DO-NOT-MERGE: mptcp: use kmalloc on kasan build"")  (25 hours ago) <Christoph Paasch>
4a71543af897 ("mptcp: init mptcp request socket earlier")  (25 hours ago) <Paolo Abeni>
87ccece4131d ("mptcp: fix spurious retransmissions")  (25 hours ago) <Paolo Abeni>
a15e2853f271 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20210207T062839) (2 days ago) <Matt

[2021-02-09 17:48] cpaasch opened #156 "[syzkaller] WARNING: refcount bug in __tcp_transmit_skb"
[code]

HEAD:
af8e85128b4d ("Revert "DO-NOT-MERGE: mptcp: use kmalloc on kasan build"")  (25 hours ago) <Christoph Paasch>
4a71543af897 ("mptcp: init mptcp request socket earlier")  (25 hours ago) <Paolo Abeni>
87ccece4131d ("mptcp: fix spurious retransmissions")  (25 hours ago) <Paolo Abeni>
a15e2853f271 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20210207T062839) (2 days ago) <Matt

[2021-02-09 17:49] cpaasch opened #157 "[syzkaller] WARNING in dst_release"
[code]

HEAD:
af8e85128b4d ("Revert "DO-NOT-MERGE: mptcp: use kmalloc on kasan build"")  (25 hours ago) <Christoph Paasch>
4a71543af897 ("mptcp: init mptcp request socket earlier")  (25 hours ago) <Paolo Abeni>
87ccece4131d ("mptcp: fix spurious retransmissions")  (25 hours ago) <Paolo Abeni>
a15e2853f271 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20210207T062839) (2 days ago) <Matt

[2021-02-10 14:26] matttbe commented on #154
I can no longer reproduce this one thanks to Florian's patch: https://patchwork.ozlabs.org/project/mptcp/patch/20210210124708.11899-1-fw@strlen.de/

[2021-02-10 19:07] matttbe commented on #154
Fixed thanks to Florian's patch:
- 0629948c0ae6: squashto: mptcp: schedule worker when subflow is closed

[2021-02-10 19:07] #154 closed, assigned to pabeni, fw-strlen

[2021-02-10 20:57] #148 closed, assigned to matttbe

[2021-02-10 23:25] fw-strlen commented on #157
Looks like this happens when mptcp worker closes the ssk that is also msk->subflow (and msk->first).
2nd mptcp_bind re-uses this subflow sk, but its already been zapped.

Hack (add in __mptcp_close_ssk):
        if (mptcp_sk(sk)->subflow) {
                struct socket *sock = mptcp_sk(sk)->subflow;

                if (sock->sk == ssk) {
                        iput(SOCK_INODE(mptcp_sk(sk)->subf

[2021-02-11 01:38] mjmartineau commented on #147
I realize this is closed already - but it also showed up once in kbuild before the patch was merged. Will watch to see if it shows up again.

[2021-02-11 10:57] pabeni commented on #157
Good catch! As a fix, I think we should just zap msk->subflow in __mptcp_close_ssk(): either the peer or the local PM should be able to close the first subflow.

Side note: I think there could be similar problems while accessing msk->first, but there the fix would be a little more complex    due to mptcp_stream_accept() unconditionally dereferencing msk->first.

[2021-02-11 14:07] dcaratti commented on #112
I still see sporadic failures in the "flush", but I see them independently from whether I keep commit 4a41f453bedf reverted or not. Hence, the issue can be considered a dup of #139

[2021-02-11 14:07] #112 closed, assigned to dcaratti

[2021-02-11 14:39] matttbe opened #158 "iproute2: change backup mode (MP_PRIO) for active connections"
Issue #51 added `MP_PRIO` support but this support cannot be validated with the current version of iproute2.

With iproute2, you can interact with MPTCP PM to add and remove addresses with different properties. But you cannot change these properties for active addresses. The idea would be to support `ip mptcp endpoint change ADDRESS backup [on/off]` or similar.

Once this support is added, emittin

[2021-02-11 14:40] matttbe commented on #51
iproute2 support has been moved to a new issue: #158
We can then close this one.

[2021-02-11 14:40] #51 closed, assigned to geliangtang, dcaratti

[2021-02-11 15:36] matttbe commented on #140
Thank you @geliangtang for your work!

This is now in our tree!

- 1c96937632b9: mptcp: add rm_list in mptcp_out_options
- 3fdf49c516da: mptcp: add rm_list_tx in mptcp_pm_data
- 7aee779e6946: mptcp: add rm_list in mptcp_options_received
- 3edb9adea339: mptcp: add rm_list_rx in mptcp_pm_data
- 6eed48ec95a3: mptcp: remove multi addresses in PM
- b2144a3313f8: mptcp: remove multi subflows in PM
- 125

[2021-02-11 16:18] pabeni commented on #152
fixed with:

"mptcp: fix race in release_cb"

[2021-02-11 16:18] #152 closed, assigned to pabeni

[2021-02-11 16:19] cpaasch opened #159 "[syzkaller] WARNING in __mptcp_destroy_sock"
[code]

HEAD is at:

5ce77aab7f35 ("some more debugging in sk_stream_kill_queues")  (HEAD) (28 minutes ago) <Christoph Paasch>
38e1c25c430e ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20210211T104216, mptcp_net-next/export) (6 hours ago) <Matthieu Baerts>
258dd4a0f0b7 ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (6 hours ago) <Matthieu Baerts>
529b2ece2b47 ("DO-NOT-MERGE: mptcp: use

[2021-02-11 16:21] cpaasch commented on #159
Reproducer:

[code]

[2021-02-11 16:30] cpaasch commented on #159
C-repro:

[code]

[2021-02-11 18:02] cpaasch commented on #159
False positive.

[2021-02-11 18:02] #159 closed, assigned to nobody

[2021-02-12 13:31] matttbe opened #160 "`./mptcp_connect.sh -m mmap` test blocks"
My CI reported a timeout today with `mptcp_connect.sh -m mmap`:

[code]

I tried to reproduce with my CI but I was not able to. It was without a debug kernel.

[2021-02-12 18:28] #155 closed, assigned to fw-strlen

[2021-02-12 18:28] #157 closed, assigned to fw-strlen

[2021-02-15 13:50] fw-strlen commented on #136
Failed to reproduce this in ~30k iterations on  ee378cef2b4ccfbb96b113026b71443c670219ab (tag: export/20210214T063313)

[2021-02-15 19:27] matttbe commented on #149
As discussed at the last meeting: probably OK not to do anything. Affect non LTS version, no non ugly solution and typically, Linux distributions have iproute2 <= kernel version

[2021-02-15 19:27] #149 closed, assigned to matttbe

[2021-02-15 19:28] matttbe commented on #60
Validated by @ossama-othman and these patches are now in net-next!

[2021-02-15 19:28] #60 closed, assigned to fw-strlen

[2021-02-15 20:02] #110 closed, assigned to fw-strlen

[2021-02-17 10:51] pabeni opened #161 "glib support for IPPROTO_MPTCP"
most application just pull netinet/in.h, which is provided by glibc. We need a patch there to define the MPTCP protocol value

[2021-02-17 11:24] pabeni opened #162 "sendmsg()/recvmsg() fail when an unknown MSG_* flag argument is provided"
e.g.

recvmsg(10, {msg_namelen=0}, MSG_CMSG_CLOEXEC) = -1 EOPNOTSUPP

plain TCP just ignore unknown MSG_* flag, as in the above example.

[2021-02-17 11:27] pabeni opened #163 "allow ss dumping msk socket in TCP_LISTEN status"
currently we see only sockets with a valid token, which is created at connect() or at syn reception time. LISTEN sockets are just unobservable with 'ss'

[2021-02-17 11:32] pabeni commented on #161
Actually already done by:

commit f9ac84f92f151e07586c55e14ed628d493a5929d
Author: Joseph Myers <joseph@codesourcery.com>
Date:   Fri Apr 3 18:08:28 2020 +0000

    Add IPPROTO_ETHERNET and IPPROTO_MPTCP from Linux 5.6 to netinet/in.h.

some notorious distro just need to backport the above

[2021-02-17 11:32] #161 closed, assigned to nobody

[2021-02-17 18:13] dcaratti commented on #142
the support for echo bit is in there; anyway the segfault happens because address id is unassigned, and the inbound parser tries to "guess"  it from the IP address contained in the "echoed" ADD_ADDR:
[code]

[2021-02-17 18:32] pabeni opened #164 "unexpected poll() wakeup on incoming MP_JOIN"
when an incoming MP_JOIN handshake is completed, the listener socket receives a poll() wake-up (the listener socket is marked as readable).

[2021-02-18 01:40] mjmartineau opened #165 "Intermittent copyfd_io_poll: poll timed out in mptcp_join.sh"
kbuild is showing an intermittent error in mptcp_join.sh, with the 'multiple subflows and signal' test:

[code]

This has "copyfd_io_poll: poll timed out" like #147, but the sockets are in different states and this is with mptcp_join.sh rather than mptcp_connect.sh. I haven't reproduced this locally to see why both sockets have data in their send-qs.

[2021-02-18 08:34] geliangtang commented on #140
@matttbe @dcaratti I think we should add RM_ADDR support in packetdrill. If you have time to add this, I'd appreciate it.

[2021-02-18 08:55] dcaratti commented on #140
hi Geliang,

I'm about to add a couple of tests, covering single `RM_ADDR` with / without 'port' and multiple `RM_ADDR`. Stay tuned :-)

[2021-02-18 14:46] matttbe opened #166 "iproute2: ADD_ADDR: ports support"
The kernel support announcing ADD_ADDR on a different port and even receiving them (+ receiving MP_JOIN on a different port) thanks to the work done on #54.

But from the userspace, it is not easy to do that without a support in iproute2.

The idea would be to do something like:

[code]

[2021-02-18 15:46] matttbe commented on #160
Note: as suggested by @pabeni I tried to use `SO_SNDTIMEO` but I still have timeouts:

[code]

**EDIT**: now with `SO_SNDTIMEO` on the fd received from the `accept()`

[2021-02-18 16:06] pabeni commented on #165
is this a dbg build? do you know the relevant kernel config?

[2021-02-18 18:24] mjmartineau commented on #165
The kernel config isn't copied to the build artifacts - I'll ask the kbuild team to start doing that, and see if they can provide a copy some other way. I will probably get a response before the end of (my) day.

What I can see now is that they copy a 'kconfig/x86_64-rhel-8.3' file to .config, and then run 'make olddefconfig' on our export branch. Not sure if that is the stock RHEL config or a mod

[2021-02-18 18:37] pabeni commented on #160
I managed to reproduce it locally (after 120 iterations :(((():

[code]

Dumping the sk status:

[code]
The test is lossy, and one side completely spooled the data, and is waiting for DATA_FIN ack (mptcp status is FIN-WAIT-1). Looks like DATA_FIN or DATA FIN ack has been lost, and never re-transmitted. That is possible since we never retranmit data_fin//data_fin ack and the mmap transfer is monodi

[2021-02-19 02:08] mjmartineau commented on #165
Here's the .config:

[kbuild-config-5.11.0-rc7-02074-gb118cc0dfad9.txt](https://github.com/multipath-tcp/mptcp_net-next/files/6007156/kbuild-config-5.11.0-rc7-02074-gb118cc0dfad9.txt)

[2021-02-19 10:12] pabeni commented on #165
note to self: "desktop" config:

no KASAN, no KMEMLEAK,
PREEMPT=y
PREEMPT_RCU=y

[2021-02-19 16:30] cpaasch commented on #136
Still happening... :-/

HEAD:
b118cc0dfad9 ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20210218T061505, mptcp_net-next/export) (34 hours ago) <Matthieu Baerts>
afb39359cfee ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (34 hours ago) <Matthieu Baerts>
fb66148f9fc7 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (34 hours ago) <Paolo Abeni>
ab09cf34d769 ("selftests: mptcp: a

[2021-02-19 16:43] cpaasch commented on #136
I am able to reproduce with the C-prog.

[2021-02-20 02:32] geliangtang commented on #151
Mat's comment:

---

Before we close #151, what happens if the peer does not send echoes or echoes are lost? Should there be another patch to also call mptcp_pm_create_subflow_or_signal_addr when an ADD_ADDR has been retransmitted the maximum number of times?

---

[2021-02-20 02:43] geliangtang commented on #140
TODO: rm_addr with id 0

Here's the comments about rm_addr with id 0:

---

Id 0 is still not supported in this removing address version, since we only use this code to shutdown and close the subsocket in mptcp_pm_nl_rm_addr_received/mptcp_pm_nl_rm_subflow_received:

    mptcp_subflow_shutdown(sk, ssk, how);
    mptcp_close_ssk(sk, ssk, subflow);

It's problematic to use them to shutdown and close

[2021-02-20 11:01] matttbe commented on #166
Patch has been already sent to netdev: https://patchwork.kernel.org/project/netdevbpf/patch/868cfad6ab2fbd7f4b2ac6522b3ec62fce858fed.1613767061.git.pabeni@redhat.com/

[2021-02-23 08:14] #136 closed, assigned to nobody

[2021-02-23 08:14] #164 closed, assigned to pabeni

[2021-02-23 09:25] dcaratti opened #167 "packetdrill: add coverage for RM_ADDR"
- validation of inbound / outbound RM_ADDR
- check functional compliance to RFC8684 §3.4.2

[2021-02-23 09:29] matttbe commented on #165
My CI just reported the same issue with a debug kernel:

[code]

Debug kernel means having these config enabled:
[code]

[2021-02-23 13:58] matttbe commented on #165
Here is the same error but now with more details (nstat + more options with ss) asked by @pabeni :

[code]

[2021-02-23 15:29] matttbe commented on #160
@pabeni: thank you for the analysis!

Indeed, it looks like it is easier to reproduce with `./mptcp_connect.sh -m mmap -f 1 -l 2`
(or a packetdrill)

I guess it is not linked to #137 where we have sockets in `TIME-WAIT`, not `FIN-WAIT-1`.

[2021-02-23 17:01] pabeni commented on #165
The test output is quite misleading: the failing test is actually the next one, that is:

11 multiple flows, signal, link failure

note: you can double check looking at the amount of transferred data, which is 1K in both direction except fot link failure tests, which will use much more data on the client side.

Looks like we are not doing mptcp level retransmissions for some reasons...

[2021-02-24 18:34] cpaasch opened #168 "[syzkaller] WARNING in dst_release"
[code]

HEAD is:
f374f2f1ba83 ("mptcp: fix memory accounting on allocation error")  (HEAD) (5 days ago) <Paolo Abeni>
b118cc0dfad9 ("DO-NOT-MERGE: mptcp: enabled by default")  (tag: export/20210218T061505, mptcp_net-next/export) (7 days ago) <Matthieu Baerts>
afb39359cfee ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (7 days ago) <Matthieu Baerts>
fb66148f9fc7 ("DO-NOT-MERGE: mptcp: use kmalloc on

[2021-02-25 09:12] matttbe opened #169 "packetdrill: add coverage for ADD_ADDR and MP_JOIN on a different port"
* Validation of inbound / outbound ADD_ADDR on a different port
* Validation of inbound / outbound MP_JOIN to this different port

Linked to #54

[2021-02-25 09:14] matttbe commented on #54
The two remaining items are handled in different stories:
- [ ] iproute2 support: see #166
- [ ] Packetdrill (if possible): see #169

We can then close this one.

[2021-02-25 09:14] #54 closed, assigned to geliangtang

[2021-02-25 09:17] matttbe commented on #76
Unassigning myself (in fact more Nicolas) just in case someone else wants to look at it. Nobody here is actively looking at that one for the moment.

[2021-02-25 15:09] #165 closed, assigned to pabeni

[2021-02-25 15:11] matttbe commented on #151
Should be closed thanks to patches from Geliang:

- 4877b4409cd8: mptcp: export lookup_anno_list_by_saddr
- 57e57640c326: mptcp: move to next addr when subflow creation fail
- 608768e00068: selftests: mptcp: signal addresses testcases
- d63677a633cf: mptcp: drop argument port from mptcp_pm_announce_addr
- c7ef42ed2451: mptcp: skip connecting the connected address
- a681ac4046d5: conflict in t/mptc

[2021-02-25 15:11] #151 closed, assigned to geliangtang

[2021-02-25 16:01] matttbe commented on #53
For the kernel code: it is now in our tree:

- 787b0423eb63: mptcp: add mptcp reset option support
- Results: 8a82f6b7cf01..99476ba54610

We can wait for https://github.com/multipath-tcp/packetdrill/pull/45 to close this one

[2021-02-25 16:52] matttbe commented on #53
- [X] Packetdrill code → done with https://github.com/multipath-tcp/packetdrill/pull/45

There are two remaining points: netlink events and wireshark/tcpdump. We can also create other tickets and close this one if it is not planned to work on them ;-)

[2021-02-26 18:56] #160 closed, assigned to matttbe

[2021-02-27 01:25] mjmartineau commented on #140
Running the mp_join.sh tests with the series applied from http://patchwork.ozlabs.org/project/mptcp/list/?series=230623 I don't see the initial subflow being closed early:

[mp_join-08-ns1-0-K3U2Yl.pcap.gz](https://github.com/multipath-tcp/mptcp_net-next/files/6053468/mp_join-08-ns1-0-K3U2Yl.pcap.gz)

If I filter using `tcp.options.mptcp.subtype == 4` to find the RM_ADDRs, the second RM_ADDR is se

[2021-03-01 09:43] pabeni commented on #168
[c&p from IRC]
I think this one shares the same root cause of:
https://marc.info/?l=linux-netdev&m=161358323114502&w=2
If so, should be fixed by:

9b17fa5ec0f4a mptcp: dispose initial struct socket when its subflow is closed

(that is, the current export branch)

@cpaasch: could you please have a spin on current export?

[2021-03-01 14:40] matttbe opened #170 "possible deadlock in ipv6_sock_mc_close"
Hello,

syzbot found the following issue on:

HEAD commit:    eee7ede6 Merge branch 'bnxt_en-error-recovery-bug-fixes'
git tree:       net
console output: https://syzkaller.appspot.com/x/log.txt?x=123ad632d00000
kernel config:  https://syzkaller.appspot.com/x/.config?x=e2d5ba72abae4f14
dashboard link: https://syzkaller.appspot.com/bug?extid=e2fa57709a385e6db10f
syz repro:      https://syzkaller.ap

[2021-03-01 17:20] cpaasch commented on #168
Yes, I am running this branch.

[2021-03-01 17:41] pabeni commented on #170
the complete if in the MPTCP cleanup code path is non trivial:
- we need the msk socket lock to traverse the ssk list, and we need to free mcast data at the ssk level
- we need to handle ssk "early close" due to PM activities.
A simpler fix would be forbit any mcast sockopt on MPTCP sockets.
mcast sockopts are strange on any icsk socket, but the kernel currently allow some of them on stream socket

[2021-03-02 13:26] matttbe commented on #143
In https://github.com/multipath-tcp/packetdrill/commit/8057e7e48395bfd2f075bd876e9ab6db38e17dfb , we have to be in v4 only because of this issue. We don't want to close this one.

[2021-03-03 13:39] matttbe commented on #142
Can be closed thanks to @dcaratti 's modifications there: https://github.com/multipath-tcp/packetdrill/pull/46

[2021-03-03 13:39] #142 closed, assigned to dcaratti

[2021-03-04 12:01] geliangtang commented on #78
@matttbe @fw-strlen Could Florian's commit "mptcp: add netlink event support" close this issue?

[2021-03-04 14:09] matttbe commented on #78
@geliangtang no, this is different I think.

Clearly, we are lacking some description here but if I remember well, the idea was to get a notification via the `fd` without having to subscribe to events of all connections. The userspace could get a poll notification when something subflows are added or removed and it could then get the status with another request (e.g. a new getsockopt)

[2021-03-04 17:18] matttbe commented on #168
From the weekly meeting we just had:
- @cpaasch: Not happening for at least a week
- @pabeni: Should be fixed thanks to a patch from @fw-strlen
- Can be closed then

[2021-03-04 17:18] #168 closed, assigned to nobody

[2021-03-04 17:18] matttbe commented on #156
From the weekly meeting we just had:
- @cpaasch: Not happening for at least a week
- @pabeni: Should be fixed thanks to a patch from @fw-strlen
- Can be closed then

[2021-03-04 17:18] #156 closed, assigned to nobody

[2021-03-04 17:18] matttbe commented on #153
From the weekly meeting we just had:
- @cpaasch: Not happening for at least a week
- @pabeni: Should be fixed thanks to a patch from @fw-strlen
- Can be closed then

[2021-03-04 17:18] #153 closed, assigned to nobody

[2021-03-04 17:19] matttbe commented on #166
Patch has been merged! We can close this ticket.

[2021-03-04 17:19] #166 closed, assigned to pabeni

[2021-03-06 07:48] matttbe opened #171 "iproute2: support removing ID 0"
Removing the ID 0 is a bit special, we need to specify the ADDR: in the same namespace, ID 0 can be linked to different addresses because it depends on the interface/initial source IP.

This is different from the other IDs. So we then need a special case. This modification was already done in the pm utility in the selftests but not in IPRoute2 yet.

Linked to: #140

[2021-03-06 09:27] matttbe commented on #140
We can now close this ticket thanks to the last patches from @geliangtang and reviewed by @mjmartineau :

- efa9a9885fe7: mptcp: remove all subflows involving id 0 address
- e753cdf39596: mptcp: unify RM_ADDR and RM_SUBFLOW receiving
- 01a0acddf9ee: mptcp: remove id 0 address
- 1cfe9d6a9351: selftests: mptcp: add addr argument for del_addr
- 52221e28e3ef: selftests: mptcp: remove id 0 address test

[2021-03-06 09:27] #140 closed, assigned to geliangtang

[2021-03-06 09:28] matttbe commented on #171
Note that the modification should be similar to what @geliangtang did in `pm_nl_ctl.c`, see: 1cfe9d6a9351("selftests: mptcp: add addr argument for del_addr")

[2021-03-11 17:52] matttbe commented on #170
Fixed thanks to patches from Paolo:

- 7c0df94ad1dc: mptcp: move sockopt function into a new file
- ce35fc3cba0b: mptcp: only admit explicitly supported sockopt
- f1726b98fee5: mptcp: revert "mptcp: provide subflow aware release function"
- Results: 917144c5a66a..fd254f313de3

- c42dc5a97662: "squashed" in "mptcp: move sockopt function into a new file"
- Results: fd254f313de3..433f124e57a9

[2021-03-11 17:52] #170 closed, assigned to pabeni

[2021-03-12 09:57] matttbe opened #172 "WARNING in sk_stream_kill_queues"
Today, I'm replacing Christoph in sending bug reports about new warnings reported by the kernel :)

This was spot by my CI when running selftests (mptcp_connect) with the latest export branch and a non debug kernel:

[code]

~Maybe similar to #136 ?~

[2021-03-15 07:43] geliangtang opened #173 ""remove invalid addresses" testcase fail"
Reported by Mat:

---

There was a failure in mptcp_join.sh:

[code]
---

[2021-03-15 08:17] matttbe commented on #173
Thank @geliangtang for having created this ticket!

[2021-03-15 15:37] cpaasch opened #174 "[syzkaller] memory leak in tcp_md5_do_add"
[code]

HEAD:
4dc9bac42277 ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20210226T185626, mptcp_net-next/export) (2 weeks ago) <Matthieu Baerts>
271fd8bbbb68 ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (2 weeks ago) <Matthieu Baerts>
085c6081951b ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (2 weeks ago) <Paolo Abeni>
a36b8de12bfe ("selftests: mptcp: dump more info on mp

[2021-03-15 15:42] matttbe commented on #174
Hi Christoph,

May you retry with the latest export branch please? This is probably fixed by the new sockopt white/allowed list added by Paolo to fix #170
→ - ce35fc3cba0b: mptcp: only admit explicitly supported sockopt

We should not accept MD5 sockopt.

[2021-03-18 15:36] cpaasch commented on #119
No more happening since then. Closing.

[2021-03-18 15:36] #119 closed, assigned to nobody

[2021-03-18 17:14] matttbe commented on #173
Should be fixed thanks to these patches from @geliangtang, thanks!

- 66d562873299: mptcp: drop useless addr_signal clear
- 8c3e5d0c47d0: mptcp: send ack for rm_addr
- 1790775f4e49: mptcp: rename mptcp_pm_nl_add_addr_send_ack
- Results: 1a2847789704..c11e1a8e9572

[2021-03-18 17:14] #173 closed, assigned to geliangtang

[2021-03-20 09:33] matttbe commented on #146
Just to track the frequency, my CI just reported an issue where one socket is in `FIN-WAIT-2`:

[code]

[2021-03-20 09:35] matttbe commented on #137
Just to track the frequency, my CI reported an issue related to this one (I got a few I didn't report)

[code]

Should we be more tolerant with this one?

[2021-03-24 08:49] matttbe opened #175 "[5.10] mptcp: put subflow sock on connect error"
An issue only visible in v5.10 kernel had just been reported on netdev by Naresh Kamboju: https://lore.kernel.org/netdev/CA+G9fYvRM+9DmGuKM0ErDnrYBOmZ6zzmMkrWevMJqOzhejWwZg@mail.gmail.com/T/#u

From Naresh:

I have reported the following warnings and kernel crash on 5.10.26-rc2 [1]
The bisect reported that issue pointing out to this commit.

[code]

This problem is specific to 5.10.26-rc2.

Warnin

[2021-03-24 09:08] matttbe commented on #175
As mentioned by Florian, the commit that is being backported is fixing another that is not in v5.10: 5b950ff4331ddda ("mptcp: link MPC subflow into msk only after accept")

[2021-03-24 09:38] matttbe commented on #175
It was confirmed to be a backport issue.

[2021-03-24 09:38] #175 closed, assigned to nobody

[2021-03-30 09:57] dcaratti commented on #143
server scripts still need to be differentiated between `v4` and `v6`, because outbound ADD_ADDR without port numbers still carry the DSS option, so it's not possible to match them in a generic packetdrill script. Other test cases should pass after fixing the kernel in order to [harmonize outbound addr_echo](https://lore.kernel.org/mptcp/aeb4b7f3044e2f869ae026f950eb70c4398dad63.1616761454.git.dcara

[2021-03-30 13:00] geliangtang opened #176 "BPF selftest got "fallback to TCP" error"
When I ran the bpf mptcp test "./test_progs -n 67", I got a "fallback to TCP" error and a "Attempt to release TCP socket in state 8" error in the kernel log:

[code]

[2021-03-30 13:48] matttbe commented on #143
Thanks for that!

It makes sense to have a `_v4` and a `_v6` even if they are almost the same. We have to follow the protocol (due to TCP Options restrictions). :)
Are you looking at adding these v6 server tests? :)

[2021-03-30 13:56] matttbe commented on #176
See initial discussions on the ML:
- v1: https://patchwork.ozlabs.org/project/mptcp/patch/70cec4a8462feb0ad4771dd1a0d75f3163800059.1615983074.git.geliangtang@gmail.com/
- v2: https://patchwork.ozlabs.org/project/mptcp/patch/9fe955db44222c638db73c3f8446d9d248b8a11c.1616039100.git.geliangtang@gmail.com/

[2021-04-01 15:28] matttbe commented on #174
Christoph didn't see this one with the export branch → Done

[2021-04-01 15:28] #174 closed, assigned to nobody

[2021-04-01 16:08] matttbe commented on #143
From our weekly meeting:

      - For the moment, we need two different scripts for the server part because in v4, DSS is included in the ADD_ADDR, not in v6
      - Davide is looking at the possibility to have MP_JOIN without having to send ADD_ADDR
      - → we could then have dedicated tests just for ADD_ADDR (one for v4, one for v6)
      - → other tests would be unified, without ADD_ADDR → an

[2021-04-01 16:19] pabeni opened #177 "improve retransmit subflow selection"
the goal is re-inject always on "new" subflows. e.g. never re-inject the same data on some subflow already used for that data.

rough idea:

- adding a bitmask in mptcp_data_frag each bit corresponding to a subflow_id
- when transmitting/reinjecting a data_frag on a subflow set the corresponding bit
- in mptcp_get_retrans() skip the subflows with the corresponding subflow_id bit set in mptcp_data_

[2021-04-01 16:23] matttbe commented on #131
Can be closed thanks to these new commits from Geliang:

- 00ed6f03febe: mptcp: export mptcp_subflow_active
- e4421bbffd09: mptcp: add tracepoint in mptcp_subflow_get_send
- 12abe4c31032: mptcp: add tracepoint in get_mapping_status
- 88a550c12ce4: mptcp: add tracepoint in ack_update_msk
- 769badb3d5a3: mptcp: add tracepoint in subflow_check_data_avail
- Results: e245e136bb73..f574fcfd3f60

(one pa

[2021-04-01 16:23] #131 closed, assigned to geliangtang

[2021-04-02 09:26] darkwrat opened #178 "Server hang when proxying over multiple subflows"
I am trying to setup a shadowsocks proxy over a connection with multiple mptcp
subflows, so as to aggregate bandwidth of two of my usb LTE modems at home.
I have NAT'ting middleboxes on both routes. I can successfully download a
single file and clearly see traffic flow with tcpdump on both interfaces. When
I try web surfing over this proxy, the remote vps just hangs. I cannot get a
shell through a

[2021-04-02 21:23] mjmartineau commented on #178
@darkwrat, do you see this with the v5.11 stable kernels from Fedora?

[2021-04-03 06:22] darkwrat commented on #178
Yes, I can reproduce the server hang on 5.11.11-200.fc33.x86_64, but not on 5.10.23-200.fc33.

[2021-04-03 07:05] matttbe commented on #178
Hi @darkwrat

Thank you for this complete bug report!

When your VPS is stuck, is it possible for you to trigger a `sysrq-w`? There are magic keys, maybe you can trigger them remotely? https://unix.stackexchange.com/a/200397

But ideally, it would be nice to generate a kernel crash dump with KDump. I guess there are doc about that on Fedora website but here is already a guide from RedHat: https://

[2021-04-03 07:49] darkwrat commented on #178
No luck getting output from sysrq-w after the freeze so far, sysrq-b works as intended though.
![img](https://hel1.trail5.net/sysrq-w.png)

[2021-04-03 07:53] darkwrat commented on #178
Managed to get a kernel crash dump with sysrq-c, but not with the actual crash (

[2021-04-03 07:55] darkwrat commented on #178
Right, let's forget about the list corruption in the scope of this one. I will create a separate one once I have more details.

[2021-04-03 08:30] darkwrat commented on #178
So I've put it together and crashed the system with sysrq-c after the hang. Here is the dump, hope it's of some value. https://hel1.trail5.net/crash-sysrq-c.tar.gz

[2021-04-03 10:12] darkwrat commented on #178
And one more with sysrq-w before sysrq-c. https://hel1.trail5.net/crash-sysrq-w-c.tar.gz

[2021-04-04 08:12] darkwrat commented on #178
I have managed to run decode_stacktrace on the dmesg output from the crash-sysrq-w-c file above, hope it saves some time.

<details>
<summary>Decoded stacktraces</summary>
<p>

[code]

</p>
</details>

[2021-04-05 07:40] darkwrat commented on #178
@matttbe Hi, I have collected the data you requested. Do you still think we should split the issue? As dmesg outputs indicate, there is something wrong with `dfrag->list` or `dfrag` itself. Both boxes are single-cpu, btw.

[2021-04-08 12:27] dcaratti commented on #158
@matttbe, I see that the current kernel is expecting address family + address (and optionally port number) for selecting which subflows should send the MP_PRIO, instead of 'id'. Is there a reason behind this? (if not, I can try to write a small patch for Linux that changes this)

[2021-04-08 15:53] pabeni commented on #178
The soft lockup is likely caused by a loop in the dfrag list. That in turn is likely just another kind of corruption as the one causing the kernel BUG. So likely the two splat are different symptoms of the same root cause.

Looks like 5.12-rc5 already has all the relevant fix previously staged in our devel branch.

Could you please try to reproduce the issue with running a debug kernel on the vps

[2021-04-08 18:34] matttbe commented on #158
As discussed at the last meeting:

Probably we didn't think about adding support for the ID, we certainly focus on testing this with `pm_nl` where we already had the IP + port and we only implemented that.

But consistency is important, so yes please add support for that in the Linux kernel :)

[2021-04-08 19:38] matttbe commented on #178
@darkwrat : thank you for the collected data, very useful! We discussed about that at our last meeting: see Paolo's message

Sorry for the delay in the answers, around Easter, many people -- including myself -- are on PTO or have less time to look because their colleagues are on PTO :)
Hopefully, KASAN will help here understanding where this list corruption comes from!

[2021-04-10 17:21] darkwrat commented on #178
I've made some attempts at capturing the KASAN output today.

@pabeni fedora kernel-debug packages seem to leave KASAN disabled (since https://src.fedoraproject.org/rpms/kernel/c/6a28602fa738744deaf29ee931c02193843c43f8?branch=rawhide). So I've followed this article (https://fedoraproject.org/wiki/Building_a_custom_kernel) and built a latest rawhide kernel with a `kernel-local` config like this:
[

[2021-04-11 10:22] darkwrat commented on #178
@pabeni is it possible that `list_add_tail(&dfrag->list,` is actually a use of unitialized `dfrag->list` member when `dfrag` comes from  `mptcp_carve_data_frag` ?

[2021-04-13 11:23] pabeni commented on #178
First thing first, thanks for all the effort spent here!

This looks quite elusive. I suspect there is some bad interaction with CONFIG_PREEMPT=y. One random shot in the dark would be repeating the scenario disabling that (# CONFIG_PREEMPT is not set).

Another wildguess/debug attempt would be the following patch:

[code]

(beware: it will increase the memory usage)

Your kasan configuration LGTM.

[2021-04-13 12:50] darkwrat commented on #178
[code]

That is already the case for rawhide kernels (# CONFIG_PREEMPT is not set).

I'll give it a try, presumably tomorrow.

Please disregard the question, I've read it wrong. And thank you for clarification!

[2021-04-13 16:16] pabeni commented on #178
Whoops, did not know that.

Uhm... due to the above low expectation just went even lower :(

BTW I notice there is a sendto() in the relevant backtrace, which is quite unexpected for [mp]tcp. Looking at ss-server source (current git at https://github.com/shadowsocks/shadowsocks-libev), it looks like sendto() could be invoked on TCP sockets only if fastopen is enabled:

https://github.com/shadowsoc

[2021-04-14 06:37] darkwrat commented on #178
shadowsocks-libev-3.3.5-4.gitb5d6225.fc33.x86_64 -- git hash b5d6225 -- got it from https://copr.fedorainfracloud.org/coprs/outman/shadowsocks-libev/

Got it from the run when soft lockup doesn't happen, so that it would not be truncated.

list_add corruption. prev->next should be next (ffff9e24037fb930), but was 768c12efb29c0dac. (prev=ffff9e24051218d0).

Call Trace:
 mptcp_sendmsg+0x89f/0x9b0
 s

[2021-04-14 07:29] darkwrat commented on #178
I believe it's just glibc using sendto/recvfrom in place of the send/recv syscall, and is not related to fast open. https://github.com/bminor/glibc/blob/595c22ecd8e87a27fd19270ed30fdbae9ad25426/sysdeps/unix/sysv/linux/send.c#L28

[2021-04-14 14:09] darkwrat commented on #178
[code]
@pabeni I cannot reproduce the bug anymore after applying that patch. It seems to work.

[2021-04-16 07:49] matttbe commented on #172
My CI got the issue again:

[code]

[2021-04-16 08:37] darkwrat commented on #178
The strace output in the comment above is collapsed, here it is in full:

[2021-04-16 08:58] pabeni commented on #178
Hil,

as discussed in yday mtg, the above patch is not upstreamable and we need to understand where/why the corruption happens. Could you please try the attached (and very rough) dbg patches?

[0001-kasan.patch.txt](https://github.com/multipath-tcp/mptcp_net-next/files/6323773/0001-kasan.patch.txt)
[0002-mptcp-dbg.patch.txt](https://github.com/multipath-tcp/mptcp_net-next/files/6323777/0002-mptcp-

[2021-04-16 14:32] darkwrat commented on #178
Hi, I'm running a kernel with these patches right now, and I was able to reproduce the list_add corruption without soft lockup and without any KASAN output in dmesg ((

I saw some KASAN output on the tty1 on vnc once, but it was truncated. I'll play with it some more -- see if I can make kdump work, etc.

list_add corruption. prev->next should be next (ffff888034db34f0), but was 754ec6ba305c5344.

[2021-04-16 15:31] pabeni commented on #178
On Fri, Apr 16, 2021 at 4:33 PM Maxim Galaganov ***@***.***>
wrote:

Even truncated output would be useful. Double-checking: are you sure that
was a KASAN output and not the WARN_ON() splat that the 2nd patch could
produce - in a critical scenario?

Thanks!

Paolo

[2021-04-16 15:48] darkwrat commented on #178
There is something new.

[code]

[2021-04-16 16:21] VenkateswaranJ opened #180 "Get an update when MPTCP fall back to TCP"
I want to know at runtime if the MPTCP connection fallback to TCP for some reason. Where can I get that info at the userspace level?

[2021-04-17 07:46] darkwrat commented on #178
I have reproduced it again, here is the screenshot.

![Screenshot](https://user-images.githubusercontent.com/1160968/115105796-ca56ca00-9f69-11eb-9227-0a5fb652f0e0.png)

Yes, there is `page dumped because: kasan: bad access detected` line on the image above.

[2021-04-19 14:48] pabeni commented on #178
Thank you again for all the testing.
It looks like that the code is not hitting any of the suspected possible critical paths - specifically, since the 2nd patch did not splat, we are reasonably sure 'current' is not re-entering on mptcp_sendmsg().

The last splat is related to the swap partition. can you please share the contents of /proc/mount and /etc/fstab? I'm wondering which fs is used for th

[2021-04-19 15:19] matttbe commented on #75
@geliangtang I just updated the description following our discussion we had.

[2021-04-19 15:39] pabeni commented on #178
Here comes the debug patch mentioned above, please have a spin at this one (dropping the previous 2).

[0001-mptcp-splat-on-bogus-frag-free.patch.txt](https://github.com/multipath-tcp/mptcp_net-next/files/6337303/0001-mptcp-splat-on-bogus-frag-free.patch.txt)

Thanks!

[2021-04-19 16:46] #162 closed, assigned to pabeni

[2021-04-19 18:51] darkwrat commented on #178
Helo,

Got the following splat with this patch.

[code]

[2021-04-19 19:02] darkwrat commented on #178
It's just (ext4 root)
[code]
.. to prevent running out of memory on the cheapest vps with KASAN kernel.
The soft lockup is reproducible on another ones though, without swap and with more mem.

/proc/mounts
[code]

/etc/fstab
[code]

[2021-04-21 09:05] darkwrat commented on #178
Here are decoded splats, just for completeness.

[code]

[2021-04-21 09:31] pabeni commented on #178
Uhmmm.. I hoped to see some unusual skb clone/free code path, but this is the usual TCP ACK processing call-path.

It looks like the page_frag can be released by __kfree_skb() in case of TCP fallback, when any incoming TCP ack will flush completely the MPTCP-level rtx level, even for still-to-be-acked at TCP level data.

Could you please confirm that fallback take place reporting the output of:

n

[2021-04-21 09:59] darkwrat commented on #178
This makes sense. Probably mptcp-enabled ss-server is trying to establish an mptcp connection with the destination, and falls back to tcp -- hence the splat.

  [ss-local] --mptcp--> [ss-server] --tcp-fallback--> [nginx]

The first thing I did was an attempt at downloading a file served by an nginx without mptcp support.

[code]
[code]

So I guess my next shot may be building a kernel with KASAN d

[2021-04-21 12:05] matttbe commented on #180
As discussed on IRC: a userspace application is currently not notified when a fallback is done.

This could eventually be done with CMSG, similar to what is proposed in #78.
But then the userspace app should be able to query the status, either via a `MPTCP_INFO` or a specific one like it is done in mptcp.org kernel with `MPTCP_ENABLED` or something similar.

As a workaround, it is still possible t

[2021-04-21 12:31] darkwrat commented on #178
I've got rid of LD_PRELOAD trick (use_mptcp.sh) and excluded fallback from the picture with a patch to ss-server.

List corruption seems to happen regardless of tcp fallbacks.
I have also seen list corruption without tcp_ack splat.
Below is nstat after list corruption already happened.

[code]

[code]

[2021-04-21 18:14] #146 closed, assigned to mjmartineau

[2021-04-22 19:17] matttbe commented on #180
Some ideas from the last meeting we had today:

[2021-04-22 19:33] matttbe commented on #172
@pabeni : I was able to reproduce it locally \o/
Do you have any suggestion on what would be useful to extract? :)

[2021-04-23 16:59] pabeni opened #181 "implement data_fin ack retransmission for subflow in TIME_WAIT state"
if the subflows land in timewait status, e.g. receive and ack a DATA_FIN after having their closed their own xmit side, and the data fin ack is lost, that last packet is never retransmitted, as the TIME_WAIT tcp socket does not include MPTCP options when they generate replies.

We need to provide mptcp extensions for timewait sockets (as we did for tcp_request_sock) and keep adding DATA_FIN ack in

[2021-04-23 17:31] cpaasch opened #182 "[syzkaller] KASAN: slab-out-of-bounds Write in tcp_init_congestion_control"
[code]

No reproducer

HEAD is at:
58b5536fed9c ("DO-NOT-MERGE: mptcp: enabled by default")  (HEAD, tag: export/20210422T142551, mptcp_net-next/export) (27 hours ago) <Matthieu Baerts>
721b0ae70a7f ("DO-NOT-MERGE: mptcp: add GitHub Actions")  (27 hours ago) <Matthieu Baerts>
c40734587bd1 ("DO-NOT-MERGE: mptcp: use kmalloc on kasan build")  (27 hours ago) <Paolo Abeni>
6630994b59aa ("DO-NOT-MERGE:

[2021-04-23 18:14] matttbe commented on #181
@pabeni Thank you for adding this ticket!
To you, is it more a bug or a new feature? :)

[2021-04-23 22:48] mjmartineau opened #183 "MP_CAPABLE 'C' flag is ignored"
RFC 8684 section 3.1 includes a 'C' flag in the MP_CAPABLE option. The kernel currently ignores that flag - it is not sent or parsed. This flag indicates that the sender will not accept joins to the source address and the receiver "MUST NOT" send MP_JOINs to that address & port.

The flag needs to be parsed and the path manager updated (along with netlink API flags?) to make sure the peer's subflo

[2021-04-24 07:17] geliangtang commented on #183
Hi Mat, I'll work on this issue.

[2021-04-25 17:15] darkwrat commented on #178
Hi! I think I may have something of value to report this time.

I was able to reproduce the issue with both ss-server and ss-local on my laptop, in fact it's reproducible on everything I can get my hands on.
Also I was dumb enough to test the first KASAN patch against the mainline kernel, and not the mptcp_net-next one..
So I have build mptcp_net-next from 0ef01ab and applied the 0001-kasan.patch.

[2021-04-25 18:05] darkwrat commented on #178
Also a splat from the recvmsg path:

[code]

[2021-04-25 21:44] VenkateswaranJ opened #184 "Sending data over multiple subflow Kernel - 5.10.0-051000-generic"
I'm trying to send data over multiple subflow as mentioned in this [changelog](https://github.com/multipath-tcp/mptcp_net-next/wiki).

![mptcp_fallback_version1](https://user-images.githubusercontent.com/45777176/116008324-3d200f00-a614-11eb-8922-029cd2aef0b8.png)

**Server and Client OS**: Ubuntu 20.04 (kernel - 5.10.0-051000-generic) with mptcp enabled.
**Router OS**: Ubuntu 20.04 (Kernel 5.8 -

[2021-04-26 06:55] darkwrat commented on #176
I've noticed `Attempt to release TCP socket in state 8` errors appear when a process exits, that had unaccepted connections in backlog. Here is a simple reproducer.

[code]

[2021-04-26 07:02] matttbe commented on #178
Hi Maxim,

Thank you for the new splats!

They look interesting but I don't know if they are linked to MPTCP. Except if the initial corruption comes from there?
Both the client and server are managing TCP and MPTCP connections, right?

@pabeni : WDYT?

[2021-04-26 07:06] matttbe commented on #176
@darkwrat Thank you for looking at that.

So in your case, there is no BPF program loaded, right? And I guess you don't have the same issue with `IPPROTO_TCP`, right?
I guess we don't manage this case properly.

[2021-04-26 07:18] darkwrat commented on #176
I have not loaded any BPF programs. And I have tried changing protocol to IPPROTO_TCP for both client and server sockets, one at a time. `Attempt to release TCP socket in state 8` is only observable when both of them are IPPROTO_MPTCP,  on 5.11.13-200.fc33.x86_64 and also on mptcp_net-next kernel from 0ef01ab.

[2021-04-26 07:35] matttbe commented on #176
@darkwrat Thank you for this, very useful. I'm going to create a new bug report to split the two issues.

[2021-04-26 08:47] matttbe opened #185 "kernel warning when processes exit with unaccepted connections in the backlog"
@geliangtang noticed in #176  that when running the BPF selftests, this message is printed in kernel logs:

    Attempt to release TCP socket in state 8

@darkwrat noticed that it is not related to BPF only:

[code]

[2021-04-26 08:48] matttbe commented on #176
Let's focus here only on the "fallback to TCP" error. For the other one, please look at #185

[2021-04-26 12:21] matttbe commented on #184
Hi,

Which IPRoute2 commands did you run exactly?

In theory, you need to:
- increase the limits (OK)
- add a new `endpoint` on the server side to `signal` an IP (10.100.130.2)
- add a new `endpoint` on the client side to create a new `subflow` using the second IP (10.100.128.2)
- add routing rules to make sure the traffic from one IP is using the correct interface (`ip rule from ... table ...` +

[2021-04-26 16:32] VenkateswaranJ commented on #184
ip mptcp endpoint add 10.100.130.2 dev enp0s8 signal

ip mptcp endpoint add 10.100.128.2 dev enp0s8 subflow

I just followed this https://multipath-tcp.org/pmwiki.php/Users/ConfigureRouting and verified that source routing is working via ping.

server:
`ip route del unreachable 10.100.128.2 from 10.100.66.2 table 1` // link 1
`ip route del unreachable 10.100.64.2 from 10.100.130.2 table 2` // link

[2021-04-27 07:18] matttbe commented on #184
The client should try to create a subflow:
- from all allowed IPs: initial one + flagged as `subflow` with `ip mptcp` command
- to all known IP of the server: initial one + all the one that have been signalled via ADD_ADDR sent by the server

Note that I think older releases stop creating new subflows if one has failed. Please check if you have this fix: 557963c383e8209b14de91bf2a0301a41b94d8c4

B

[2021-04-27 08:10] VenkateswaranJ commented on #184
@matttbe  Do you mean to patch the export branch with my kernel manually? Does **[kernel 5.10.32](https://www.kernel.org/)** (Release date 2021-04-21) has this patch ?

Thanks for the info, **is it available in out-of-tree implementation?**

[2021-04-27 08:25] matttbe commented on #184
I guess it doesn't contain this patch.
Would it be possible to compile the kernel using our export branch?

But if you don't have errors to create subflows (maybe the `ip route unreachable` would cause one, not sure), the kernel should try to create the different connections.
I don't know if we have debug message when we fail to create a new connection. But traces commands can still be used.

Yes

[2021-04-27 08:57] darkwrat commented on #178
Hi Matthieu. Sure, both of them are managing TCP and MPTCP connections. Still, the only thing I couldn't eliminate from the flow triggering the bug is MPTCP, things work fine for me with regular TCP.

I've made a reproducer for the fallback case of use-after-free on an mptcp_net-next kernel with `0001-kasan.patch.txt` applied.
For me it only triggers the use-after-free splat when it's the first mp

[2021-04-27 10:16] matttbe commented on #178
@darkwrat  Thank you very mush for this reproducer, very helpful!

I can confirm the KASAN splat on my side but only with this patch `0001-kasan.patch.txt`:

[code]

Hopefully, not a false positive!

I hope we will have time to look at this :)

[2021-04-27 17:03] VenkateswaranJ commented on #184
I tried to compile the export branch but unfortunately, I couldn't make it. Will that patch available in kernel release 5.12?

[2021-04-27 17:59] matttbe commented on #184
I'm not sure, this might be considered as a change behaviour (more subflows would be created)
But again, that's only if you have errors creating subflows.

[2021-04-27 18:07] VenkateswaranJ commented on #184
Where can I see those errors ? In dmesg ? Should I need to enable any debug flag for that ?

[2021-04-27 18:59] matttbe commented on #184
I think there should be debug lines but you need to enable it (e.g. via dynamic debug)

  echo "file net/mptcp/* +fmp" > /sys/kernel/debug/dynamic_debug/control

I think there were other important modifications later like supporting IPv4 mapped in IPv6.

[2021-04-27 20:18] VenkateswaranJ commented on #184
I tried with kernel 5.10.0 but there is no luck (it still tries for the master flow destination IP).

@matttbe  Can you give me a hint on **which MPTCP implementation (or RFC version) is used by most of the mobile devices and data centres? are they using upstream kernel implementation ( RFC 8684)?**

You can close this question with the answer to my above question.

[2021-04-28 06:46] matttbe commented on #184
All major deployments I know are using the out of tree implementation. Simply because these projects have been started way before the beginning of this MPTCP Upstream project and switching implementation is a big move. New projects should use the latest kernel.

I'm pretty sure that there is no mobile devices with MPTCP upstream so far because it is too recent. I guess phones released recently are

[2021-04-28 06:46] #184 closed, assigned to nobody

[2021-04-28 16:27] fw-strlen commented on #185
Probably due to "mptcp: create msk early". The unaccepted tcp connections reference an msk that isn't exposed to userspace.
Should be easily fixable by some minor annotation via flag in mptcp_sock structure.

[2021-04-29 16:05] matttbe commented on #182
Thank you for the bug report! :)

Could it eventually be due to aa1fbd94e5c7 ("mptcp: sockopt: add TCP_CONGESTION and TCP_INFO")?
cc: @fw-strlen

[2021-04-29 23:22] mjmartineau opened #186 "Add netlink command support"
To allow userspace path management, both the netlink path managment events (b911c97c7dc7) and commands are required. Right now, mptcpd can receive events but not control which subflows are opened or closed. The command API should match what was implemented in [mptcp_trunk](https://github.com/multipath-tcp/mptcp/tree/mptcp_trunk).

This requires:
- Make each socket configurable for either in-kernel

[2021-05-03 13:36] fw-strlen commented on #185
As Paolo pointed out, this bug was added with the DATA_FIN state machine.  If a DATA_FIN is sent, socket transitions from ESTABLISHED to CLOSE_WAIT, which in turn causes the code supposed to deal with the cloned msk socket to get skipped.
Patch has been sent, it adjusts the test in mptcp_sock_destruct to cover CLOSE_WAIT as well:

[code]

[2021-05-03 13:36] #185 closed, assigned to fw-strlen

[2021-05-03 13:38] fw-strlen opened #187 "add recvmsg support for ancillary data"
Add support for cmsg(3) to mptcps receive path so we can support SO_TIMESTAMP(NS) option and possibly introduce mptcp-specific notifications in the future.

[2021-05-03 14:58] pabeni commented on #178
[I'm sorry for the latency, I was unavailable in path weeks]

Whoops, I initially missed the WARN_ON_ONCE() splat. That is possibly unrelated but messing with IRQ/BH context could effectively cause the list corruption issues you observe. It should be possible to rule that out: the WARN_ON_ONCE() issue should be fixed by the net-next upstream commit e7020bb068d8be50a92f48e36b236a1a1ef9282e.

Could

[2021-05-03 15:43] darkwrat commented on #178
Thank you for the reference! I will move a newer mptcp-net-next.
Still, the wifi stuff is specific for my laptop, which I now use for testing this, but the initial issue manifested itself on a vps, and it definitely has no wifi. I believe I will have sometime to work on a proper reproducer this week.

The commit was 0ef01abf1026a3c8c4e2dc14ef61d2bb13981b47.

[2021-05-04 11:09] darkwrat commented on #178
Is is possible that `sk->sk_lock.slock` is not held/taken in `__mptcp_push_pending` when it is called from `mptcp_release_cb` ?

[2021-05-05 14:54] pabeni commented on #178
the release callback (mptcp_release_cb()) is called by the core sock code (release_sock() in net/core/sock.c) under the socket lock and the mentioned spinlock held. sk->sk_lock.slock is released by the mptcp code just before invoking __mptcp_push_pending(), but socket lock is still held - will be released by release_sock() after that the release callback will complete.

Accessing fields protected

[2021-05-05 20:55] darkwrat commented on #178
So I'm suspecting a data race, looking at how my strace contains only sendmsg/recvmsg/epoll_wait. I've built a kernel from 8d643b3397375d859f91d76ef31d25c6b98983d3 with KCSAN enabled and started racing epoll_wait against an mptcp-fallbacked-to-tcp connection with some stupid piece of code. I've got the two following splats so far, and a couple of WARN's. Though the WARN's are from the older distro

[2021-05-06 10:58] pabeni commented on #178
This data race is real, but harmless. Can likely be silenced with the following patch:
[code]

This looks unrelated from MPTCP.

This looks like #172. It's nice your reproducer can trigger it easily! I'll try to add some dbg code to dive into it.

Thanks!

Paolo

[2021-05-06 14:57] matttbe opened #188 "Netlink events for MP_TCPRST"
Linked to #53 : we would like to have netlink events in case of MP_TCPRST and visible with `ip monitor`

[2021-05-06 14:58] matttbe opened #189 "Wireshark / TCPDump doesn't understand option subtype 8 (MP_TCPRST)"
Linked to #53 : we need to adapt these tools for `MP_TCPRST`

- [x] Wireshark support
- [x] TCPDump support

[2021-05-06 15:06] pabeni commented on #172
something as simple as:

[code]

[2021-05-06 15:10] dcaratti commented on #189
I can have a look at this, while re-validating the MP_RESET packetdrill tests (see #143)

[2021-05-06 15:11] dcaratti commented on #188
I can have a look at this, while re-validating the MP_RESET packetdrill tests (see #143)

[2021-05-06 15:14] mjmartineau opened #190 "Wireshark doesn't understand MP_CAPABLE C flag"
The RFC 8684 C flag is still interpreted as a reserved flag bit in Wireshark 3.4.4, needs to be updated for "don't join on initial subflow addr/port" C flag.

- [ ] Wireshark support
- [ ] TCPDump support

[2021-05-06 19:08] matttbe commented on #172
@pabeni: thank you for the suggestion!

I got the debug line: `MPTCP: msk=000000000469329e fwd=266`

[code]

[2021-05-06 19:37] matttbe commented on #53
Thank you for your work!

With #188 and #189 ,  we can close this one!

[2021-05-06 19:37] #53 closed, assigned to fw-strlen

[2021-05-06 19:43] matttbe commented on #134
Can be closed thanks to Geliang and Paolo's commits and reviews from Mat!

- 9e37234f4af0: mptcp: add csum_enabled in mptcp_sock
- 8e5a007a6f49: mptcp: generate the data checksum
- 65d5dab35254: mptcp: add csum_reqd in mptcp_out_options
- fa7ac4af5f35: mptcp: send out checksum for MP_CAPABLE with data
- 020aa2793d7a: mptcp: send out checksum for DSS
- f343075f84d8: mptcp: add sk parameter for mptc

[2021-05-06 19:43] #134 closed, assigned to pabeni, geliangtang

[2021-05-06 21:24] darkwrat commented on #178
Here is the repro for the soft-lockup. Please BEWARE (intentionally causes kernel bug).

[code]

[code]

[2021-05-07 06:38] geliangtang commented on #176
@matttbe @darkwrat

drakwrat's test can reproduce the "fallback to TCP" error too:

[code]
----

<7>[ 1477.059635] MPTCP: msk=000000006bf0cf61
<7>[ 1485.132216] MPTCP: subflow=000000002296fc22
<7>[ 1485.132233] MPTCP: subflow=000000002296fc22, family=2
<7>[ 1485.132242] MPTCP: subflow=000000002296fc22
<7>[ 1485.132411] MPTCP: msk=000000005b84960a
<7>[ 1485.132688] MPTCP: subflow=000000002388ad62
<

[2021-05-07 07:54] matttbe commented on #176
@geliangtang I just realised that but is it really an error?

I think we are in a situation where we expect the [`MP_CAPABLE`'s 4th ACK](https://www.rfc-editor.org/rfc/rfc8684.html#section-3.1-6.4) but instead, we get a FIN (I guess, see `[ 1485.135233] MPTCP: msk=00000000875940e7 state=4`). Because the MPTCP connection was not fully established, we don't need to send a DATA_FIN, we can fallback t

[2021-05-07 08:05] geliangtang commented on #176
@matttbe I just sent a patch to the ML to avoid fallback to TCP when data_fin enabled.

[2021-05-07 15:41] #182 closed, assigned to pabeni

[2021-05-10 09:54] pabeni commented on #178
This is great! I can reproduce the soft lockup issue locally! I think/hope it will help greatly!

Out of sheer curiosity:

[code]
AFAIK the above violates C standard for naming (and the compiler bails here, I had to rename as 'main'). I'm wondering if there was a C&P typo or your compiler really digest it? If so which compiler are u using? (version)

Thanks!

[2021-05-10 11:55] Kenoko opened #191 "Could you please let me know how to use "ip mptcp end points backup"?"
I try to make backup-interface, but I cannot do it,
![image1](https://user-images.githubusercontent.com/83955735/117651306-c581e080-b1cc-11eb-9025-8030c573d0fa.jpg)
**Server and Client OS**: Ubuntu21.04(kernel:5.11.0-16-generic)
I confirmed I could send mptcp packets on both paths from client to server. so I want to make an active/standby structure in a next step.
I executed a following command on

[2021-05-10 13:23] darkwrat commented on #178
Good to know it's not just me seeing things. :))
Though I'm a bit uncomfortable that producing the repro took that long for me.

My compiler spits that out too. I've put that suffix as a primitive safeguard to prevent unintentionally locking up a system that is not disposable.

Btw I've been actively using the proxy setup on the 5.12.0 kernels with sk_page_frag patch for a couple of days, and it's

[2021-05-10 20:07] pabeni commented on #178
looks like the following patches fixes for good the issue here, could you please double check in your own setup?

Thanks!

[code]

[2021-05-11 06:10] darkwrat commented on #178
I've been running a proxy with this patch for a couple of hours and can confirm that the issue is gone, i.e. I cannot reproduce it anymore.

[2021-05-12 16:13] #178 closed, assigned to pabeni

[2021-05-12 18:36] dcaratti commented on #189
https://gitlab.com/wireshark/wireshark/-/merge_requests/2995

[2021-05-13 09:50] pabeni commented on #172
not sure if the following is the root cause, but looks like currently we could update sk_forward_memory without owning the mptcp_data_lock() in:

mptcp_worker() -> __mptcp_retrans() -> __mptcp_clean_una_wakeup() -> __mptcp_clean_una() [memory pressure] -> __mptcp_update_wmem()

@matttbe: could you please test the following patch:
[code]
I think calling clean_una there is not required, will be done

[2021-05-13 16:01] matttbe commented on #172
@pabeni : thank you for the patch!

After 10 attempts, I got this error:

[code]

It looks different, no?

[2021-05-13 16:09] matttbe opened #192 "selftests: connect: "poll timed out" issue"
After 10 attempts, when trying to repro #172 , I got this error:

[code]

[2021-05-13 20:22] matttbe commented on #192
Another issue, slightly different:

[code]

[2021-05-14 08:40] matttbe commented on #192
Reproduced by @pabeni after 60 attempts but not reboots in between → quicker to repro that way.

[2021-05-14 11:48] pabeni commented on #192
Possibly the same root cause, I think we can hit the above when receiving a rst from the peer (as in the previous log), depending on the exact timing.

[2021-05-14 17:35] pabeni commented on #192
From IRC:
<pabeni> [c]  MPC ->
<pabeni> [s] MPC SYN ACK <-
<pabeni> [c] MPC ACK ->
<pabeni> [c] MPC ACK + data ->
<pabeni> (split on several segments)
<pabeni> (pkt drops)
<pabeni> (only 2# and later reach the server)
<pabeni> [s] TCP ACK (sack) <-
<pabeni> here the server generate a TCP 'sack' before the client key reaches MPTCP stack
<pabeni> the server don't have enough info to generate the MPT

[2021-05-15 09:42] matttbe commented on #191
Hello,

The configuration you did seems good. Did you also configure IP rules and routes?
http://multipath-tcp.org/pmwiki.php/Users/ConfigureRouting

Could you share some captures, one for each interface of the client (or server) to see if the behaviour seems correct? I suspect other subflows to be used, not the one you expect.

[code]

[2021-05-15 12:47] Kenoko commented on #191
Thanks for your support!
I referred the configuration of the website.
I configured routing on both servers as below. and There is no cross connection between each links on router.

**route on client**

192.168.20.0/24 dev enp0s9 proto kernel scope link src 192.168.20.2
192.168.30.0/24 via 192.168.10.1 dev enp0s8 proto static
192.168.40.0/24 via 192.168.20.1 dev enp0s9 proto static

**routing polic

[2021-05-15 12:58] geliangtang opened #193 "Fullmesh path manager support"
Implement the in-kernel fullmesh path manager like on the mptcp.org kernel.

[2021-05-15 13:02] geliangtang opened #194 "Round-robin packet scheduler support"
Implement the round-robin packet scheduler like on the mptcp.org kernel.

[2021-05-15 13:13] geliangtang commented on #75
Round-robin packet scheduler support #194

[2021-05-15 13:14] geliangtang commented on #74
Fullmesh path manager support #193

[2021-05-17 19:12] #172 closed, assigned to pabeni

[2021-05-17 20:53] cpaasch commented on #194
Just wondering: What is the use-case for the round-robin scheduler? As far as I can see, the round-robin scheduler has probably the worst possible performance in about any metric.

[2021-05-18 03:47] geliangtang commented on #194
No use-case for the round-robin scheduler. I just want to port some other schedulers from the mptcp.org kernel, and the round-robin is the simplest one, so I chose it to implement first. It has the worst performance indeed, let's use it for testing only.

[2021-05-18 06:38] matttbe commented on #194
Hi Geliang,

Thank you for having created the ticket!

It might be good to discuss about the architecture for that prior any implementations. I think it would be good to extend / change the behaviour with BPF. We could have the RR packet scheduler as an example.

[2021-05-18 15:16] matttbe commented on #192
I had an issue when being on top of the export branch with these 3 patches:

[code]

output:

[code]

To reproduce:

[code]

[2021-05-18 18:10] matttbe commented on #192
Now running with perf (compiled from the source tree) using:

[code]

The first `perf record` command causes this warning:

[code]

But it seems to create `perf.data` file.
No issues after 100 iterations so far.

[2021-05-19 07:05] matttbe commented on #172
When trying to reproduce #192 with perf, I got this warning after 14 hours of tests:

[code]

On top of yesterday's `export` branch (`t/upstream` but that's the same):

[code]

In [perf.zip](https://github.com/multipath-tcp/mptcp_net-next/files/6506513/perf.zip) file, we can file:

- perf.data: for the attempt 658, the one **AFTER** the warning but `mptcp_connect.sh` has failed
- perf.data.old: at

[2021-05-19 10:18] matttbe commented on #172
`perf report` doesn't report anything for `perf.data.old` but it does with `perf.data`:

[code]

Not sure if this one is useful then :-/

[2021-05-19 16:13] matttbe commented on #172
I had it again, without perf, with @pabeni's 4th patch:

[code]

On top of yesterday's `export` branch with these 4 patches:

[code]